<!-- Content Header (Page header) -->
<section class="content-header">
     <h1>
		<th:block th:text="${MODEL.title}"></th:block>
		<small></small>
     </h1>
     <ol class="breadcrumb">
         <li>
             <a href=".">
                 <i class="fa fa-home"></i>
                 Trang chủ
             </a>
         </li>
         <li class="active" th:text="${MODEL.title}">Actived page</li>
     </ol>
 </section>
 <!-- Main content -->
 <section class="content">
 	<div class="row">
 		<div class="col-md-6">
 			<div class="box box-primary" id="box-ds">
 				<div class="box-header with-border">
 					<h3 class="box-title">Import số liệu</h3>
 				</div>
 				<input type="hidden" th:value="${#authentication.getPrincipal().getIdTruong()}" id="idTruongSession"></input>
 				<input type="hidden" th:value="${#authentication.getPrincipal().getLoaiTruong()}" id="idLoaiTruongSession"></input>
 				<div class="box-body">
 					<form method="POST" id="frm-1" enctype="multipart/form-data">
 					<div class="form-group" id="div_truong">
 					<label>Huyện/TP (*)</label>
 								<select class="form-control" id="cmb-phonggd" name="phonggd">
 									<option value="1">TP. Cà Mau </option>
 									<option value="2">Thới Bình </option>
 									<option value="3">U Minh </option>
 									<option value="4">Trần Văn Thời</option>
 									<option value="5">Cái Nước</option>
 									<option value="6">Phú Tân</option>
 									<option value="7">Đầm Dơi</option>
 									<option value="8">Năm Căn</option>
 									<option value="9">Ngọc Hiển</option>
 								</select>
 								</div>
 				    <div class="form-group" id="div_cap">
 				    <label>Cấp (*)</label>
 								<select class="form-control" id="cmb-cap" name="cap">
 								
 								</select>
 							</div>
 					<div class="form-group">
 					<label>Tháng (*)</label>
 							<div class="form-group">
      							<select class="form-control" id="cmb-thoi-gian" name="thoiGianImportthoiGianImport">
 									<option value="">-- Vui lòng chọn Tháng --</option>
 									<option value="1">Tháng 1</option>
 									<option value="2">Tháng 2</option>
 									<option value="3">Tháng 3</option>
 									<option value="4">Tháng 4</option>
 									<option value="5">Tháng 5</option>
 									<option value="6">Tháng 6</option>
 									<option value="7">Tháng 7</option>
 									<option value="8">Tháng 8</option>
 									<option value="9">Tháng 9</option>
 									<option value="10">Tháng 10</option>
 									<option value="11">Tháng 11</option>
 									<option value="12">Tháng 12</option>
 								</select>
 							</div>
 					<label>Năm (*)</label>
 								<select class="form-control" id="cmb-nam-hoc" name="namHoc">
 									<option value="">-- Vui lòng chọn Năm --</option>
 								</select>
 							</div>
 							
	 					<div class="form-group">
	 					<label>Import số liệu lớp (*)</label>
	 						<!-- <div class="input-group"> -->
	 							<input type="file" name="fileData" id="fileData" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" class="form-control"/>
	 							<!-- <span class="input-group-btn">
	 								<button class="btn btn-default btn-flat" type="button" id="btn-ok"><i class="fa fa-check-circle"></i></button>
	 							</span> -->
	 						<!-- </div> -->
	 					</div>
	 					
	 					<div class="form-group">
	 					<label>Import số liệu học sinh (*)</label>
	 						<!-- <div class="input-group"> -->
	 							<input type="file" name="fileData1" id="fileData1" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" class="form-control"/>
	 							<!-- <span class="input-group-btn">
	 								<button class="btn btn-default btn-flat" type="button" id="btn-ok"><i class="fa fa-check-circle"></i></button>
	 							</span> -->
	 						<!-- </div> -->
	 					</div>
	 					
	 					<div class="form-group">
	 					<label>Import số liệu CBQL, giáo viên, nhân viên (*)</label>
	 						<!-- <div class="input-group"> -->
	 							<input type="file" name="fileData2" id="fileData2" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" class="form-control"/>
	 							<!-- <span class="input-group-btn">
	 								<button class="btn btn-default btn-flat" type="button" id="btn-ok"><i class="fa fa-check-circle"></i></button>
	 							</span> -->
	 						<!-- </div> -->
	 					</div>
	 					<div class="form-group" id="div_kqht">
	 					<label>Import kết quả học tập</label>
	 						<!-- <div class="input-group"> -->
	 							<input type="file" name="fileData3" id="fileData3" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" class="form-control"/>
	 							<!-- <span class="input-group-btn">
	 								<button class="btn btn-default btn-flat" type="button" id="btn-ok"><i class="fa fa-check-circle"></i></button>
	 							</span> -->
	 						<!-- </div> -->
	 					</div>
 					</form>
 					<div class="jdgrid" id="grid-ds"></div>
 				</div>
 				<div class="box-footer text-center">
 					<button class="btn btn-success btn-flat" type="button" id="btn-ok"><i class="fa fa-check-circle"></i> Thực hiện</button>&nbsp;&nbsp;
 				</div>
 			</div>
 		</div>
 		<div class="col-md-6">
 			
 		</div>
 	</div>
 	
 </section>
 <!-- /.content -->