<!-- Content Header (Page header) -->
<section class="content-header">
     <h1>
		<th:block th:text="${MODEL.title}"></th:block>
		<a data-toggle="modal" data-target="#modIntro" href="#" title="Hướng dẫn sử dụng"><i class="fa fa-question-circle"></i></a>
		<small></small>
     </h1>
     <ol class="breadcrumb">
         <li>
             <a href=".">
                 <i class="fa fa-home"></i>
                 Trang chủ
             </a>
         </li>
         <li class="active" th:text="${MODEL.title}">Actived page</li>
     </ol>
 </section>
 <!-- Main content -->
 <section class="content">
 	<div class="row">
 		<div class="col-md-12">
 			<div class="box box-primary" id="box-ds">
 				<div class="box-header with-border">
 					<h3 class="box-title">In hóa đơn nước</h3>
 				</div>
 				<div class="box-body">
 					<form id="frm-1">
	 					<div class="form-group">
	 						<div class="col-sm-3"></div>
	 						<div class="col-sm-6">
	 							<label>Danh sách tổ</label>
		 						<div class="form-control" style="height: 426px; margin-bottom: 10px;">
									<a href="#" id="chk-all" style="text-decoration:none"><i class="fa fa-check-square-o"></i> Chọn tất cả</a> | 
									<a href="#" id="chk-none" style="text-decoration:none"><i class="fa fa-square-o"></i> Bỏ chọn tất cả</a> |
									<a href="#" id="moRongTatCa" style="text-decoration:none"><i class="fa fa-angle-double-down"></i> Mở rộng tất cả</a> | 
									<a href="#" id="thuGonTatCa" style="text-decoration:none"><i class="fa fa-angle-double-up"></i> Thu gọn tất cả</a>
									<div id="tree" style="overflow-y: scroll; height: 391px;"></div>
				                </div>
	 						</div>
	 						<div class="col-sm-3"></div>
	 					</div>
	 					<div class="form-group" align="center" style="clear: both;">
	 						<div class="input-group">
	 							<button class="btn btn-success btn-flat" type="button" id="view">Xem hóa đơn</button>&nbsp;&nbsp;
	 							<button class="btn btn-success btn-flat" type="button" id="pdf">Xuất file PDF</button>&nbsp;&nbsp;
	 							<button class="btn btn-success btn-flat" type="button" id="xls">Xuất file XLS</button>&nbsp;&nbsp;
	 							<button class="btn btn-success btn-flat" type="button" id="xlsx">Xuất file XLSX</button>&nbsp;&nbsp;
	 							<button class="btn btn-success btn-flat" type="button" id="rtf">Xuất file RTF</button>
 							</div>
	 					</div>
 					</form>
 					<div id="pdfRenderer" style="width: 100%; height: 866px;"></div>
 				</div>
 			</div>
 		</div>
 	</div>
 </section>
 <!-- /.content -->