<!-- Content Header (Page header) -->
<section class="content-header">
     <h1>
		<th:block th:text="${MODEL.title}"></th:block>
		<a data-toggle="modal" data-target="#modIntro" href="#" title="Hướng dẫn sử dụng"><i class="fa fa-question-circle"></i></a>
		<small></small>
     </h1>
     <ol class="breadcrumb">
         <li>
             <a href=".">
                 <i class="fa fa-home"></i>
                 Trang chủ
             </a>
         </li>
         <li class="active" th:text="${MODEL.title}">Actived page</li>
     </ol>
</section>

<div class="modal" tabindex="-1" role="dialog" id="modInfo">
	<div class="modal-dialog modal-lg" role="document" style="height: 90%; width: 90%;">
		<div class="modal-content" style="height: 100%;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title">Kiểm duyệt chỉ số nước</h4>
			</div>
			<div class="modal-body" style="height: 90%;">
				<div class="box box-solid" id="box-modInfo" style="margin-bottom: 0;">
					<div class="box-body">
	 					<div class="jdgrid" id="grid-ds-cs"></div>
	 				</div>
	 				<div class="box-footer">
	 					<div class="jdpage" id="page-ds-cs"></div>
	 				</div>
 				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="modForm">
	<div class="modal-dialog modal-lg" role="document" style="height: 90%; width: 90%;">
		<div class="modal-content" style="height: 100%;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title">Kiểm duyệt chỉ số nước</h4>
			</div>
			<div class="modal-body" style="height: 90%;">
				<div class="box box-solid" id="box-modForm" style="margin-bottom: 0;">
					<div class="box-body">
	 					<div class="jdgrid" id="grid-ds-kd"></div>
	 				</div>
	 				<div class="box-footer text-center">
	 					<button class="btn btn-success btn-flat" type="button" id="btn-duyet"><i class="fa fa-check-circle"></i> Duyệt chỉ số</button>&nbsp;&nbsp;
						<button class="btn btn-default btn-flat" type="button" id="btn-cancel" data-dismiss="modal"><i class="fa fa-times-circle"></i> Đóng</button>
	 				</div>
 				</div>
			</div>
		</div>
	</div>
</div>
 
 <!-- Main content -->
 <section class="content">
 	<div class="row">
 		<div class="col-md-12">
 			<div class="box box-primary" id="box-ds">
 				<div class="box-header with-border">
 					<h3 class="box-title">Danh sách chỉ số nước</h3>
 				</div>
 				<div class="box-body">
 					<div class="row">
 						<div class="col-md-4">
 							
 						</div>
 						<div class="col-md-4">
 							
 						</div>
 						<div class="col-md-4">
 							<div class="form-group">
 								<select class="form-control" id="cmb-nhanvien">
 									<option value="0">Tất cả nhân viên</option>
 								</select>
 							</div>
 						</div>
 					</div>
 					<div class="jdgrid" id="grid-ds"></div>
 				</div>
 				<div class="box-footer">
 					<div class="jdpage" id="page-ds"></div>
 				</div>
 			</div>
 		</div>
 	</div>
 </section>
 <!-- /.content -->