<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>Đăng nhập | BC Sở Giáo Dục</title>
  <link rel="icon" href="img/fav.png" />
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css"/>
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/AdminLTE.min.css"/>
   <!--Particles-->
  <link rel="stylesheet" href="bower_components/particles/css/style.css"/>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"/>
  <style type="text/css">
  	.login-logo a {
  		color: #fff;
	    text-shadow: 0 2px 3px rgba(0,0,0,.55);
  	}
  	 .login-box-msg {
      font-size:20px;
      font-weight:400
    }
    .login-box-body {
      border-top: 4px solid #367fa9;
      background-color: rgba(255,255,255,0.7);
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.55);
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,.55);
    box-shadow: 0 2px 3px rgba(0,0,0,.55);
    }
  </style>
</head>
<body class="hold-transition login-page" id="particles-js">
<div class="login-box">
  <div class="login-logo">
    <a>HỆ THỐNG BÁO CÁO <BR/><b style="font-size:20pt">Sở Giáo dục và Đào tạo Cà Mau</b></a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
     <p class="login-box-msg"><span th:if="${param.error}" class="text-danger">Đăng nhập không thành công!</span><span th:unless="${param.error}">Đăng nhập tài khoản</span></p>
	
    <form th:action="@{/login}" method="post">
      <div class="form-group has-feedback">
        <input type="text" class="form-control" name="username" placeholder="Tên đăng nhập"/>
        <i class="fa fa-user form-control-feedback"></i>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" name="password" placeholder="Mật khẩu"/>
        <span class="fa fa-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-12 text-center">
          <button type="submit" class="btn btn-success btn-flat">Đăng Nhập</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
    <!-- /.social-auth-links -->
  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
<p style="position:fixed;z-index:1;left:0;bottom:0;width:100%;color:#fff;text-align:center"><span th:text="'&copy; '+${#dates.year(#dates.createNow())}"></span> <a href="http://camau.vnpt.vn" target="_blank" style="font-weight:bold;color:#fff">VNPT Cà Mau</a></p>
<!-- jQuery 3 -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- scripts particles-->
<script src="bower_components/particles/particles.js"></script>
<script src="bower_components/particles/js/app.js"></script>
</body>
</html>
