<!-- Content Header (Page header) -->
<section class="content-header">
     <h1>
		<th:block th:text="${MODEL.title}"></th:block>
		<small></small>
     </h1>
     <ol class="breadcrumb">
         <li>
             <a href=".">
                 <i class="fa fa-home"></i>
                 Trang chủ
             </a>
         </li>
         <li class="active" th:text="${MODEL.title}">Actived page</li>
     </ol>
 </section>
 <!-- Main content -->
 <section class="content">
 	<div class="row">
 		<div class="col-md-12">
 			<div class="box box-primary collapsed-box" id="box-ds">
 			<div class="box-header with-border" id="showBox">
              <button class="btn btn-success btn-flat" type="button" ><i class="fa fa-plus"></i> Nhập mới</button>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="toggle"><i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
            <div class="box-body" style="display: none;">
 			<form method="POST" id="frm-1">
 				<input type="hidden" name="id" id="id"></input>
 				<input type="hidden" th:value="${#authentication.getPrincipal().getIdDonVi()}" id="idPhongGd" name="idPhongGd"></input>
 				<div class="box-body">
 				<div class="col-md-4">
				<div class="form-group">
					<label>Tháng</label>
					 <select class="form-control" id="cmb-thoi-gian" name="thang">
						<option value="">-- Vui lòng chọn Tháng --</option>
						<option value="1">Tháng 1</option>
						<option value="2">Tháng 2</option>
						<option value="3">Tháng 3</option>
						<option value="4">Tháng 4</option>
						<option value="5">Tháng 5</option>
						<option value="6">Tháng 6</option>
						<option value="7">Tháng 7</option>
						<option value="8">Tháng 8</option>
						<option value="9">Tháng 9</option>
						<option value="10">Tháng 10</option>
						<option value="11">Tháng 11</option>
						<option value="12">Tháng 12</option>
					</select>
			</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label>Năm</label> 
					   <select class="form-control" id="cmb-nam-hoc" name="nam" style="width:100%">
							<option value="">-- Vui lòng chọn Năm --</option>
					   </select>
				</div>
			</div>
			<div class="col-md-4"></div>
			<div class="col-md-12">
 				<div class="form-group">
 				<label>1. Số liệu trường, lớp</label>
 					<table class="ExcelTable2007" border="1">
					  <thead>
					    <tr>
					      <th scope="col" rowspan="2" class="text-center" width="3%">TT</th>
					      <!-- <th scope="col" rowspan="2" class="text-center" width="12%">ĐƠN VỊ</th> -->
					      <th scope="col" colspan="2" class="text-center" width="8%">TRƯỜNG</th>
					      <th scope="col" colspan="6" class="text-center" width="33%">LỚP</th>
					      <th scope="col" colspan="6" class="text-center" width="33%">HỌC SINH</th>
					      <th scope="col" colspan="4" class="text-center" width="23%">CBQL - GV - NV</th>
					    </tr>
					    <tr>
						    <th scope="col" class="text-center" width="5%">Điểm chính</th>
						    <th scope="col" class="text-center" width="5%">Điểm lẻ</th>
					    	<th scope="col" class="text-center" width="5%">T.số</th>
					    	<th scope="col" class="text-center" width="5%">K1</th>
					    	<th scope="col" class="text-center" width="5%">K2</th>
					    	<th scope="col" class="text-center" width="5%">K3</th>
					    	<th scope="col" class="text-center" width="5%">K4</th>
					    	<th scope="col" class="text-center" width="5%">K5</th>
					    	<th scope="col" class="text-center" width="5%">T.số</th>
					    	<th scope="col" class="text-center" width="5%">K1</th>
					    	<th scope="col" class="text-center" width="5%">K2</th>
					    	<th scope="col" class="text-center" width="5%">K3</th>
					    	<th scope="col" class="text-center" width="5%">K4</th>
					    	<th scope="col" class="text-center" width="5%">K5</th>
					    	<th scope="col" class="text-center" width="5%">T.số</th>
					    	<th scope="col" class="text-center" width="5%">CBQL</th>
					    	<th scope="col" class="text-center" width="5%">GV</th>
					    	<th scope="col" class="text-center" width="5%">NV</th>
					    </tr>
					  </thead>
					  <tbody>
					 
					    <tr>
					      <th scope="row" class="text-center">1</th>
					      <!-- <td th:text="${#authentication.getPrincipal().getFullname()}"></td> -->
					      <td><input type="text" name="truong" id="truong" class="form-control"/></td>
					      <td><input type="text" name="diemLe" id="diemLe" class="form-control"/></td>
					      <td><input type="text" name="tsLop" id="tsLop" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="lopK1" id="lopK1" class="form-control"/></td>
					      <td><input type="text" name="lopK2" id="lopK2" class="form-control"/></td>
					      <td><input type="text" name="lopK3" id="lopK3" class="form-control"/></td>
					      <td><input type="text" name="lopK4" id="lopK4" class="form-control"/></td>
					      <td><input type="text" name="lopK5" id="lopK5" class="form-control"/></td>
					      <td><input type="text" name="tsHs" id="tsHs" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="hsK1" id="hsK1" class="form-control"/></td>
					      <td><input type="text" name="hsK2" id="hsK2" class="form-control"/></td>
					      <td><input type="text" name="hsK3" id="hsK3" class="form-control"/></td>
					      <td><input type="text" name="hsK4" id="hsK4" class="form-control"/></td>
					      <td><input type="text" name="hsK5" id="hsK5" class="form-control"/></td>
					      <td><input type="text" name="tsCbGvNv" id="tsCbGvNv" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="cbql" id="cbql" class="form-control"/></td>
					      <td><input type="text" name="gv" id="gv" class="form-control" /></td>
					      <td><input type="text" name="nv" id="nv" class="form-control" /></td>
					    </tr>
					  </tbody>
					</table>
					</div>
					</div>
				<div class="col-md-12">
					<div class="form-group">
 					<label>2. Số liệu trường, lớp, học sinh bán trú và 2 buổi/ngày</label>
 					<table class="ExcelTable2007" border="1">
					  <thead>
					    <tr>
					      <th scope="col" rowspan="3" class="text-center" width="3%">TT</th>
					      <th scope="col" colspan="2" class="text-center" width="9%">TRƯỜNG</th>
					      <th scope="col" colspan="12" class="text-center" width="44%">LỚP</th>
					      <th scope="col" colspan="12" class="text-center" width="44%">HỌC SINH</th>
					    </tr>
					    <tr>
					      <th scope="col" rowspan="2" class="text-center">Học 2 buổi/ngày</th>
					      <th scope="col" rowspan="2" class="text-center">Bán trú</th>
					      <th scope="col" colspan="2" class="text-center">Tổng số lớp</th>
					      <th scope="col" colspan="2" class="text-center">Khối 1</th>
					      <th scope="col" colspan="2" class="text-center">Khối 2</th>
					      <th scope="col" colspan="2" class="text-center">Khối 3</th>
					      <th scope="col" colspan="2" class="text-center">Khối 4</th>
					      <th scope="col" colspan="2" class="text-center">Khối 5</th>
					      <th scope="col" colspan="2" class="text-center">Tổng số HS</th>
					      <th scope="col" colspan="2" class="text-center">Khối 1</th>
					      <th scope="col" colspan="2" class="text-center">Khối 2</th>
					      <th scope="col" colspan="2" class="text-center">Khối 3</th>
					      <th scope="col" colspan="2" class="text-center">Khối 4</th>
					      <th scope="col" colspan="2" class="text-center">Khối 5</th>
					    </tr>
					    <tr>
					    	<th scope="col" class="text-center" width="3.5%">Học 2 buổi/ ngày</th>
					    	<th scope="col" class="text-center" width="3.5%">Bán trú</th>
					    	<th scope="col" class="text-center" width="3.5%">Học 2 buổi/ ngày</th>
					    	<th scope="col" class="text-center" width="3.5%">Bán trú</th>
					    	<th scope="col" class="text-center" width="3.5%">Học 2 buổi/ ngày</th>
					    	<th scope="col" class="text-center" width="3.5%">Bán trú</th>
					    	<th scope="col" class="text-center" width="3.5%">Học 2 buổi/ ngày</th>
					    	<th scope="col" class="text-center" width="3.5%">Bán trú</th>
					    	<th scope="col" class="text-center" width="3.5%">Học 2 buổi/ ngày</th>
					    	<th scope="col" class="text-center" width="3.5%">Bán trú</th>
					    	<th scope="col" class="text-center" width="3.5%">Học 2 buổi/ ngày</th>
					    	<th scope="col" class="text-center" width="3.5%">Bán trú</th>
					    	<th scope="col" class="text-center" width="3.5%">Học 2 buổi/ ngày</th>
					    	<th scope="col" class="text-center" width="3.5%">Bán trú</th>
					    	<th scope="col" class="text-center" width="3.5%">Học 2 buổi/ ngày</th>
					    	<th scope="col" class="text-center" width="3.5%">Bán trú</th>
					    	<th scope="col" class="text-center" width="3.5%">Học 2 buổi/ ngày</th>
					    	<th scope="col" class="text-center" width="3.5%">Bán trú</th>
					    	<th scope="col" class="text-center" width="3.5%">Học 2 buổi/ ngày</th>
					    	<th scope="col" class="text-center" width="3.5%">Bán trú</th>
					    	<th scope="col" class="text-center" width="3.5%">Học 2 buổi/ ngày</th>
					    	<th scope="col" class="text-center" width="3.5%">Bán trú</th>
					    	<th scope="col" class="text-center" width="3.5%">Học 2 buổi/ ngày</th>
					    	<th scope="col" class="text-center" width="3.5%">Bán trú</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <th scope="row"  class="text-center">1</th>
					      <td><input type="text" name="truongHaiBuoi" id="truongHaiBuoi" class="form-control"/></td>
					      <td><input type="text" name="truongBanTru" id="truongBanTru" class="form-control"/></td>
					      <td><input type="text" name="lopHaiBuoi" id="lopHaiBuoi" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="lopBanTru" id="lopBanTru" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="lopHaiBuoiK1" id="lopHaiBuoiK1" class="form-control"/></td>
					      <td><input type="text" name="lopBanTruK1" id="lopBanTruK1" class="form-control"/></td>
					      <td><input type="text" name="lopHaiBuoiK2" id="lopHaiBuoiK2" class="form-control"/></td>
					      <td><input type="text" name="lopBanTruK2" id="lopBanTruK2" class="form-control"/></td>
					      <td><input type="text" name="lopHaiBuoiK3" id="lopHaiBuoiK3" class="form-control"/></td>
						  <td><input type="text" name="lopBanTruK3" id="lopBanTruK3" class="form-control"/></td>
						  <td><input type="text" name="lopHaiBuoiK4" id="lopHaiBuoiK4" class="form-control"/></td>
						  <td><input type="text" name="lopBanTruK4" id="lopBanTruK4" class="form-control"/></td>
						  <td><input type="text" name="lopHaiBuoiK5" id="lopHaiBuoiK5" class="form-control"/></td>
						  <td><input type="text" name="lopBanTruK5" id="lopBanTruK5" class="form-control"/></td>
						  <td><input type="text" name="hsHaiBuoi" id="hsHaiBuoi" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="hsBanTru" id="hsBanTru" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="hsHaiBuoiK1" id="hsHaiBuoiK1" class="form-control"/></td>
					      <td><input type="text" name="hsBanTruK1" id="hsBanTruK1" class="form-control"/></td>
					      <td><input type="text" name="hsHaiBuoiK2" id="hsHaiBuoiK2" class="form-control"/></td>
					      <td><input type="text" name="hsBanTruK2" id="hsBanTruK2" class="form-control"/></td>
					      <td><input type="text" name="hsHaiBuoiK3" id="hsHaiBuoiK3" class="form-control"/></td>
						  <td><input type="text" name="hsBanTruK3" id="hsBanTruK3" class="form-control"/></td>
						  <td><input type="text" name="hsHaiBuoiK4" id="hsHaiBuoiK4" class="form-control"/></td>
						  <td><input type="text" name="hsBanTruK4" id="hsBanTruK4" class="form-control"/></td>
						  <td><input type="text" name="hsHaiBuoiK5" id="hsHaiBuoiK5" class="form-control"/></td>
						  <td><input type="text" name="hsBanTruK5" id="hsBanTruK5" class="form-control"/></td>
					    </tr>
					  </tbody>
					</table>
					</div>
 				</div>
 				
					<div class="col-md-12">
 				<div class="form-group">
				<label>3. Cơ sở vật chất</label>
 					<table class="ExcelTable2007" border="1">
					  <thead>
					    <tr>
					      <th scope="col" rowspan="2" class="text-center" width="2%">TT</th>
					      <!-- <th scope="col" rowspan="2" class="text-center" width="15%">ĐƠN VỊ</th> -->
					      <th scope="col" rowspan="2" class="text-center" width="7%">TỔNG SỐ PHÒNG</th>
					      <th scope="col" colspan="4" class="text-center">PHÒNG HỌC</th>
					      <th scope="col" colspan="5" class="text-center">PHÒNG LÀM VIỆC</th>
					      <th scope="col" colspan="2" class="text-center">PHÒNG THỰC HÀNH</th>
					    </tr>
					    <tr>
					    	<th scope="col" class="text-center" width="5%">Tổng</th>
					    	<th scope="col" class="text-center" width="5%">Kiên cố</th>
					    	<th scope="col" class="text-center" width="5%">Bán kiên cố</th>
					    	<th scope="col" class="text-center" width="5%">Tạm, mượn nhờ</th>
					    	<th scope="col" class="text-center" width="5%">Tổng</th>
					    	<th scope="col" class="text-center" width="5%">Kiên cố</th>
					    	<th scope="col" class="text-center" width="5%">Bán kiên cố</th>
					    	<th scope="col" class="text-center" width="5%">Tạm, mượn nhờ</th>
					    	<th scope="col" class="text-center" width="5%">Nhà công vụ giáo viên</th>
					    	<th scope="col" class="text-center" width="5%">Tin học</th>
					    	<th scope="col" class="text-center" width="5%">Ngoại ngữ</th>
					    </tr>
					  </thead>
					  <tbody>
					 
					    <tr>
					      <th scope="row" class="text-center">1</th>
					      <!-- <td th:text="${#authentication.getPrincipal().getFullname()}"></td> -->
					      <td><input type="text" name="tsPhong" id="tsPhong" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="tsPhongHoc" id="tsPhongHoc" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="phKienCo" id="phKienCo" class="form-control"/></td>
					      <td><input type="text" name="phBanKienCo" id="phBanKienCo" class="form-control"/></td>
					      <td><input type="text" name="phTam" id="phTam" class="form-control"/></td>
					      <td><input type="text" name="tsPhongLamViec" id="tsPhongLamViec" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="plvKienCo" id="plvKienCo" class="form-control" /></td>
					      <td><input type="text" name="plvBanKienCo" id="plvBanKienCo" class="form-control"/></td>
					      <td><input type="text" name="plvTam" id="plvTam" class="form-control"/></td>
					      <td><input type="text" name="plvNhaCongVu" id="plvNhaCongVu" class="form-control"/></td>
					      <td><input type="text" name="pthTinHoc" id="pthTinHoc" class="form-control"/></td>
					      <td><input type="text" name="pthNgoaiNgu" id="pthNgoaiNgu" class="form-control"/></td>
					    </tr>
					  </tbody>
					</table>
					</div>
					</div>
 				</div>
 				<input type="hidden" name="guiBcSgd" id="guiBcSgd" class="form-control"/>
 				</form>
 				
 				<div class="box-footer text-center">
 					<button class="btn btn-success btn-flat" type="button" id="btn-ok"><i class="fa fa-check-circle"></i> Lưu</button>&nbsp;&nbsp;
 					<button class="btn btn-default btn-flat" type="button" id="btn-cancel"><i class="fa fa-times-circle"></i> Hủy</button>
 				</div>
 				</div>
 			</div>
 		</div>
 		
 	</div>
 	
 	<div class="row">
 		<div class="col-md-12">
 			<div class="box box-primary" id="box-ds">
 				<div class="box-header with-border">
 					<h3 class="box-title">Nhập số liệu tiểu học </h3>
 				</div>
 				<div class="box-body">
 					<div class="row">
 						<div class="col-md-4">
 							<div class="form-group">
 								<select class="form-control" id="cmb-nam-hoc-filter"></select>
 							</div>
 						</div>
 						<div class="col-md-4">
 							<div class="form-group">
							 <select class="form-control" id="cmb-thang-filter">
								<option value="0">-- Vui lòng chọn Tháng --</option>
								<option value="1">Tháng 1</option>
								<option value="2">Tháng 2</option>
								<option value="3">Tháng 3</option>
								<option value="4">Tháng 4</option>
								<option value="5">Tháng 5</option>
								<option value="6">Tháng 6</option>
								<option value="7">Tháng 7</option>
								<option value="8">Tháng 8</option>
								<option value="9">Tháng 9</option>
								<option value="10">Tháng 10</option>
								<option value="11">Tháng 11</option>
								<option value="12">Tháng 12</option>
							</select>
							</div>
 						</div>
 					</div>
 					<table class="table ExcelTable2007" id="ds">
					  <thead>
					     <tr>
					     <th scope="col" rowspan="2" class="text-center" width="2%">TT</th>
					     <th scope="col" rowspan="2" class="text-center" width="7%">ĐƠN VỊ</th>
					      <th scope="col" colspan="2" class="text-center" width="3%">TRƯỜNG</th>
					      <th scope="col" colspan="6" class="text-center" width="30%">LỚP</th>
					      <th scope="col" colspan="6" class="text-center" width="30%">HỌC SINH</th>
					      <th scope="col" colspan="4" class="text-center" width="20%">CBQL - GV - NV</th>
						  <th scope="col" rowspan="2" class="text-center" width="3%">THÁNG</th>
					      <th scope="col" rowspan="2" class="text-center" width="5%">T.Tác</th>
					    </tr>
					    <tr>
						    <th scope="col" class="text-center" width="5%">Điểm chính</th>
						    <th scope="col" class="text-center" width="5%">Điểm lẻ</th>
					    	<th scope="col" class="text-center" width="5%">T.số</th>
					    	<th scope="col" class="text-center" width="5%">K1</th>
					    	<th scope="col" class="text-center" width="5%">K2</th>
					    	<th scope="col" class="text-center" width="5%">K3</th>
					    	<th scope="col" class="text-center" width="5%">K4</th>
					    	<th scope="col" class="text-center" width="5%">K5</th>
					    	<th scope="col" class="text-center" width="5%">T.số</th>
					    	<th scope="col" class="text-center" width="5%">K1</th>
					    	<th scope="col" class="text-center" width="5%">K2</th>
					    	<th scope="col" class="text-center" width="5%">K3</th>
					    	<th scope="col" class="text-center" width="5%">K4</th>
					    	<th scope="col" class="text-center" width="5%">K5</th>
					    	<th scope="col" class="text-center" width="5%">T.số</th>
					    	<th scope="col" class="text-center" width="5%">CBQL</th>
					    	<th scope="col" class="text-center" width="5%">GV</th>
					    	<th scope="col" class="text-center" width="5%">NV</th>
					    </tr>
					  </thead>
					  <tbody>
					  </tbody>
					</table>
					<p style="padding-top: 15px;"></p>
 					<table class="table ExcelTable2007" id="ds-2">
					  <thead>
					   <tr>
					      <th scope="col" rowspan="3" class="text-center" width="2%">TT</th>
					      <th scope="col" rowspan="3" class="text-center" width="7%">ĐƠN VỊ</th>
					      <th scope="col" colspan="2" class="text-center" width="7%">TRƯỜNG</th>
					      <th scope="col" colspan="12" class="text-center" width="42%">LỚP</th>
					      <th scope="col" colspan="12" class="text-center" width="42%">HỌC SINH</th>
					      <th scope="col" rowspan="3" class="text-center" width="3%">THÁNG</th>
					      <th scope="col" rowspan="3" class="text-center" width="5%">T.Tác</th>
					    </tr>
					    <tr>
					      <th scope="col" rowspan="2" class="text-center" width="3%">Học 2 buổi/ngày</th>
					      <th scope="col" rowspan="2" class="text-center" width="3%">Bán trú</th>
					      <th scope="col" colspan="2" class="text-center">Tổng số lớp</th>
					      <th scope="col" colspan="2" class="text-center">Khối 1</th>
					      <th scope="col" colspan="2" class="text-center">Khối 2</th>
					      <th scope="col" colspan="2" class="text-center">Khối 3</th>
					      <th scope="col" colspan="2" class="text-center">Khối 4</th>
					      <th scope="col" colspan="2" class="text-center">Khối 5</th>
					      <th scope="col" colspan="2" class="text-center">Tổng số HS</th>
					      <th scope="col" colspan="2" class="text-center">Khối 1</th>
					      <th scope="col" colspan="2" class="text-center">Khối 2</th>
					      <th scope="col" colspan="2" class="text-center">Khối 3</th>
					      <th scope="col" colspan="2" class="text-center">Khối 4</th>
					      <th scope="col" colspan="2" class="text-center">Khối 5</th>
					    </tr>
					    <tr>
					    	<th scope="col" class="text-center" width="3.5%">Học 2 buổi/ ngày</th>
					    	<th scope="col" class="text-center" width="3.5%">Bán trú</th>
					    	<th scope="col" class="text-center" width="3.5%">Học 2 buổi/ ngày</th>
					    	<th scope="col" class="text-center" width="3.5%">Bán trú</th>
					    	<th scope="col" class="text-center" width="3.5%">Học 2 buổi/ ngày</th>
					    	<th scope="col" class="text-center" width="3.5%">Bán trú</th>
					    	<th scope="col" class="text-center" width="3.5%">Học 2 buổi/ ngày</th>
					    	<th scope="col" class="text-center" width="3.5%">Bán trú</th>
					    	<th scope="col" class="text-center" width="3.5%">Học 2 buổi/ ngày</th>
					    	<th scope="col" class="text-center" width="3.5%">Bán trú</th>
					    	<th scope="col" class="text-center" width="3.5%">Học 2 buổi/ ngày</th>
					    	<th scope="col" class="text-center" width="3.5%">Bán trú</th>
					    	<th scope="col" class="text-center" width="3.5%">Học 2 buổi/ ngày</th>
					    	<th scope="col" class="text-center" width="3.5%">Bán trú</th>
					    	<th scope="col" class="text-center" width="3.5%">Học 2 buổi/ ngày</th>
					    	<th scope="col" class="text-center" width="3.5%">Bán trú</th>
					    	<th scope="col" class="text-center" width="3.5%">Học 2 buổi/ ngày</th>
					    	<th scope="col" class="text-center" width="3.5%">Bán trú</th>
					    	<th scope="col" class="text-center" width="3.5%">Học 2 buổi/ ngày</th>
					    	<th scope="col" class="text-center" width="3.5%">Bán trú</th>
					    	<th scope="col" class="text-center" width="3.5%">Học 2 buổi/ ngày</th>
					    	<th scope="col" class="text-center" width="3.5%">Bán trú</th>
					    	<th scope="col" class="text-center" width="3.5%">Học 2 buổi/ ngày</th>
					    	<th scope="col" class="text-center" width="3.5%">Bán trú</th>
					    </tr>
					  </thead>
					  <tbody>
					  </tbody>
					</table>
					<p style="padding-top: 15px;"></p>
 					<table class="table ExcelTable2007" id="ds-1">
					  <thead>
					   <tr>
					   	  <th scope="col" rowspan="2" class="text-center" width="2%">TT</th>
					      <th scope="col" rowspan="2" class="text-center" width="13%">ĐƠN VỊ</th>
					      <th scope="col" rowspan="2" class="text-center" width="5%">TỔNG SỐ PHÒNG</th>
					      <th scope="col" colspan="4" class="text-center">PHÒNG HỌC</th>
					      <th scope="col" colspan="5" class="text-center">PHÒNG LÀM VIỆC</th>
					      <th scope="col" colspan="2" class="text-center">PHÒNG THỰC HÀNH</th>
					      <th scope="col" rowspan="2" class="text-center" width="3%">THÁNG</th>
					      <th scope="col" rowspan="2" class="text-center" width="5%">T.Tác</th>
					    </tr>
					    <tr>
					    	<th scope="col" class="text-center" width="5%">Tổng</th>
					    	<th scope="col" class="text-center" width="5%">Kiên cố</th>
					    	<th scope="col" class="text-center" width="5%">Bán kiên cố</th>
					    	<th scope="col" class="text-center" width="5%">Tạm, mượn nhờ</th>
					    	<th scope="col" class="text-center" width="5%">Tổng</th>
					    	<th scope="col" class="text-center" width="5%">Kiên cố</th>
					    	<th scope="col" class="text-center" width="5%">Bán kiên cố</th>
					    	<th scope="col" class="text-center" width="5%">Tạm, mượn nhờ</th>
					    	<th scope="col" class="text-center" width="5%">Nhà công vụ giáo viên</th>
					    	<th scope="col" class="text-center" width="5%">Tin học</th>
					    	<th scope="col" class="text-center" width="5%">Ngoại ngữ</th>
					    </tr>
					  </thead>
					  <tbody>
					  </tbody>
					</table>
 				</div>
 				<div class="box-footer">
 					<div class="jdpage" id="page-ds"></div>
 				</div>
 			</div>
 		</div>
 	</div>
 	
 </section>
 <!-- /.content -->