<!-- Content Header (Page header) -->
<section class="content-header">
     <h1>
		<th:block th:text="${MODEL.title}"></th:block>
		<small></small>
     </h1>
     <ol class="breadcrumb">
         <li>
             <a href=".">
                 <i class="fa fa-home"></i>
                 Trang chủ
             </a>
         </li>
         <li class="active" th:text="${MODEL.title}">Actived page</li>
     </ol>
 </section>
 <!-- Main content -->
 <section class="content">
 	<div class="row">
 		<div class="col-md-12">
 			<div class="box box-primary collapsed-box" id="box-ds">
 			<div class="box-header with-border" id="showBox">
              <button class="btn btn-success btn-flat" type="button" ><i class="fa fa-plus"></i> Nhập mới</button>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="toggle"> <i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
            <div class="box-body" style="display: none;">
 			<form method="POST" id="frm-1">
 				<input type="hidden" name="id" id="id"></input>
 				<input type="hidden" th:value="${#authentication.getPrincipal().getIdDonVi()}" id="idPhongGd" name="idPhongGd"></input>
 				<div class="box-body">
 				<div class="col-md-4">
				<div class="form-group">
					<label>Tháng</label>
					 <select class="form-control" id="cmb-thoi-gian" name="thang">
						<option value="">-- Vui lòng chọn Tháng --</option>
						<option value="1">Tháng 1</option>
						<option value="2">Tháng 2</option>
						<option value="3">Tháng 3</option>
						<option value="4">Tháng 4</option>
						<option value="5">Tháng 5</option>
						<option value="6">Tháng 6</option>
						<option value="7">Tháng 7</option>
						<option value="8">Tháng 8</option>
						<option value="9">Tháng 9</option>
						<option value="10">Tháng 10</option>
						<option value="11">Tháng 11</option>
						<option value="12">Tháng 12</option>
					</select>
			</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label>Năm</label> 
					   <select class="form-control" id="cmb-nam-hoc" name="nam" style="width:100%">
							<option value="">-- Vui lòng chọn Năm --</option>
					   </select>
				</div>
			</div>
			<div class="col-md-4"></div>
			<div class="col-md-12">
 				<div class="form-group">
				<label>1. Số liệu trường, lớp.</label>
 					<table class="ExcelTable2007" border="1">
					  <thead>
					    <tr>
					      <th scope="col" rowspan="3" class="text-center" width="2%">TT</th>
					      <!--<th scope="col" rowspan="3" class="text-center" width="15%">ĐƠN VỊ</th>-->
					      <th scope="col" colspan="11" class="text-center" width="49%">TRƯỜNG</th>
					      <th scope="col" colspan="11" class="text-center" width="49%">LỚP</th>
					    </tr>
					    <tr>
					      <th scope="col" colspan="5" class="text-center">CL</th>
					      <th scope="col" colspan="5" class="text-center">TT</th>
					      <th scope="col" rowspan="2" class="text-center">T.số chung</th>
					      <th scope="col" colspan="3" class="text-center">CL</th>
					      <th scope="col" colspan="3" class="text-center">TT</th>
					      <th scope="col" rowspan="2" class="text-center">T.số chung</th>
					      <th scope="col" rowspan="2" class="text-center">Nhóm, lớp độc lập</th>
					      <th scope="col" colspan="3" class="text-center">Trẻ 5 tuổi</th>
					    </tr>
					    <tr>
					    	<th scope="col" class="text-center" width="4.5%">T.số</th>
					    	<th scope="col" class="text-center" width="4.5%">MN</th>
					    	<th scope="col" class="text-center" width="4.5%">MG</th>
					    	<th scope="col" class="text-center" width="4.5%">Điểm lẻ</th>
					    	<th scope="col" class="text-center" width="4.5%">Học nhờ</th>
					    	<th scope="col" class="text-center" width="4.5%">T.số</th>
					    	<th scope="col" class="text-center" width="4.5%">MN</th>
					    	<th scope="col" class="text-center" width="4.5%">MG</th>
					    	<th scope="col" class="text-center" width="4.5%">Cơ sở 2</th>
					    	<th scope="col" class="text-center" width="4.5%">Nhóm, lớp độc lập </th>
					    	<th scope="col" class="text-center" width="4.5%">NT</th>
					    	<th scope="col" class="text-center" width="4.5%">MG</th>
					    	<th scope="col" class="text-center" width="4.5%">T.số</th>
					    	<th scope="col" class="text-center" width="4.5%">NT</th>
					    	<th scope="col" class="text-center" width="4.5%">MG</th>
					    	<th scope="col" class="text-center" width="4.5%">T.số</th>
					    	<th scope="col" class="text-center" width="4.5%">Công lập</th>
					    	<th scope="col" class="text-center" width="4.5%">Ngoài công lập</th>
					    	<th scope="col" class="text-center" width="4.5%">T.số</th>
					    </tr>
					  </thead>
					  <tbody>
					 
					    <tr>
					      <th scope="row"  class="text-center">1</th>
					      <!--<td th:text="${#authentication.getPrincipal().getFullname()}"></td>-->
					      <td><input type="text" name="tsTruongCl" id="tsTruongCl" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="truongClMn" id="truongClMn" class="form-control"/></td>
					      <td><input type="text" name="truongClMg" id="truongClMg" class="form-control"/></td>
					      <td><input type="text" name="diemLe" id="diemLe" class="form-control"/></td>
					      <td><input type="text" name="hocNho" id="hocNho" class="form-control"/></td>
					      <td><input type="text" name="tsTruongTt" id="tsTruongTt" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="truongTtMn" id="truongTtMn" class="form-control"/></td>
					      <td><input type="text" name="truongTtMg" id="truongTtMg" class="form-control"/></td>
					      <td><input type="text" name="coSoHai" id="coSoHai" class="form-control"/></td>
					      <td><input type="text" name="ttNhomLop" id="ttNhomLop" class="form-control"/></td>
					      <td><input type="text" name="tsChungTruong" id="tsChungTruong" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="lopClNt" id="lopClNt" class="form-control"/></td>
					      <td><input type="text" name="lopClMg" id="lopClMg" class="form-control"/></td>
					      <td><input type="text" name="tsLopCl" id="tsLopCl" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="lopTtNt" id="lopTtNt" class="form-control"/></td>
					      <td><input type="text" name="lopTtMg" id="lopTtMg" class="form-control"/></td>
					      <td><input type="text" name="tsLopTt" id="tsLopTt" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="tsChungLop" id="tsChungLop" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="lopNhomLop" id="lopNhomLop" class="form-control"/></td>
					      <td><input type="text" name="lopNamTuoiCl" id="lopNamTuoiCl" class="form-control"/></td>
					      <td><input type="text" name="lopNamTuoiTt" id="lopNamTuoiTt" class="form-control"/></td>
					      <td><input type="text" name="namTuoi" id="namTuoi" class="form-control" readonly="true" tabIndex="-1"/></td>
					    </tr>
					  </tbody>
					</table>
					</div>
					</div>
					<div class="col-md-12">
					<div class="form-group">
 					<label>2.  Số liệu trẻ, cán bộ quản lý, giáo viên, nhân viên</label>
 					<table class="ExcelTable2007" border="1">
					  <thead>
					    <tr>
					      <th scope="col" rowspan="3" class="text-center" width="2%">TT</th>
					      <!-- <th scope="col" rowspan="3" class="text-center" width="14%">ĐƠN VỊ</th> -->
					      <th scope="col" colspan="12" class="text-center" width="32%">TRẺ</th>
					      <th scope="col" colspan="13" class="text-center" width="52%">CB - GV - NV</th>
					    </tr>
					    <tr>
					      <th scope="col" colspan="3" class="text-center">CL</th>
					      <th scope="col" colspan="3" class="text-center">DL-TT</th>
					      <th scope="col" rowspan="2" class="text-center">T.số chung</th>
					      <th scope="col" rowspan="2" class="text-center">Nhóm, lớp độc lập</th>
					      <th scope="col" colspan="3" class="text-center">Trẻ 5 tuổi</th>
					      <th scope="col" colspan="3" class="text-center">CBQL</th>
					      <th scope="col" colspan="3" class="text-center">GV CL</th>
					      <th scope="col" colspan="3" class="text-center">GV DL - TT</th>
					      <th scope="col" colspan="3" class="text-center">NV</th>
					      <th scope="col" rowspan="2" class="text-center">T.số chung</th>
					      <th scope="col" rowspan="2" class="text-center">GV nhóm, lớp độc lập</th>
					    </tr>
					    <tr>
					    	<th scope="col" class="text-center" width="4%">T.số</th>
					    	<th scope="col" class="text-center" width="4%">NT</th>
					    	<th scope="col" class="text-center" width="4%">MG</th>
					    	<th scope="col" class="text-center" width="4%">T.số</th>
					    	<th scope="col" class="text-center" width="4%">NT</th>
					    	<th scope="col" class="text-center" width="4%">MG</th>
					    	<th scope="col" class="text-center" width="4%">Công lập</th>
					    	<th scope="col" class="text-center" width="4%">Ngoài công lập</th>
					    	<th scope="col" class="text-center" width="4%">T.số</th>
					    	<th scope="col" class="text-center" width="4%">CL</th>
					    	<th scope="col" class="text-center" width="4%">DL-TT</th>
					    	<th scope="col" class="text-center" width="4%">T.số</th>
					    	<th scope="col" class="text-center" width="4%">NT</th>
					    	<th scope="col" class="text-center" width="4%">MG</th>
					    	<th scope="col" class="text-center" width="4%">T.số</th>
					    	<th scope="col" class="text-center" width="4%">NT</th>
					    	<th scope="col" class="text-center" width="4%">MG</th>
					    	<th scope="col" class="text-center" width="4%">T.số</th>
					    	<th scope="col" class="text-center" width="4%">CL</th>
					    	<th scope="col" class="text-center" width="4%">DL-TT</th>
					    	<th scope="col" class="text-center" width="4%">T.số</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <th scope="row"  class="text-center">1</th>
					      <!-- <td th:text="${#authentication.getPrincipal().getFullname()}"></td> -->
					      <td><input type="text" name="tsTreCl" id="tsTreCl" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="treClNt" id="treClNt" class="form-control"/></td>
					      <td><input type="text" name="treClMg" id="treClMg" class="form-control"/></td>
					      <td><input type="text" name="tsTreTt" id="tsTreTt" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="treTtNt" id="treTtNt" class="form-control"/></td>
					      <td><input type="text" name="treTtMg" id="treTtMg" class="form-control"/></td>
					      <td><input type="text" name="tsChungTre" id="tsChungTre" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="treNhomLop" id="treNhomLop" class="form-control"/></td>
					      <td><input type="text" name="treNamTuoiCl" id="treNamTuoiCl" class="form-control"/></td>
					      <td><input type="text" name="treNamTuoiTt" id="treNamTuoiTt" class="form-control"/></td>
					      <td><input type="text" name="treNamTuoi" id="treNamTuoi" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="cbqlCl" id="cbqlCl" class="form-control"/></td>
					      <td><input type="text" name="cbqlTt" id="cbqlTt" class="form-control"/></td>
					      <td><input type="text" name="tsCbql" id="tsCbql" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="gvclNt" id="gvclNt" class="form-control"/></td>
					      <td><input type="text" name="gvclMg" id="gvclMg" class="form-control"/></td>
					      <td><input type="text" name="tsGvcl" id="tsGvcl" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="gvttNt" id="gvttNt" class="form-control"/></td>
					      <td><input type="text" name="gvttMg" id="gvttMg" class="form-control"/></td>
					      <td><input type="text" name="tsGvtt" id="tsGvtt" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="nvCl" id="nvCl" class="form-control"/></td>
					      <td><input type="text" name="nvTt" id="nvTt" class="form-control"/></td>
					      <td><input type="text" name="tsNv" id="tsNv" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="tsChungCbGvNv" id="tsChungCbGvNv" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="gvNhomLop" id="gvNhomLop" class="form-control"/></td>
					    </tr>
					  </tbody>
					</table>
					</div>
 				</div>
 				
 				<div class="col-md-12">
 				<div class="form-group">
				<label>3. Cơ sở vật chất.</label>
 					<table class="ExcelTable2007" border="1">
					  <thead>
					    <tr>
					      <th scope="col" rowspan="3" class="text-center" width="2%">TT</th>
					      <!-- <th scope="col" rowspan="2" class="text-center" width="15%">ĐƠN VỊ</th> -->
					      <th scope="col" rowspan="3" class="text-center" width="5%">TỔNG SỐ PHÒNG</th>
					      <th scope="col" colspan="9" class="text-center">PHÒNG HỌC</th>
					      <th scope="col" colspan="9" class="text-center">PHÒNG LÀM VIỆC</th>
					      <th scope="col" rowspan="3" class="text-center" width="5%">Nhà công vụ giáo viên</th>
					    </tr>
					    <tr>
					    	<th scope="col" rowspan="2" class="text-center" >Tổng số</th>
					    	<th scope="col" colspan="4" class="text-center" >Công lập</th>
					    	<th scope="col" colspan="4" class="text-center" >Ngoài công lập</th>
					    	<th scope="col" rowspan="2" class="text-center" >Tổng số</th>
					    	<th scope="col" colspan="4" class="text-center" >Công lập</th>
					    	<th scope="col" colspan="4" class="text-center" >Ngoài công lập</th>
					    	
					    </tr>
					    <tr>
					   		<th scope="col" class="text-center" width="5%">Tổng</th>
					    	<th scope="col" class="text-center" width="5%">Kiên cố</th>
					    	<th scope="col" class="text-center" width="5%">Bán kiên cố</th>
					    	<th scope="col" class="text-center" width="5%">Tạm, mượn nhờ</th>
					    	<th scope="col" class="text-center" width="5%">Tổng</th>
					    	<th scope="col" class="text-center" width="5%">Kiên cố</th>
					    	<th scope="col" class="text-center" width="5%">Bán kiên cố</th>
					    	<th scope="col" class="text-center" width="5%">Tạm, mượn nhờ</th>
					    	<th scope="col" class="text-center" width="5%">Tổng</th>
					    	<th scope="col" class="text-center" width="5%">Kiên cố</th>
					    	<th scope="col" class="text-center" width="5%">Bán kiên cố</th>
					    	<th scope="col" class="text-center" width="5%">Tạm, mượn nhờ</th>
					    	<th scope="col" class="text-center" width="5%">Tổng</th>
					    	<th scope="col" class="text-center" width="5%">Kiên cố</th>
					    	<th scope="col" class="text-center" width="5%">Bán kiên cố</th>
					    	<th scope="col" class="text-center" width="5%">Tạm, mượn nhờ</th>
					    </tr>
					  </thead>
					  <tbody>
					 
					    <tr>
					      <th scope="row" class="text-center">1</th>
					      <!-- <td th:text="${#authentication.getPrincipal().getFullname()}"></td> -->
					      <td><input type="text" name="tsPhong" id="tsPhong" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="tsPhongHoc" id="tsPhongHoc" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="tsPhongCl" id="tsPhongCl" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="phKienCo" id="phKienCo" class="form-control"/></td>
					      <td><input type="text" name="phBanKienCo" id="phBanKienCo" class="form-control"/></td>
					      <td><input type="text" name="phTam" id="phTam" class="form-control"/></td>
					      <td><input type="text" name="tsPhongTt" id="tsPhongTt" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="phKienCoTt" id="phKienCoTt" class="form-control"/></td>
					      <td><input type="text" name="phBanKienCoTt" id="phBanKienCoTt" class="form-control"/></td>
					      <td><input type="text" name="phTamTt" id="phTamTt" class="form-control"/></td>
					      
					      <td><input type="text" name="tsPhongLamViec" id="tsPhongLamViec" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="tsPhongLamViecCl" id="tsPhongLamViecCl" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="plvKienCo" id="plvKienCo" class="form-control" /></td>
					      <td><input type="text" name="plvBanKienCo" id="plvBanKienCo" class="form-control"/></td>
					      <td><input type="text" name="plvTam" id="plvTam" class="form-control"/></td>
					      <td><input type="text" name="tsPhongLamViecTt" id="tsPhongLamViecTt" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="plvKienCoTt" id="plvKienCoTt" class="form-control" /></td>
					      <td><input type="text" name="plvBanKienCoTt" id="plvBanKienCoTt" class="form-control"/></td>
					      <td><input type="text" name="plvTamTt" id="plvTamTt" class="form-control"/></td>
					      
					      <td><input type="text" name="plvNhaCongVu" id="plvNhaCongVu" class="form-control"/></td>
					    </tr>
					  </tbody>
					</table>
					</div>
					</div>
					</div>
 				<input type="hidden" name="guiBcSgd" id="guiBcSgd" class="form-control"/>
 				</form>
 				
 				<div class="box-footer text-center">
 					<button class="btn btn-success btn-flat" type="button" id="btn-ok"><i class="fa fa-check-circle"></i> Lưu</button>&nbsp;&nbsp;
 					<button class="btn btn-default btn-flat" type="button" id="btn-cancel"><i class="fa fa-times-circle"></i> Hủy</button>
 				</div>
 				</div>
 			</div>
 		</div>
 		
 	</div>
 	
 	<div class="row">
 		<div class="col-md-12">
 			<div class="box box-primary" id="box-ds">
 				<div class="box-header with-border">
 					<h3 class="box-title">Nhập số liệu mầm non </h3>
 				</div>
 				<div class="box-body">
 					<div class="row">
 						<div class="col-md-4">
 							<div class="form-group">
 								<select class="form-control" id="cmb-nam-hoc-filter"></select>
 							</div>
 						</div>
 						<div class="col-md-4">
 							<div class="form-group">
							 <select class="form-control" id="cmb-thang-filter">
								<option value="0">-- Vui lòng chọn Tháng --</option>
								<option value="1">Tháng 1</option>
								<option value="2">Tháng 2</option>
								<option value="3">Tháng 3</option>
								<option value="4">Tháng 4</option>
								<option value="5">Tháng 5</option>
								<option value="6">Tháng 6</option>
								<option value="7">Tháng 7</option>
								<option value="8">Tháng 8</option>
								<option value="9">Tháng 9</option>
								<option value="10">Tháng 10</option>
								<option value="11">Tháng 11</option>
								<option value="12">Tháng 12</option>
							</select>
							</div>
 						</div>
 					</div>
 					<table class="table ExcelTable2007" id="ds-1">
					  <thead>
					    <tr>
					   	  <th scope="col" rowspan="3" class="text-center" width="2%">TT</th>
					      <th scope="col" rowspan="3" class="text-center" width="5%">ĐƠN VỊ</th>
					      <th scope="col" colspan="11" class="text-center" width="35%">TRƯỜNG</th>
					      <th scope="col" colspan="11" class="text-center" width="48%">LỚP</th>
					      <th scope="col" rowspan="3" class="text-center" width="3%">THÁNG</th>
					      <th scope="col" rowspan="3" class="text-center" width="5%">T.Tác</th>
					    </tr>
					    <tr>
					      <th scope="col" colspan="5" class="text-center">CL</th>
					      <th scope="col" colspan="5" class="text-center">TT</th>
					      <th scope="col" rowspan="2" class="text-center">T.số chung</th>
					      <th scope="col" colspan="3" class="text-center">CL</th>
					      <th scope="col" colspan="3" class="text-center">TT</th>
					      <th scope="col" rowspan="2" class="text-center">T.số chung</th>
					      <th scope="col" rowspan="2" class="text-center">Nhóm, lớp độc lập</th>
					      <th scope="col" colspan="3" class="text-center">Trẻ 5 tuổi</th>
					    </tr>
					    <tr>
					    	<th scope="col" class="text-center" width="4.5%">T.số</th>
					    	<th scope="col" class="text-center" width="4.5%">MN</th>
					    	<th scope="col" class="text-center" width="4.5%">MG</th>
					    	<th scope="col" class="text-center" width="4.5%">Điểm lẻ</th>
					    	<th scope="col" class="text-center" width="4.5%">Học nhờ</th>
					    	<th scope="col" class="text-center" width="4.5%">T.số</th>
					    	<th scope="col" class="text-center" width="4.5%">MN</th>
					    	<th scope="col" class="text-center" width="4.5%">MG</th>
					    	<th scope="col" class="text-center" width="4.5%">Cơ sở 2</th>
					    	<th scope="col" class="text-center" width="4.5%">Nhóm, lớp độc lập </th>
					    	<th scope="col" class="text-center" width="4.5%">NT</th>
					    	<th scope="col" class="text-center" width="4.5%">MG</th>
					    	<th scope="col" class="text-center" width="4.5%">T.số</th>
					    	<th scope="col" class="text-center" width="4.5%">NT</th>
					    	<th scope="col" class="text-center" width="4.5%">MG</th>
					    	<th scope="col" class="text-center" width="4.5%">T.số</th>
					    	<th scope="col" class="text-center" width="4.5%">Công lập</th>
					    	<th scope="col" class="text-center" width="4.5%">Ngoài công lập</th>
					    	<th scope="col" class="text-center" width="4.5%">T.số</th>
					    </tr>
					  </thead>
					  <tbody>
					  </tbody>
					</table>
 					
 					<p style="padding-top: 15px;"></p>
 					<table class="table ExcelTable2007" id="ds-2">
					  <thead>
					   <tr>
					   	  <th scope="col" rowspan="3" class="text-center" width="2%">TT</th>
					      <th scope="col" rowspan="3" class="text-center" width="5%">ĐƠN VỊ</th>
					      <th scope="col" colspan="12" class="text-center" width="32%">TRẺ</th>
					      <th scope="col" colspan="13" class="text-center" width="52%">CB - GV - NV</th>
					      <th scope="col" rowspan="3" class="text-center" width="3%">THÁNG</th>
					      <th scope="col" rowspan="3" class="text-center" width="5%">T.Tác</th>
					    </tr>
					    <tr>
					      <th scope="col" colspan="3" class="text-center">CL</th>
					      <th scope="col" colspan="3" class="text-center">DL-TT</th>
					      <th scope="col" rowspan="2" class="text-center">T.số chung</th>
					      <th scope="col" rowspan="2" class="text-center">Nhóm, lớp độc lập</th>
					      <th scope="col" colspan="3" class="text-center">Trẻ 5 tuổi</th>
					      <th scope="col" colspan="3" class="text-center">CBQL</th>
					      <th scope="col" colspan="3" class="text-center">GV CL</th>
					      <th scope="col" colspan="3" class="text-center">GV DL - TT</th>
					      <th scope="col" colspan="3" class="text-center">NV</th>
					      <th scope="col" rowspan="2" class="text-center">T.số chung</th>
					      <th scope="col" rowspan="2" class="text-center">GV nhóm, lớp độc lập</th>
					    </tr>
					    <tr>
					    	<th scope="col" class="text-center" width="4%">T.số</th>
					    	<th scope="col" class="text-center" width="4%">NT</th>
					    	<th scope="col" class="text-center" width="4%">MG</th>
					    	<th scope="col" class="text-center" width="4%">T.số</th>
					    	<th scope="col" class="text-center" width="4%">NT</th>
					    	<th scope="col" class="text-center" width="4%">MG</th>
					    	<th scope="col" class="text-center" width="4%">Công lập</th>
					    	<th scope="col" class="text-center" width="4%">Ngoài công lập</th>
					    	<th scope="col" class="text-center" width="4%">T.số</th>
					    	<th scope="col" class="text-center" width="4%">CL</th>
					    	<th scope="col" class="text-center" width="4%">DL-TT</th>
					    	<th scope="col" class="text-center" width="4%">T.số</th>
					    	<th scope="col" class="text-center" width="4%">NT</th>
					    	<th scope="col" class="text-center" width="4%">MG</th>
					    	<th scope="col" class="text-center" width="4%">T.số</th>
					    	<th scope="col" class="text-center" width="4%">NT</th>
					    	<th scope="col" class="text-center" width="4%">MG</th>
					    	<th scope="col" class="text-center" width="4%">T.số</th>
					    	<th scope="col" class="text-center" width="4%">CL</th>
					    	<th scope="col" class="text-center" width="4%">DL-TT</th>
					    	<th scope="col" class="text-center" width="4%">T.số</th>
					    </tr>
					  </thead>
					  <tbody>
					  </tbody>
					</table>
					
					
					<p style="padding-top: 15px;"></p>
 					<table class="table ExcelTable2007" id="ds-3">
					  <thead>
					   <tr>
					   	<th scope="col" rowspan="3" class="text-center" width="2%">TT</th>
					      <th scope="col" rowspan="3" class="text-center" width="5%">ĐƠN VỊ</th>
					      <th scope="col" rowspan="3" class="text-center" width="4%">TỔNG SỐ PHÒNG</th>
					      <th scope="col" colspan="9" class="text-center">PHÒNG HỌC</th>
					      <th scope="col" colspan="9" class="text-center">PHÒNG LÀM VIỆC</th>
					      <th scope="col" rowspan="3" class="text-center" width="4%">Nhà công vụ giáo viên</th>
					      <th scope="col" rowspan="3" class="text-center" width="3%">THÁNG</th>
					      <th scope="col" rowspan="3" class="text-center" width="5%">T.Tác</th>
					    </tr>
					    <tr>
					    	<th scope="col" rowspan="2" class="text-center" >Tổng số</th>
					    	<th scope="col" colspan="4" class="text-center" >Công lập</th>
					    	<th scope="col" colspan="4" class="text-center" >Ngoài công lập</th>
					    	<th scope="col" rowspan="2" class="text-center" >Tổng số</th>
					    	<th scope="col" colspan="4" class="text-center" >Công lập</th>
					    	<th scope="col" colspan="4" class="text-center" >Ngoài công lập</th>
					    	
					    </tr>
					    <tr>
					   		<th scope="col" class="text-center" width="5%">Tổng</th>
					    	<th scope="col" class="text-center" width="5%">Kiên cố</th>
					    	<th scope="col" class="text-center" width="5%">Bán kiên cố</th>
					    	<th scope="col" class="text-center" width="5%">Tạm, mượn nhờ</th>
					    	<th scope="col" class="text-center" width="5%">Tổng</th>
					    	<th scope="col" class="text-center" width="5%">Kiên cố</th>
					    	<th scope="col" class="text-center" width="5%">Bán kiên cố</th>
					    	<th scope="col" class="text-center" width="5%">Tạm, mượn nhờ</th>
					    	<th scope="col" class="text-center" width="5%">Tổng</th>
					    	<th scope="col" class="text-center" width="5%">Kiên cố</th>
					    	<th scope="col" class="text-center" width="5%">Bán kiên cố</th>
					    	<th scope="col" class="text-center" width="5%">Tạm, mượn nhờ</th>
					    	<th scope="col" class="text-center" width="5%">Tổng</th>
					    	<th scope="col" class="text-center" width="5%">Kiên cố</th>
					    	<th scope="col" class="text-center" width="5%">Bán kiên cố</th>
					    	<th scope="col" class="text-center" width="5%">Tạm, mượn nhờ</th>
					    </tr>
					  </thead>
					  <tbody>
					  </tbody>
					</table>
 				</div>
 				<div class="box-footer">
 					<div class="jdpage" id="page-ds"></div>
 				</div>
 			</div>
 		</div>
 	</div>
 	
 </section>
 <!-- /.content -->