<!-- Content Header (Page header) -->
<section class="content-header">
     <h1>
		<th:block th:text="${MODEL.title}"></th:block>
		<small></small>
     </h1>
     <ol class="breadcrumb">
         <li>
             <a href=".">
                 <i class="fa fa-home"></i>
                 Trang chủ
             </a>
         </li>
         <li class="active" th:text="${MODEL.title}">Actived page</li>
     </ol>
 </section>
 <!-- Main content -->
 <section class="content">
 	<div class="row">
 		<div class="col-md-12">
 			<div class="box box-primary collapsed-box" id="box-ds">
 			<div class="box-header with-border" id="showBox">
				<button class="btn btn-success btn-flat" type="button" ><i class="fa fa-plus"></i> Nhập mới</button>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="toggle"> <i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
            <div class="box-body" style="display: none;">
 			<form method="POST" id="frm-1">
 				<input type="hidden" name="id" id="id"></input>
 				<input type="hidden" th:value="${#authentication.getPrincipal().getIdDonVi()}" id="idPhongGd" name="idPhongGd"></input>
 				<div class="box-body">
 				<div class="col-md-4">
				<div class="form-group">
					<label>Tháng</label>
					 <select class="form-control" id="cmb-thoi-gian" name="thang">
						<option value="">-- Vui lòng chọn Tháng --</option>
						<option value="1">Tháng 1</option>
						<option value="2">Tháng 2</option>
						<option value="3">Tháng 3</option>
						<option value="4">Tháng 4</option>
						<option value="5">Tháng 5</option>
						<option value="6">Tháng 6</option>
						<option value="7">Tháng 7</option>
						<option value="8">Tháng 8</option>
						<option value="9">Tháng 9</option>
						<option value="10">Tháng 10</option>
						<option value="11">Tháng 11</option>
						<option value="12">Tháng 12</option>
					</select>
			</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label>Năm</label> 
					   <select class="form-control" id="cmb-nam-hoc" name="nam" style="width:100%">
							<option value="">-- Vui lòng chọn Năm --</option>
					   </select>
				</div>
			</div>
			<div class="col-md-4"></div>
			<div class="col-md-12">
			<label>1. Số liệu trường, lớp, học sinh và cán bộ quản lý, giáo viên, nhân viên</label>
 				<div class="form-group">
 					<table class="ExcelTable2007" border="1">
					  <thead>
					    <tr>
					      <th scope="col" rowspan="2" class="text-center" width="2%">TT</th>
					      <th scope="col" rowspan="2" class="text-center" width="14%">ĐƠN VỊ</th>
					      <th scope="col" colspan="2" class="text-center" width="14%">TRƯỜNG</th>
					      <th scope="col" colspan="5" class="text-center" width="35%">LỚP</th>
					      <th scope="col" colspan="5" class="text-center" width="35%">HỌC SINH</th>
					    </tr>
					    <tr>
					    	<th scope="col" class="text-center" width="7%">Điểm chính</th>
						    <th scope="col" class="text-center" width="7%">Điểm lẻ</th>
					    	<th scope="col" class="text-center" width="7%">T.số</th>
					    	<th scope="col" class="text-center" width="7%">K6</th>
					    	<th scope="col" class="text-center" width="7%">K7</th>
					    	<th scope="col" class="text-center" width="7%">K8</th>
					    	<th scope="col" class="text-center" width="7%">K9</th>
					    	<th scope="col" class="text-center" width="7%">T.số</th>
					    	<th scope="col" class="text-center" width="7%">K6</th>
					    	<th scope="col" class="text-center" width="7%">K7</th>
					    	<th scope="col" class="text-center" width="7%">K8</th>
					    	<th scope="col" class="text-center" width="7%">K9</th>
					    </tr>
					  </thead>
					  <tbody>
					 
					    <tr>
					      <th scope="row" class="text-center">1</th>
					      <td th:text="${#authentication.getPrincipal().getFullname()}"></td>
					      <td><input type="text" name="truong" id="truong" class="form-control"/></td>
					      <td><input type="text" name="diemLe" id="diemLe" class="form-control"/></td>
					      <td><input type="text" name="tsLop" id="tsLop" class="form-control" readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="lopK6" id="lopK6" class="form-control"/></td>
					      <td><input type="text" name="lopK7" id="lopK7" class="form-control"/></td>
					      <td><input type="text" name="lopK8" id="lopK8" class="form-control"/></td>
					      <td><input type="text" name="lopK9" id="lopK9" class="form-control"/></td>
					      <td><input type="text" name="tsHs" id="tsHs" class="form-control" readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hsK6" id="hsK6" class="form-control"/></td>
					      <td><input type="text" name="hsK7" id="hsK7" class="form-control"/></td>
					      <td><input type="text" name="hsK8" id="hsK8" class="form-control"/></td>
					      <td><input type="text" name="hsK9" id="hsK9" class="form-control"/></td>
					    </tr>
					  </tbody>
					</table>
					</div>
					</div>
					<div class="col-md-12">
				<label>2. Kết quả xếp loại hạnh kiểm, học lực</label>
				<div class="form-check">
						 <input type="checkbox" class="form-check-input" id="checkc2"></input>
						 <label class="text-primary" for="checkc2" ><strong>Check vào để nhập hạnh kiểm, học lực</strong></label>
				   </div>
				<div class="kqhtc2">
 				<div class="form-group">
 					<table class="ExcelTable2007" border="1">
					  <thead>
					    <tr>
					      <th scope="col" rowspan="3" class="text-center" width="2%">TT</th>
					      <th scope="col" rowspan="3" class="text-center" width="11%">KHỐI</th>
					      <th scope="col" rowspan="3" class="text-center" width="6%">T.số HS</th>
					      <th scope="col" colspan="8" class="text-center" width="36%">HẠNH KIỂM</th>
					      <th scope="col" colspan="10" class="text-center" width="45%">HỌC LỰC</th>
					    </tr>
					    <tr>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Tốt</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Khá</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Trung bình</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Yếu</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Giỏi</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Khá</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Trung bình</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Yếu</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Kém</th>
					    </tr>
					    <tr>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    </tr>
					  </thead>
					  <tbody>
					 
					    <tr>
					      <th scope="row" class="text-center">1</th>
					      <td>Khối 6</td>
					      <td><input type="text" name="hsK6_1" id="hsK6_1" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="hkTotK6" id="hkTotK6" class="form-control"/></td>
					      <td><input type="text" name="tlHkTotK6" id="tlHkTotK6" class="form-control"  readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hkKhaK6" id="hkKhaK6" class="form-control"/></td>
					      <td><input type="text" name="tlHkKhaK6" id="tlHkKhaK6" class="form-control" readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hkTbK6" id="hkTbK6" class="form-control"/></td>
					      <td><input type="text" name="tlHkTbK6" id="tlHkTbK6" class="form-control" readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hkYeuK6" id="hkYeuK6" class="form-control"/></td>
					      <td><input type="text" name="tlHkYeuK6" id="tlHkYeuK6" class="form-control" readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hlGioiK6" id="hlGioiK6" class="form-control"/></td>
					      <td><input type="text" name="tlHlGioiK6" id="tlHlGioiK6" class="form-control" readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hlKhaK6" id="hlKhaK6" class="form-control"/></td>
					      <td><input type="text" name="tlHlKhaK6" id="tlHlKhaK6" class="form-control" readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hlTbK6" id="hlTbK6" class="form-control"/></td>
					      <td><input type="text" name="tlHlTbK6" id="tlHlTbK6" class="form-control" readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hlYeuK6" id="hlYeuK6" class="form-control" /></td>
					      <td><input type="text" name="tlHlYeuK6" id="tlHlYeuK6" class="form-control"  readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hlKemK6" id="hlKemK6" class="form-control" /></td>
					      <td><input type="text" name="tlHlKemK6" id="tlHlKemK6" class="form-control"  readonly="true" tabIndex="-1"  /></td>
					    </tr>
					    <tr>
					      <th scope="row" class="text-center">2</th>
					      <td>Khối 7</td>
					      <td><input type="text" name="hsK7_1" id="hsK7_1" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="hkTotK7" id="hkTotK7" class="form-control"/></td>
					      <td><input type="text" name="tlHkTotK7" id="tlHkTotK7" class="form-control"  readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hkKhaK7" id="hkKhaK7" class="form-control"/></td>
					      <td><input type="text" name="tlHkKhaK7" id="tlHkKhaK7" class="form-control"  readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hkTbK7" id="hkTbK7" class="form-control"/></td>
					      <td><input type="text" name="tlHkTbK7" id="tlHkTbK7" class="form-control"  readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hkYeuK7" id="hkYeuK7" class="form-control"/></td>
					      <td><input type="text" name="tlHkYeuK7" id="tlHkYeuK7" class="form-control"  readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hlGioiK7" id="hlGioiK7" class="form-control"/></td>
					      <td><input type="text" name="tlHlGioiK7" id="tlHlGioiK7" class="form-control"  readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hlKhaK7" id="hlKhaK7" class="form-control"/></td>
					      <td><input type="text" name="tlHlKhaK7" id="tlHlKhaK7" class="form-control"  readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hlTbK7" id="hlTbK7" class="form-control"/></td>
					      <td><input type="text" name="tlHlTbK7" id="tlHlTbK7" class="form-control"  readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hlYeuK7" id="hlYeuK7" class="form-control" /></td>
					      <td><input type="text" name="tlHlYeuK7" id="tlHlYeuK7" class="form-control"  readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hlKemK7" id="hlKemK7" class="form-control" /></td>
					      <td><input type="text" name="tlHlKemK7" id="tlHlKemK7" class="form-control"  readonly="true" tabIndex="-1"  /></td>
					    </tr>
					    <tr>
					      <th scope="row" class="text-center">3</th>
					      <td>Khối 8</td>
					      <td><input type="text" name="hsK8_1" id="hsK8_1" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="hkTotK8" id="hkTotK8" class="form-control"/></td>
					      <td><input type="text" name="tlHkTotK8" id="tlHkTotK8" class="form-control" readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hkKhaK8" id="hkKhaK8" class="form-control"/></td>
					      <td><input type="text" name="tlHkKhaK8" id="tlHkKhaK8" class="form-control" readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hkTbK8" id="hkTbK8" class="form-control"/></td>
					      <td><input type="text" name="tlHkTbK8" id="tlHkTbK8" class="form-control" readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hkYeuK8" id="hkYeuK8" class="form-control"/></td>
					      <td><input type="text" name="tlHkYeuK8" id="tlHkYeuK8" class="form-control" readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hlGioiK8" id="hlGioiK8" class="form-control"/></td>
					      <td><input type="text" name="tlHlGioiK8" id="tlHlGioiK8" class="form-control" readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hlKhaK8" id="hlKhaK8" class="form-control"/></td>
					      <td><input type="text" name="tlHlKhaK8" id="tlHlKhaK8" class="form-control" readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hlTbK8" id="hlTbK8" class="form-control"/></td>
					      <td><input type="text" name="tlHlTbK8" id="tlHlTbK8" class="form-control" readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hlYeuK8" id="hlYeuK8" class="form-control" /></td>
					      <td><input type="text" name="tlHlYeuK8" id="tlHlYeuK8" class="form-control"  readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hlKemK8" id="hlKemK8" class="form-control" /></td>
					      <td><input type="text" name="tlHlKemK8" id="tlHlKemK8" class="form-control"  readonly="true" tabIndex="-1"  /></td>
					    </tr>
					    <tr>
					      <th scope="row" class="text-center">4</th>
					      <td>Khối 9</td>
					      <td><input type="text" name="hsK9_1" id="hsK9_1" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="hkTotK9" id="hkTotK9" class="form-control"/></td>
					      <td><input type="text" name="tlHkTotK9" id="tlHkTotK9" class="form-control" readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hkKhaK9" id="hkKhaK9" class="form-control"/></td>
					      <td><input type="text" name="tlHkKhaK9" id="tlHkKhaK9" class="form-control" readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hkTbK9" id="hkTbK9" class="form-control"/></td>
					      <td><input type="text" name="tlHkTbK9" id="tlHkTbK9" class="form-control" readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hkYeuK9" id="hkYeuK9" class="form-control"/></td>
					      <td><input type="text" name="tlHkYeuK9" id="tlHkYeuK9" class="form-control" readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hlGioiK9" id="hlGioiK9" class="form-control"/></td>
					      <td><input type="text" name="tlHlGioiK9" id="tlHlGioiK9" class="form-control" readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hlKhaK9" id="hlKhaK9" class="form-control"/></td>
					      <td><input type="text" name="tlHlKhaK9" id="tlHlKhaK9" class="form-control" readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hlTbK9" id="hlTbK9" class="form-control"/></td>
					      <td><input type="text" name="tlHlTbK9" id="tlHlTbK9" class="form-control" readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hlYeuK9" id="hlYeuK9" class="form-control" /></td>
					      <td><input type="text" name="tlHlYeuK9" id="tlHlYeuK9" class="form-control"  readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hlKemK9" id="hlKemK9" class="form-control" /></td>
					      <td><input type="text" name="tlHlKemK9" id="tlHlKemK9" class="form-control"  readonly="true" tabIndex="-1"  /></td>
					    </tr>
					     <tr>
					      <th scope="row" class="text-center">5</th>
					      <td><b>Tổng cộng</b></td>
					      <td><input type="text" name="tsHs_1" id="tsHs_1" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="hkTot" id="hkTot" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="tlHkTot" id="tlHkTot" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="hkKha" id="hkKha" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="tlHkKha" id="tlHkKha" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="hkTb" id="hkTb" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="tlHkTb" id="tlHkTb" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="hkYeu" id="hkYeu" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="tlHkYeu" id="tlHkYeu" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="hlGioi" id="hlGioi" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="tlHlGioi" id="tlHlGioi" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="hlKha" id="hlKha" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="tlHlKha" id="tlHlKha" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="hlTb" id="hlTb" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="tlHlTb" id="tlHlTb" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="hlYeu" id="hlYeu" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="tlHlYeu" id="tlHlYeu" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="hlKem" id="hlKem" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="tlHlKem" id="tlHlKem" class="form-control" readonly="true" tabIndex="-1" /></td>
					    </tr>
					  </tbody>
					</table>
					</div>
					</div>
					</div>
 				</div>
 				<input type="hidden" name="guiBcSgd" id="guiBcSgd" class="form-control"/>
 				</form>
 				
 				<div class="box-footer text-center">
 					<button class="btn btn-success btn-flat" type="button" id="btn-ok"><i class="fa fa-check-circle"></i> Lưu</button>&nbsp;&nbsp;
 					<button class="btn btn-default btn-flat" type="button" id="btn-cancel"><i class="fa fa-times-circle"></i> Hủy</button>
 				</div>
 				</div>
 			</div>
 		</div>
 		
 	</div>
 	<div class="row">
 		<div class="col-md-12">
 			<div class="box box-primary" id="box-ds">
 				<div class="box-header with-border">
 					<h3 class="box-title">Nhập số liệu dân tộc THCS </h3>
 				</div>
 				<div class="box-body">
 					<div class="row">
 						<div class="col-md-4">
 							<div class="form-group">
 								<select class="form-control" id="cmb-nam-hoc-filter"></select>
 							</div>
 						</div>
 						<div class="col-md-4">
 							<div class="form-group">
							 <select class="form-control" id="cmb-thang-filter">
								<option value="0">-- Vui lòng chọn Tháng --</option>
								<option value="1">Tháng 1</option>
								<option value="2">Tháng 2</option>
								<option value="3">Tháng 3</option>
								<option value="4">Tháng 4</option>
								<option value="5">Tháng 5</option>
								<option value="6">Tháng 6</option>
								<option value="7">Tháng 7</option>
								<option value="8">Tháng 8</option>
								<option value="9">Tháng 9</option>
								<option value="10">Tháng 10</option>
								<option value="11">Tháng 11</option>
								<option value="12">Tháng 12</option>
							</select>
							</div>
 						</div>
 					</div>
 					<table class="table ExcelTable2007" id="ds-1">
					  <thead>
					   <tr>
					   	  <th scope="col" rowspan="2" class="text-center" width="2%">TT</th>
					      <th scope="col" rowspan="2" class="text-center" width="13%">ĐƠN VỊ</th>
					      <th scope="col" colspan="2" class="text-center" width="5%">TRƯỜNG</th>
					      <th scope="col" colspan="5" class="text-center" width="25%">LỚP</th>
					      <th scope="col" colspan="5" class="text-center" width="25%">HỌC SINH</th>
					      <th scope="col" rowspan="2" class="text-center" width="5%">THÁNG</th>
					      <th scope="col" rowspan="2" class="text-center" width="5%">T.Tác</th>
					    </tr>
					    <tr>
					    	<th scope="col" class="text-center" width="5%">Điểm chính</th>
						    <th scope="col" class="text-center" width="5%">Điểm lẻ</th>
					    	<th scope="col" class="text-center" width="5%">T.số</th>
					    	<th scope="col" class="text-center" width="5%">K6</th>
					    	<th scope="col" class="text-center" width="5%">K7</th>
					    	<th scope="col" class="text-center" width="5%">K8</th>
					    	<th scope="col" class="text-center" width="5%">K9</th>
					    	<th scope="col" class="text-center" width="5%">T.số</th>
					    	<th scope="col" class="text-center" width="5%">K6</th>
					    	<th scope="col" class="text-center" width="5%">K7</th>
					    	<th scope="col" class="text-center" width="5%">K8</th>
					    	<th scope="col" class="text-center" width="5%">K9</th>
					    </tr>
					  </thead>
					  <tbody>
					  </tbody>
					</table>

 					<p style="padding-top: 15px;"></p>
 					<table class="table ExcelTable2007" id="ds-2">
					  <thead>
					   <tr>
					   	  <th scope="col" rowspan="3" class="text-center" width="2%">TT</th>
					      <th scope="col" rowspan="3" class="text-center" width="5%">ĐƠN VỊ</th>
					      <th scope="col" rowspan="3" class="text-center" width="4%">T.số HS</th>
					      <th scope="col" colspan="8" class="text-center" width="36%">HẠNH KIỂM</th>
					      <th scope="col" colspan="10" class="text-center" width="45%">HỌC LỰC</th>
					      <th scope="col" rowspan="3" class="text-center" width="3%">THÁNG</th>
					      <th scope="col" rowspan="3" class="text-center" width="5%">T.Tác</th>
					    </tr>
					    <tr>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Tốt</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Khá</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Trung bình</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Yếu</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Giỏi</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Khá</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Trung bình</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Yếu</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Kém</th>
					    </tr>
					    <tr>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    </tr>
					  </thead>
					    <tbody>
					  </tbody>
					</table>
 				</div>
 				<div class="box-footer">
 					<div class="jdpage" id="page-ds"></div>
 				</div>
 			</div>
 		</div>
 		</div>
 			
 	<div class="row">
 		<div class="col-md-12">
 			<div class="box box-primary collapsed-box" id="box-ct">
 				<div class="box-header with-border" id="showCt">
 					<button class="btn btn-info btn-flat" type="button" ><i class="fa fa-info"></i> Số liệu chi tiết</button>
 					<div class="box-tools pull-right">
		                <button type="button" class="btn btn-box-tool" data-widget="toggle"> <i class="fa fa-plus"></i>
		                </button>
		              </div>
 				</div>
 				
 				<div class="box-body" style="display: none;">
 					<label>Số liệu khối 6</label>
 					<table class="table ExcelTable2007" id="ds-3">
					  <thead>
					   <tr>
					   	  <th scope="col" rowspan="3" class="text-center" width="2%">TT</th>
					      <th scope="col" rowspan="3" class="text-center" width="5%">ĐƠN VỊ</th>
					      <th scope="col" rowspan="3" class="text-center" width="4%">T.số HS</th>
					      <th scope="col" colspan="8" class="text-center" width="36%">HẠNH KIỂM</th>
					      <th scope="col" colspan="10" class="text-center" width="45%">HỌC LỰC</th>
					      <th scope="col" rowspan="3" class="text-center" width="3%">THÁNG</th>
					      <th scope="col" rowspan="3" class="text-center" width="5%">T.Tác</th>
					    </tr>
					    <tr>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Tốt</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Khá</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Trung bình</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Yếu</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Giỏi</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Khá</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Trung bình</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Yếu</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Kém</th>
					    </tr>
					    <tr>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    </tr>
					  </thead>
					    <tbody>
					  </tbody>
					</table>
					
 					<p style="padding-top: 15px;"></p>
 					<label >Số liệu khối 7</label>
 					<table class="table ExcelTable2007" id="ds-4">
					  <thead>
					   <tr>
					   	  <th scope="col" rowspan="3" class="text-center" width="2%">TT</th>
					      <th scope="col" rowspan="3" class="text-center" width="5%">ĐƠN VỊ</th>
					      <th scope="col" rowspan="3" class="text-center" width="4%">T.số HS</th>
					      <th scope="col" colspan="8" class="text-center" width="36%">HẠNH KIỂM</th>
					      <th scope="col" colspan="10" class="text-center" width="45%">HỌC LỰC</th>
					      <th scope="col" rowspan="3" class="text-center" width="3%">THÁNG</th>
					      <th scope="col" rowspan="3" class="text-center" width="5%">T.Tác</th>
					    </tr>
					    <tr>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Tốt</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Khá</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Trung bình</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Yếu</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Giỏi</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Khá</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Trung bình</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Yếu</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Kém</th>
					    </tr>
					    <tr>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    </tr>
					  </thead>
					    <tbody>
					  </tbody>
					</table>

 					<p style="padding-top: 15px;"></p>
 					<label>Số liệu khối 8</label>
 					<table class="table ExcelTable2007" id="ds-5">
					  <thead>
					   <tr>
					   	  <th scope="col" rowspan="3" class="text-center" width="2%">TT</th>
					      <th scope="col" rowspan="3" class="text-center" width="5%">ĐƠN VỊ</th>
					      <th scope="col" rowspan="3" class="text-center" width="4%">T.số HS</th>
					      <th scope="col" colspan="8" class="text-center" width="36%">HẠNH KIỂM</th>
					      <th scope="col" colspan="10" class="text-center" width="45%">HỌC LỰC</th>
					      <th scope="col" rowspan="3" class="text-center" width="3%">THÁNG</th>
					      <th scope="col" rowspan="3" class="text-center" width="5%">T.Tác</th>
					    </tr>
					    <tr>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Tốt</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Khá</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Trung bình</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Yếu</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Giỏi</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Khá</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Trung bình</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Yếu</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Kém</th>
					    </tr>
					    <tr>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    </tr>
					  </thead>
					    <tbody>
					  </tbody>
					</table>

 					<p style="padding-top: 15px;"></p>
 					<label>Số liệu khối 9</label>
 					<table class="table ExcelTable2007" id="ds-6">
					  <thead>
					  <tr>
					   	  <th scope="col" rowspan="3" class="text-center" width="2%">TT</th>
					      <th scope="col" rowspan="3" class="text-center" width="5%">ĐƠN VỊ</th>
					      <th scope="col" rowspan="3" class="text-center" width="4%">T.số HS</th>
					      <th scope="col" colspan="8" class="text-center" width="36%">HẠNH KIỂM</th>
					      <th scope="col" colspan="10" class="text-center" width="45%">HỌC LỰC</th>
					      <th scope="col" rowspan="3" class="text-center" width="3%">THÁNG</th>
					      <th scope="col" rowspan="3" class="text-center" width="5%">T.Tác</th>
					    </tr>
					    <tr>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Tốt</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Khá</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Trung bình</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Yếu</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Giỏi</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Khá</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Trung bình</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Yếu</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Kém</th>
					    </tr>
					    <tr>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    </tr>
					  </thead>
					    <tbody>
					  </tbody>
					</table>

 				</div>
 				<div class="box-footer">
 					<div class="jdpage" id="page-ds"></div>
 				</div>
 			</div>
 		</div>
 	</div>
 	
 </section>
 <!-- /.content -->