<!-- Content Header (Page header) -->
<section class="content-header">
     <h1>
		<th:block th:text="${MODEL.title}"></th:block>
		<small></small>
     </h1>
     <ol class="breadcrumb">
         <li>
             <a href=".">
                 <i class="fa fa-home"></i>
                 Trang chủ
             </a>
         </li>
         <li class="active" th:text="${MODEL.title}">Actived page</li>
     </ol>
 </section>
 <!-- Main content -->
 <section class="content">
 	<div class="row">
 		<div class="col-md-12">
 			<div class="box box-primary collapsed-box" id="box-ds">
 			<div class="box-header with-border" id="showBox">
              <button class="btn btn-success btn-flat" type="button" ><i class="fa fa-plus"></i> Nhập mới</button>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="toggle"><i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
            <div class="box-body" style="display: none;">
 				<div class="box-body">
 				<div class="col-md-4">
				<div class="form-group">
					<label>Tháng</label>
					 <select class="form-control" id="cmb-thoi-gian" name="thang">
						<option value="">-- Vui lòng chọn Tháng --</option>
						<option value="1">Tháng 1</option>
						<option value="2">Tháng 2</option>
						<option value="3">Tháng 3</option>
						<option value="4">Tháng 4</option>
						<option value="5">Tháng 5</option>
						<option value="6">Tháng 6</option>
						<option value="7">Tháng 7</option>
						<option value="8">Tháng 8</option>
						<option value="9">Tháng 9</option>
						<option value="10">Tháng 10</option>
						<option value="11">Tháng 11</option>
						<option value="12">Tháng 12</option>
					</select>
			</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label>Năm</label> 
					   <select class="form-control" id="cmb-nam-hoc" name="nam" style="width:100%">
							<option value="">-- Vui lòng chọn Năm --</option>
					   </select>
				</div>
			</div>
			<input type="hidden" th:value="${#authentication.getPrincipal().getIdTruong()}" id="idPhongGd" name="idTruong"></input>
			<div class="col-md-4"></div>
			<div class="col-md-12">
 				<div class="form-group">
 				<label>1. Số liệu lớp, học sinh.</label>
 					<table class="ExcelTable2007" border="1">
					  <thead>
					    <tr>
					      <th scope="col" rowspan="3" class="text-center" width="10%">Nội dung</th>
					      <th scope="col" rowspan="2" colspan="2" class="text-center">Tổng số</th>
					      <th scope="col" rowspan="2" colspan="2" class="text-center">Tự kỷ</th>
					      <th scope="col" rowspan="2" colspan="2" class="text-center">Dự bị</th>
					      <th scope="col" colspan="10" class="text-center">Cấp tiểu học</th>
					      <th scope="col" colspan="8" class="text-center">Cấp THCS</th>
					      <th scope="col" colspan="6" class="text-center">Cấp THPT</th>
					    </tr>
					     <tr>
					      <th scope="col" colspan="2" class="text-center">Lớp 1</th>
					      <th scope="col" colspan="2" class="text-center">Lớp 2</th>
					      <th scope="col" colspan="2" class="text-center">Lớp 3</th>
					      <th scope="col" colspan="2" class="text-center">Lớp 4</th>
					      <th scope="col" colspan="2" class="text-center">Lớp 5</th>
					      <th scope="col" colspan="2" class="text-center">Lớp 6</th>
					      <th scope="col" colspan="2" class="text-center">Lớp 7</th>
					      <th scope="col" colspan="2" class="text-center">Lớp 8</th>
					      <th scope="col" colspan="2" class="text-center">Lớp 9</th>
					      <th scope="col" colspan="2" class="text-center">Lớp 10</th>
					      <th scope="col" colspan="2" class="text-center">Lớp 11</th>
					      <th scope="col" colspan="2" class="text-center">Lớp 12</th>
					    </tr>
					    <tr>
					    	<th scope="col" class="text-center" width="3%">Lớp</th>
					    	<th scope="col" class="text-center" width="3%">HS</th>
					    	<th scope="col" class="text-center" width="3%">Lớp</th>
					    	<th scope="col" class="text-center" width="3%">HS</th>
					    	<th scope="col" class="text-center" width="3%">Lớp</th>
					    	<th scope="col" class="text-center" width="3%">HS</th>
					    	<th scope="col" class="text-center" width="3%">Lớp</th>
					    	<th scope="col" class="text-center" width="3%">HS</th>
					    	<th scope="col" class="text-center" width="3%">Lớp</th>
					    	<th scope="col" class="text-center" width="3%">HS</th>
					    	<th scope="col" class="text-center" width="3%">Lớp</th>
					    	<th scope="col" class="text-center" width="3%">HS</th>
					    	<th scope="col" class="text-center" width="3%">Lớp</th>
					    	<th scope="col" class="text-center" width="3%">HS</th>
					    	<th scope="col" class="text-center" width="3%">Lớp</th>
					    	<th scope="col" class="text-center" width="3%">HS</th>
					    	<th scope="col" class="text-center" width="3%">Lớp</th>
					    	<th scope="col" class="text-center" width="3%">HS</th>
					    	<th scope="col" class="text-center" width="3%">Lớp</th>
					    	<th scope="col" class="text-center" width="3%">HS</th>
					    	<th scope="col" class="text-center" width="3%">Lớp</th>
					    	<th scope="col" class="text-center" width="3%">HS</th>
					    	<th scope="col" class="text-center" width="3%">Lớp</th>
					    	<th scope="col" class="text-center" width="3%">HS</th>
					    	<th scope="col" class="text-center" width="3%">Lớp</th>
					    	<th scope="col" class="text-center" width="3%">HS</th>
					    	<th scope="col" class="text-center" width="3%">Lớp</th>
					    	<th scope="col" class="text-center" width="3%">HS</th>
					    	<th scope="col" class="text-center" width="3%">Lớp</th>
					    	<th scope="col" class="text-center" width="3%">HS</th>
					    </tr>
					  </thead>
					  <tbody>
					 <form method="POST" id="frm-1">
					    <tr>
					      <input type="hidden" name="id" id="id_1"></input>
					      <input type="hidden" name="nam" id="nam_1"></input>
					      <input type="hidden" name="thang" id="thang_1"></input>
					      <td><input type="hidden" name="noiDung" id="noiDung_1" class="form-control" value="Tự kỷ"/>Tự kỷ</td>
					      <td><input type="text" name="tsLop" id="tsLop_1" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="tsHs" id="tsHs_1" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="lopTk" id="lopTk_1" class="form-control"/></td>
					      <td><input type="text" name="hsTk" id="hsTk_1" class="form-control"/></td>
					      <td><input type="text" name="lopDb" id="lopDb_1" class="form-control"/></td>
					      <td><input type="text" name="hsDb" id="hsDb_1" class="form-control"/></td>
					      <td><input type="text" name="lopK1" id="lopK1_1" class="form-control"/></td>
					      <td><input type="text" name="hsK1" id="hsK1_1" class="form-control"/></td>
					      <td><input type="text" name="lopK2" id="lopK2_1" class="form-control"/></td>
					      <td><input type="text" name="hsK2" id="hsK2_1" class="form-control"/></td>
					      <td><input type="text" name="lopK3" id="lopK3_1" class="form-control"/></td>
					      <td><input type="text" name="hsK3" id="hsK3_1" class="form-control"/></td>
					      <td><input type="text" name="lopK4" id="lopK4_1" class="form-control"/></td>
					      <td><input type="text" name="hsK4" id="hsK4_1" class="form-control"/></td>
					      <td><input type="text" name="lopK5" id="lopK5_1" class="form-control"/></td>
					      <td><input type="text" name="hsK5" id="hsK5_1" class="form-control"/></td>
					      <td><input type="text" name="lopK6" id="lopK6_1" class="form-control"/></td>
					      <td><input type="text" name="hsK6" id="hsK6_1" class="form-control"/></td>
					      <td><input type="text" name="lopK7" id="lopK7_1" class="form-control"/></td>
					      <td><input type="text" name="hsK7" id="hsK7_1" class="form-control"/></td>
					      <td><input type="text" name="lopK8" id="lopK8_1" class="form-control"/></td>
					      <td><input type="text" name="hsK8" id="hsK8_1" class="form-control"/></td>
					      <td><input type="text" name="lopK9" id="lopK9_1" class="form-control"/></td>
					      <td><input type="text" name="hsK9" id="hsK9_1" class="form-control"/></td>
					      <td><input type="text" name="lopK10" id="lopK10_1" class="form-control"/></td>
					      <td><input type="text" name="hsK10" id="hsK10_1" class="form-control"/></td>
					      <td><input type="text" name="lopK11" id="lopK11_1" class="form-control"/></td>
					      <td><input type="text" name="hsK11" id="hsK11_1" class="form-control"/></td>
					      <td><input type="text" name="lopK12" id="lopK12_1" class="form-control"/></td>
					      <td><input type="text" name="hsK12" id="hsK12_1" class="form-control"/></td>
					    <input type="hidden" name="guiBcSgd" id="guiBcSgd_1" class="form-control"/>
					    </tr>
 					</form>
					    <form method="POST" id="frm-2">
					    <tr>
					      <input type="hidden" name="id" id="id_2"></input>
					       <input type="hidden" name="nam" id="nam_2"></input>
					      <input type="hidden" name="thang" id="thang_2"></input>
					      <td><input type="hidden" name="noiDung" id="noiDung_2" class="form-control" value="Khiếm thị" />Khiếm thị</td>
					      <td><input type="text" name="tsLop" id="tsLop_2" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="tsHs" id="tsHs_2" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="lopTk" id="lopTk_2" class="form-control"/></td>
					      <td><input type="text" name="hsTk" id="hsTk_2" class="form-control"/></td>
					      <td><input type="text" name="lopDb" id="lopDb_2" class="form-control"/></td>
					      <td><input type="text" name="hsDb" id="hsDb_2" class="form-control"/></td>
					      <td><input type="text" name="lopK1" id="lopK1_2" class="form-control"/></td>
					      <td><input type="text" name="hsK1" id="hsK1_2" class="form-control"/></td>
					      <td><input type="text" name="lopK2" id="lopK2_2" class="form-control"/></td>
					      <td><input type="text" name="hsK2" id="hsK2_2" class="form-control"/></td>
					      <td><input type="text" name="lopK3" id="lopK3_2" class="form-control"/></td>
					      <td><input type="text" name="hsK3" id="hsK3_2" class="form-control"/></td>
					      <td><input type="text" name="lopK4" id="lopK4_2" class="form-control"/></td>
					      <td><input type="text" name="hsK4" id="hsK4_2" class="form-control"/></td>
					      <td><input type="text" name="lopK5" id="lopK5_2" class="form-control"/></td>
					      <td><input type="text" name="hsK5" id="hsK5_2" class="form-control"/></td>
					      <td><input type="text" name="lopK6" id="lopK6_2" class="form-control"/></td>
					      <td><input type="text" name="hsK6" id="hsK6_2" class="form-control"/></td>
					      <td><input type="text" name="lopK7" id="lopK7_2" class="form-control"/></td>
					      <td><input type="text" name="hsK7" id="hsK7_2" class="form-control"/></td>
					      <td><input type="text" name="lopK8" id="lopK8_2" class="form-control"/></td>
					      <td><input type="text" name="hsK8" id="hsK8_2" class="form-control"/></td>
					      <td><input type="text" name="lopK9" id="lopK9_2" class="form-control"/></td>
					      <td><input type="text" name="hsK9" id="hsK9_2" class="form-control"/></td>
					      <td><input type="text" name="lopK10" id="lopK10_2" class="form-control"/></td>
					      <td><input type="text" name="hsK10" id="hsK10_2" class="form-control"/></td>
					      <td><input type="text" name="lopK11" id="lopK11_2" class="form-control"/></td>
					      <td><input type="text" name="hsK11" id="hsK11_2" class="form-control"/></td>
					      <td><input type="text" name="lopK12" id="lopK12_2" class="form-control"/></td>
					      <td><input type="text" name="hsK12" id="hsK12_2" class="form-control"/></td>
					      <input type="hidden" name="guiBcSgd" id="guiBcSgd_2" class="form-control"/>
					    </tr>
					    </form>
					    
					   <form method="POST" id="frm-3">
					    <tr>
					      <input type="hidden" name="id" id="id_3"></input>
					       <input type="hidden" name="nam" id="nam_3"></input>
					      <input type="hidden" name="thang" id="thang_3"></input>
					      <td><input type="hidden" name="noiDung" id="noiDung_3" class="form-control" value="Khiếm thính" />Khiếm thính</td>
					      <td><input type="text" name="tsLop" id="tsLop_3" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="tsHs" id="tsHs_3" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="lopTk" id="lopTk_3" class="form-control"/></td>
					      <td><input type="text" name="hsTk" id="hsTk_3" class="form-control"/></td>
					      <td><input type="text" name="lopDb" id="lopDb_3" class="form-control"/></td>
					      <td><input type="text" name="hsDb" id="hsDb_3" class="form-control"/></td>
					      <td><input type="text" name="lopK1" id="lopK1_3" class="form-control"/></td>
					      <td><input type="text" name="hsK1" id="hsK1_3" class="form-control"/></td>
					      <td><input type="text" name="lopK2" id="lopK2_3" class="form-control"/></td>
					      <td><input type="text" name="hsK2" id="hsK2_3" class="form-control"/></td>
					      <td><input type="text" name="lopK3" id="lopK3_3" class="form-control"/></td>
					      <td><input type="text" name="hsK3" id="hsK3_3" class="form-control"/></td>
					      <td><input type="text" name="lopK4" id="lopK4_3" class="form-control"/></td>
					      <td><input type="text" name="hsK4" id="hsK4_3" class="form-control"/></td>
					      <td><input type="text" name="lopK5" id="lopK5_3" class="form-control"/></td>
					      <td><input type="text" name="hsK5" id="hsK5_3" class="form-control"/></td>
					      <td><input type="text" name="lopK6" id="lopK6_3" class="form-control"/></td>
					      <td><input type="text" name="hsK6" id="hsK6_3" class="form-control"/></td>
					      <td><input type="text" name="lopK7" id="lopK7_3" class="form-control"/></td>
					      <td><input type="text" name="hsK7" id="hsK7_3" class="form-control"/></td>
					      <td><input type="text" name="lopK8" id="lopK8_3" class="form-control"/></td>
					      <td><input type="text" name="hsK8" id="hsK8_3" class="form-control"/></td>
					      <td><input type="text" name="lopK9" id="lopK9_3" class="form-control"/></td>
					      <td><input type="text" name="hsK9" id="hsK9_3" class="form-control"/></td>
					      <td><input type="text" name="lopK10" id="lopK10_3" class="form-control"/></td>
					      <td><input type="text" name="hsK10" id="hsK10_3" class="form-control"/></td>
					      <td><input type="text" name="lopK11" id="lopK11_3" class="form-control"/></td>
					      <td><input type="text" name="hsK11" id="hsK11_3" class="form-control"/></td>
					      <td><input type="text" name="lopK12" id="lopK12_3" class="form-control"/></td>
					      <td><input type="text" name="hsK12" id="hsK12_3" class="form-control"/></td>
					    <input type="hidden" name="guiBcSgd" id="guiBcSgd_3" class="form-control"/>
					    </tr>
					    </form>
					  </tbody>
					</table>
					</div>
					</div>
				<div class="col-md-6">
						 <label>2. Số liệu cán bộ quản lý, giáo viên, nhân viên</label>
				<form method="POST" id="frm-6">
					<input type="hidden" name="id" id="id_6"></input>
					 <input type="hidden" name="nam" id="nam_6"></input>
					 <input type="hidden" name="thang" id="thang_6"></input>
					 <input type="hidden" name="guiBcSgd" id="guiBcSgd_6" class="form-control"/>
					 <input type="hidden" name="tenTruong" id="tenTruong_6" th:value="${#authentication.getPrincipal().getFullname()}" class="form-control"/>
	 				<div class="form-group">
	 					<table class="ExcelTable2007" border="1">
						  <thead>
						    <tr>
						      <th scope="col" rowspan="2" class="text-center" width="2%">TT</th>
						      <th scope="col" rowspan="2" class="text-center" width="6%">ĐƠN VỊ</th>
						      <th scope="col" colspan="5" class="text-center" width="20%">CBQL - GV - NV</th>
						    </tr>
						    <tr>
						    	<th scope="col" class="text-center" width="4%">T.số</th>
						    	<th scope="col" class="text-center" width="4%">CBQL</th>
						    	<th scope="col" class="text-center" width="4%">GV</th>
						    	<th scope="col" class="text-center" width="4%">NV</th>
						    </tr>
						  </thead>
						  <tbody>
						 
						    <tr>
						      <th scope="row" class="text-center">1</th>
						      <td th:text="${#authentication.getPrincipal().getFullname()}"></td>
						      <td><input type="text" name="tsCbGvNv" id="tsCbGvNv" class="form-control" readonly="true" tabIndex="-1"/></td>
						      <td><input type="text" name="cbql" id="cbql" class="form-control"/></td>
						      <td><input type="text" name="gv2" id="gv2" class="form-control" /></td>
						      <td><input type="text" name="nv" id="nv" class="form-control" /></td>
						    </tr>
						  </tbody>
						</table>
						</div>
						</form>
					</div>
					<div class="col-md-12">
				<label>3. Kết quả xếp loại hạnh kiểm, học lực</label>
				<form method="POST" id="frm-5">
					<input type="hidden" name="id" id="id_5"></input>
					 <input type="hidden" name="nam" id="nam_5"></input>
					 <input type="hidden" name="thang" id="thang_5"></input>
 				<div class="form-group">
 					<table class="ExcelTable2007" border="1">
					  <thead>
					    <tr>
					      <th scope="col" rowspan="3" class="text-center" width="2%">TT</th>
					      <th scope="col" rowspan="3" class="text-center" width="11%">KHỐI</th>
					      <th scope="col" rowspan="3" class="text-center" width="6%">T.số HS</th>
					      <th scope="col" colspan="8" class="text-center" width="36%">HẠNH KIỂM</th>
					      <th scope="col" colspan="10" class="text-center" width="45%">HỌC LỰC</th>
					    </tr>
					    <tr>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Tốt</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Khá</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Trung bình</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Yếu</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Giỏi</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Khá</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Trung bình</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Yếu</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Kém</th>
					    </tr>
					    <tr>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    </tr>
					  </thead>
					  <tbody>
					 
					    <tr>
					      <th scope="row" class="text-center">1</th>
					      <td>Khối 6</td>
					      <td><input type="text" name="hsK6" id="hsK6" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="hkTotK6" id="hkTotK6" class="form-control"/></td>
					      <td><input type="text" name="tlHkTotK6" id="tlHkTotK6" class="form-control"  readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hkKhaK6" id="hkKhaK6" class="form-control"/></td>
					      <td><input type="text" name="tlHkKhaK6" id="tlHkKhaK6" class="form-control" readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hkTbK6" id="hkTbK6" class="form-control"/></td>
					      <td><input type="text" name="tlHkTbK6" id="tlHkTbK6" class="form-control" readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hkYeuK6" id="hkYeuK6" class="form-control"/></td>
					      <td><input type="text" name="tlHkYeuK6" id="tlHkYeuK6" class="form-control" readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hlGioiK6" id="hlGioiK6" class="form-control"/></td>
					      <td><input type="text" name="tlHlGioiK6" id="tlHlGioiK6" class="form-control" readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hlKhaK6" id="hlKhaK6" class="form-control"/></td>
					      <td><input type="text" name="tlHlKhaK6" id="tlHlKhaK6" class="form-control" readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hlTbK6" id="hlTbK6" class="form-control"/></td>
					      <td><input type="text" name="tlHlTbK6" id="tlHlTbK6" class="form-control" readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hlYeuK6" id="hlYeuK6" class="form-control" /></td>
					      <td><input type="text" name="tlHlYeuK6" id="tlHlYeuK6" class="form-control"  readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hlKemK6" id="hlKemK6" class="form-control" /></td>
					      <td><input type="text" name="tlHlKemK6" id="tlHlKemK6" class="form-control"  readonly="true" tabIndex="-1"  /></td>
					    </tr>
					    <tr>
					      <th scope="row" class="text-center">2</th>
					      <td>Khối 7</td>
					      <td><input type="text" name="hsK7" id="hsK7" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="hkTotK7" id="hkTotK7" class="form-control"/></td>
					      <td><input type="text" name="tlHkTotK7" id="tlHkTotK7" class="form-control"  readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hkKhaK7" id="hkKhaK7" class="form-control"/></td>
					      <td><input type="text" name="tlHkKhaK7" id="tlHkKhaK7" class="form-control"  readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hkTbK7" id="hkTbK7" class="form-control"/></td>
					      <td><input type="text" name="tlHkTbK7" id="tlHkTbK7" class="form-control"  readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hkYeuK7" id="hkYeuK7" class="form-control"/></td>
					      <td><input type="text" name="tlHkYeuK7" id="tlHkYeuK7" class="form-control"  readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hlGioiK7" id="hlGioiK7" class="form-control"/></td>
					      <td><input type="text" name="tlHlGioiK7" id="tlHlGioiK7" class="form-control"  readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hlKhaK7" id="hlKhaK7" class="form-control"/></td>
					      <td><input type="text" name="tlHlKhaK7" id="tlHlKhaK7" class="form-control"  readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hlTbK7" id="hlTbK7" class="form-control"/></td>
					      <td><input type="text" name="tlHlTbK7" id="tlHlTbK7" class="form-control"  readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hlYeuK7" id="hlYeuK7" class="form-control" /></td>
					      <td><input type="text" name="tlHlYeuK7" id="tlHlYeuK7" class="form-control"  readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hlKemK7" id="hlKemK7" class="form-control" /></td>
					      <td><input type="text" name="tlHlKemK7" id="tlHlKemK7" class="form-control"  readonly="true" tabIndex="-1"  /></td>
					    </tr>
					    <tr>
					      <th scope="row" class="text-center">3</th>
					      <td>Khối 8</td>
					      <td><input type="text" name="hsK8" id="hsK8" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="hkTotK8" id="hkTotK8" class="form-control"/></td>
					      <td><input type="text" name="tlHkTotK8" id="tlHkTotK8" class="form-control" readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hkKhaK8" id="hkKhaK8" class="form-control"/></td>
					      <td><input type="text" name="tlHkKhaK8" id="tlHkKhaK8" class="form-control" readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hkTbK8" id="hkTbK8" class="form-control"/></td>
					      <td><input type="text" name="tlHkTbK8" id="tlHkTbK8" class="form-control" readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hkYeuK8" id="hkYeuK8" class="form-control"/></td>
					      <td><input type="text" name="tlHkYeuK8" id="tlHkYeuK8" class="form-control" readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hlGioiK8" id="hlGioiK8" class="form-control"/></td>
					      <td><input type="text" name="tlHlGioiK8" id="tlHlGioiK8" class="form-control" readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hlKhaK8" id="hlKhaK8" class="form-control"/></td>
					      <td><input type="text" name="tlHlKhaK8" id="tlHlKhaK8" class="form-control" readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hlTbK8" id="hlTbK8" class="form-control"/></td>
					      <td><input type="text" name="tlHlTbK8" id="tlHlTbK8" class="form-control" readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hlYeuK8" id="hlYeuK8" class="form-control" /></td>
					      <td><input type="text" name="tlHlYeuK8" id="tlHlYeuK8" class="form-control"  readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hlKemK8" id="hlKemK8" class="form-control" /></td>
					      <td><input type="text" name="tlHlKemK8" id="tlHlKemK8" class="form-control"  readonly="true" tabIndex="-1"  /></td>
					    </tr>
					    <tr>
					      <th scope="row" class="text-center">4</th>
					      <td>Khối 9</td>
					      <td><input type="text" name="hsK9" id="hsK9" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="hkTotK9" id="hkTotK9" class="form-control"/></td>
					      <td><input type="text" name="tlHkTotK9" id="tlHkTotK9" class="form-control" readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hkKhaK9" id="hkKhaK9" class="form-control"/></td>
					      <td><input type="text" name="tlHkKhaK9" id="tlHkKhaK9" class="form-control" readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hkTbK9" id="hkTbK9" class="form-control"/></td>
					      <td><input type="text" name="tlHkTbK9" id="tlHkTbK9" class="form-control" readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hkYeuK9" id="hkYeuK9" class="form-control"/></td>
					      <td><input type="text" name="tlHkYeuK9" id="tlHkYeuK9" class="form-control" readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hlGioiK9" id="hlGioiK9" class="form-control"/></td>
					      <td><input type="text" name="tlHlGioiK9" id="tlHlGioiK9" class="form-control" readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hlKhaK9" id="hlKhaK9" class="form-control"/></td>
					      <td><input type="text" name="tlHlKhaK9" id="tlHlKhaK9" class="form-control" readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hlTbK9" id="hlTbK9" class="form-control"/></td>
					      <td><input type="text" name="tlHlTbK9" id="tlHlTbK9" class="form-control" readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hlYeuK9" id="hlYeuK9" class="form-control" /></td>
					      <td><input type="text" name="tlHlYeuK9" id="tlHlYeuK9" class="form-control"  readonly="true" tabIndex="-1"  /></td>
					      <td><input type="text" name="hlKemK9" id="hlKemK9" class="form-control" /></td>
					      <td><input type="text" name="tlHlKemK9" id="tlHlKemK9" class="form-control"  readonly="true" tabIndex="-1"  /></td>
					    </tr>
					     <tr>
						      <th scope="row" class="text-center">5</th>
						      <td>Khối 10</td>
						      <td><input type="text" name="hsK10" id="hsK10" class="form-control" readonly="true" tabIndex="-1"/></td>
						      <td><input type="text" name="hkTotK10" id="hkTotK10" class="form-control"/></td>
						      <td><input type="text" name="tlHkTotK10" id="tlHkTotK10" class="form-control" readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hkKhaK10" id="hkKhaK10" class="form-control"/></td>
						      <td><input type="text" name="tlHkKhaK10" id="tlHkKhaK10" class="form-control" readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hkTbK10" id="hkTbK10" class="form-control "/></td>
						      <td><input type="text" name="tlHkTbK10" id="tlHkTbK10" class="form-control" readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hkYeuK10" id="hkYeuK10" class="form-control "/></td>
						      <td><input type="text" name="tlHkYeuK10" id="tlHkYeuK10" class="form-control" readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hlGioiK10" id="hlGioiK10" class="form-control "/></td>
						      <td><input type="text" name="tlHlGioiK10" id="tlHlGioiK10" class="form-control" readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hlKhaK10" id="hlKhaK10" class="form-control "/></td>
						      <td><input type="text" name="tlHlKhaK10" id="tlHlKhaK10" class="form-control" readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hlTbK10" id="hlTbK10" class="form-control "/></td>
						      <td><input type="text" name="tlHlTbK10" id="tlHlTbK10" class="form-control" readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hlYeuK10" id="hlYeuK10" class="form-control" /></td>
						      <td><input type="text" name="tlHlYeuK10" id="tlHlYeuK10" class="form-control"  readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hlKemK10" id="hlKemK10" class="form-control" /></td>
						      <td><input type="text" name="tlHlKemK10" id="tlHlKemK10" class="form-control"  readonly="true" tabIndex="-1" /></td>
						    </tr>
						    <tr>
						      <th scope="row" class="text-center">6</th>
						      <td>Khối 11</td>
						      <td><input type="text" name="hsK11" id="hsK11" class="form-control" readonly="true" tabIndex="-1"/></td>
						      <td><input type="text" name="hkTotK11" id="hkTotK11" class="form-control "/></td>
						      <td><input type="text" name="tlHkTotK11" id="tlHkTotK11" class="form-control" readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hkKhaK11" id="hkKhaK11" class="form-control "/></td>
						      <td><input type="text" name="tlHkKhaK11" id="tlHkKhaK11" class="form-control" readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hkTbK11" id="hkTbK11" class="form-control "/></td>
						      <td><input type="text" name="tlHkTbK11" id="tlHkTbK11" class="form-control" readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hkYeuK11" id="hkYeuK11" class="form-control "/></td>
						      <td><input type="text" name="tlHkYeuK11" id="tlHkYeuK11" class="form-control" readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hlGioiK11" id="hlGioiK11" class="form-control "/></td>
						      <td><input type="text" name="tlHlGioiK11" id="tlHlGioiK11" class="form-control" readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hlKhaK11" id="hlKhaK11" class="form-control "/></td>
						      <td><input type="text" name="tlHlKhaK11" id="tlHlKhaK11" class="form-control" readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hlTbK11" id="hlTbK11" class="form-control "/></td>
						      <td><input type="text" name="tlHlTbK11" id="tlHlTbK11" class="form-control" readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hlYeuK11" id="hlYeuK11" class="form-control" /></td>
						      <td><input type="text" name="tlHlYeuK11" id="tlHlYeuK11" class="form-control"  readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hlKemK11" id="hlKemK11" class="form-control" /></td>
						      <td><input type="text" name="tlHlKemK11" id="tlHlKemK11" class="form-control"  readonly="true" tabIndex="-1" /></td>
						    </tr>
						    <tr>
						      <th scope="row" class="text-center">7</th>
						      <td>Khối 12</td>
						      <td><input type="text" name="hsK12" id="hsK12" class="form-control" readonly="true" tabIndex="-1"/></td>
						      <td><input type="text" name="hkTotK12" id="hkTotK12" class="form-control "/></td>
						      <td><input type="text" name="tlHkTotK12" id="tlHkTotK12" class="form-control" readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hkKhaK12" id="hkKhaK12" class="form-control "/></td>
						      <td><input type="text" name="tlHkKhaK12" id="tlHkKhaK12" class="form-control" readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hkTbK12" id="hkTbK12" class="form-control "/></td>
						      <td><input type="text" name="tlHkTbK12" id="tlHkTbK12" class="form-control" readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hkYeuK12" id="hkYeuK12" class="form-control "/></td>
						      <td><input type="text" name="tlHkYeuK12" id="tlHkYeuK12" class="form-control" readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hlGioiK12" id="hlGioiK12" class="form-control "/></td>
						      <td><input type="text" name="tlHlGioiK12" id="tlHlGioiK12" class="form-control" readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hlKhaK12" id="hlKhaK12" class="form-control "/></td>
						      <td><input type="text" name="tlHlKhaK12" id="tlHlKhaK12" class="form-control" readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hlTbK12" id="hlTbK12" class="form-control "/></td>
						      <td><input type="text" name="tlHlTbK12" id="tlHlTbK12" class="form-control" readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hlYeuK12" id="hlYeuK12" class="form-control" /></td>
						      <td><input type="text" name="tlHlYeuK12" id="tlHlYeuK12" class="form-control"  readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hlKemK12" id="hlKemK12" class="form-control" /></td>
						      <td><input type="text" name="tlHlKemK12" id="tlHlKemK12" class="form-control"  readonly="true" tabIndex="-1" /></td>
						    </tr>
					     <tr>
					      <th scope="row" class="text-center">8</th>
					      <td><b>Tổng cộng THCS</b></td>
					      <td><input type="text" name="tsHsThcs" id="tsHsThcs" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="hkTotThcs" id="hkTotThcs" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="tlHkTotThcs" id="tlHkTotThcs" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="hkKhaThcs" id="hkKhaThcs" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="tlHkKhaThcs" id="tlHkKhaThcs" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="hkTbThcs" id="hkTbThcs" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="tlHkTbThcs" id="tlHkTbThcs" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="hkYeuThcs" id="hkYeuThcs" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="tlHkYeuThcs" id="tlHkYeuThcs" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="hlGioiThcs" id="hlGioiThcs" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="tlHlGioiThcs" id="tlHlGioiThcs" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="hlKhaThcs" id="hlKhaThcs" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="tlHlKhaThcs" id="tlHlKhaThcs" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="hlTbThcs" id="hlTbThcs" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="tlHlTbThcs" id="tlHlTbThcs" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="hlYeuThcs" id="hlYeuThcs" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="tlHlYeuThcs" id="tlHlYeuThcs" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="hlKemThcs" id="hlKemThcs" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="tlHlKemThcs" id="tlHlKemThcs" class="form-control" readonly="true" tabIndex="-1" /></td>
					    </tr>
					     <tr>
						      <th scope="row" class="text-center">9</th>
						      <td><b>Tổng cộng THPT</b></td>
						      <td><input type="text" name="tsHsThpt" id="tsHsThpt" class="form-control" readonly="true" tabIndex="-1"/></td>
						      <td><input type="text" name="hkTotThpt" id="hkTotThpt" class="form-control" readonly="true" tabIndex="-1"/></td>
						      <td><input type="text" name="tlHkTotThpt" id="tlHkTotThpt" class="form-control" readonly="true" tabIndex="-1"/></td>
						      <td><input type="text" name="hkKhaThpt" id="hkKhaThpt" class="form-control" readonly="true" tabIndex="-1"/></td>
						      <td><input type="text" name="tlHkKhaThpt" id="tlHkKhaThpt" class="form-control" readonly="true" tabIndex="-1"/></td>
						      <td><input type="text" name="hkTbThpt" id="hkTbThpt" class="form-control" readonly="true" tabIndex="-1"/></td>
						      <td><input type="text" name="tlHkTbThpt" id="tlHkTbThpt" class="form-control" readonly="true" tabIndex="-1"/></td>
						      <td><input type="text" name="hkYeuThpt" id="hkYeuThpt" class="form-control" readonly="true" tabIndex="-1"/></td>
						      <td><input type="text" name="tlHkYeuThpt" id="tlHkYeuThpt" class="form-control" readonly="true" tabIndex="-1"/></td>
						      <td><input type="text" name="hlGioiThpt" id="hlGioiThpt" class="form-control" readonly="true" tabIndex="-1"/></td>
						      <td><input type="text" name="tlHlGioiThpt" id="tlHlGioiThpt" class="form-control" readonly="true" tabIndex="-1"/></td>
						      <td><input type="text" name="hlKhaThpt" id="hlKhaThpt" class="form-control" readonly="true" tabIndex="-1"/></td>
						      <td><input type="text" name="tlHlKhaThpt" id="tlHlKhaThpt" class="form-control" readonly="true" tabIndex="-1"/></td>
						      <td><input type="text" name="hlTbThpt" id="hlTbThpt" class="form-control" readonly="true" tabIndex="-1"/></td>
						      <td><input type="text" name="tlHlTbThpt" id="tlHlTbThpt" class="form-control" readonly="true" tabIndex="-1"/></td>
						      <td><input type="text" name="hlYeuThpt" id="hlYeuThpt" class="form-control" readonly="true" tabIndex="-1"/></td>
						      <td><input type="text" name="tlHlYeuThpt" id="tlHlYeuThpt" class="form-control" readonly="true" tabIndex="-1"/></td>
						      <td><input type="text" name="hlKemThpt" id="hlKemThpt" class="form-control" readonly="true" tabIndex="-1"/></td>
						      <td><input type="text" name="tlHlKemThpt" id="tlHlKemThpt" class="form-control" readonly="true" tabIndex="-1"/></td>
						    </tr>
					  </tbody>
					</table>
					</div>
					<input type="hidden" name="guiBcSgd" id="guiBcSgd_5" class="form-control"/>
					 <input type="hidden" name="tenTruong" id="tenTruong" th:value="${#authentication.getPrincipal().getFullname()}" class="form-control"/>
					 </form>
					</div>
					
					<div class="col-md-12">
 				<div class="form-group">
				<label>4. Cơ sở vật chất.</label>
				 <form method="POST" id="frm-4">
					<input type="hidden" name="id" id="id_4"></input>
					 <input type="hidden" name="nam" id="nam_4"></input>
					 <input type="hidden" name="thang" id="thang_4"></input>
 					<table class="ExcelTable2007" border="1">
					  <thead>
					    <tr>
					      <th scope="col" rowspan="2" class="text-center" width="3%">TT</th>
					      <th scope="col" rowspan="2" class="text-center" width="15%">ĐƠN VỊ</th>
					      <th scope="col" rowspan="2" class="text-center" width="5%">TỔNG SỐ PHÒNG</th>
					      <th scope="col" colspan="4" class="text-center">PHÒNG HỌC</th>
					      <th scope="col" colspan="5" class="text-center">PHÒNG LÀM VIỆC</th>
					      <th scope="col" colspan="2" class="text-center">PHÒNG THỰC HÀNH</th>
					    </tr>
					    <tr>
					    	<th scope="col" class="text-center" width="5%">Tổng</th>
					    	<th scope="col" class="text-center" width="5%">Kiên cố</th>
					    	<th scope="col" class="text-center" width="5%">Bán kiên cố</th>
					    	<th scope="col" class="text-center" width="5%">Tạm, mượn nhờ</th>
					    	<th scope="col" class="text-center" width="5%">Tổng</th>
					    	<th scope="col" class="text-center" width="5%">Kiên cố</th>
					    	<th scope="col" class="text-center" width="5%">Bán kiên cố</th>
					    	<th scope="col" class="text-center" width="5%">Tạm, mượn nhờ</th>
					    	<th scope="col" class="text-center" width="5%">Nhà công vụ giáo viên</th>
					    	<th scope="col" class="text-center" width="5%">Tin học</th>
					    	<th scope="col" class="text-center" width="5%">Ngoại ngữ</th>
					    </tr>
					  </thead>
					  <tbody>
					 
					    <tr>
					      <th scope="row" class="text-center">1</th>
					      <td th:text="${#authentication.getPrincipal().getFullname()}"></td>
					      <td><input type="text" name="tsPhong" id="tsPhong" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="tsPhongHoc" id="tsPhongHoc" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="phKienCo" id="phKienCo" class="form-control"/></td>
					      <td><input type="text" name="phBanKienCo" id="phBanKienCo" class="form-control"/></td>
					      <td><input type="text" name="phTam" id="phTam" class="form-control"/></td>
					      <td><input type="text" name="tsPhongLamViec" id="tsPhongLamViec" class="form-control" readonly="true" tabIndex="-1" /></td>
					      <td><input type="text" name="plvKienCo" id="plvKienCo" class="form-control" /></td>
					      <td><input type="text" name="plvBanKienCo" id="plvBanKienCo" class="form-control"/></td>
					      <td><input type="text" name="plvTam" id="plvTam" class="form-control"/></td>
					      <td><input type="text" name="plvNhaCongVu" id="plvNhaCongVu" class="form-control"/></td>
					      <td><input type="text" name="pthTinHoc" id="pthTinHoc" class="form-control"/></td>
					      <td><input type="text" name="pthNgoaiNgu" id="pthNgoaiNgu" class="form-control"/></td>
					    </tr>
					  </tbody>
					</table>
					 <input type="hidden" name="guiBcSgd" id="guiBcSgd_4" class="form-control"/>
					 <input type="hidden" name="tenTruong" id="tenTruong" th:value="${#authentication.getPrincipal().getFullname()}" class="form-control"/>
					 </form>
					</div>
					</div>
 				</div>
 				
 				<div class="box-footer text-center">
 					<button class="btn btn-success btn-flat" type="button" id="btn-ok"><i class="fa fa-check-circle"></i> Lưu</button>&nbsp;&nbsp;
 					<button class="btn btn-default btn-flat" type="button" id="btn-cancel"><i class="fa fa-times-circle"></i> Hủy</button>
 				</div>
 				</div>
 			</div>
 		</div>
 		
 	</div>
 	
 	<div class="row">
 		<div class="col-md-12">
 			<div class="box box-primary" id="box-ds">
 				<div class="box-header with-border">
 					<h3 class="box-title">Nhập số liệu Trung tâm HTPTGDHN </h3>
 				</div>
 				<div class="box-body">
 					<div class="row">
 						<div class="col-md-4">
 							<div class="form-group">
 								<select class="form-control" id="cmb-nam-hoc-filter"></select>
 							</div>
 						</div>
 						<div class="col-md-4">
 							<div class="form-group">
							 <select class="form-control" id="cmb-thang-filter">
								<option value="0">-- Vui lòng chọn Tháng --</option>
								<option value="1">Tháng 1</option>
								<option value="2">Tháng 2</option>
								<option value="3">Tháng 3</option>
								<option value="4">Tháng 4</option>
								<option value="5">Tháng 5</option>
								<option value="6">Tháng 6</option>
								<option value="7">Tháng 7</option>
								<option value="8">Tháng 8</option>
								<option value="9">Tháng 9</option>
								<option value="10">Tháng 10</option>
								<option value="11">Tháng 11</option>
								<option value="12">Tháng 12</option>
							</select>
							</div>
 						</div>
 					</div>
 					<table class="table ExcelTable2007" id="ds">
					  <thead>
					     <tr>
					      <th scope="col" rowspan="3" class="text-center" width="5%">Nội dung</th>
					      <th scope="col" rowspan="2" colspan="2" class="text-center">Tổng số</th>
					      <th scope="col" rowspan="2" colspan="2" class="text-center">Tự kỷ</th>
					      <th scope="col" rowspan="2" colspan="2" class="text-center">Dự bị</th>
					      <th scope="col" colspan="10" class="text-center">Cấp tiểu học</th>
					      <th scope="col" colspan="8" class="text-center">Cấp THCS</th>
					      <th scope="col" colspan="6" class="text-center">Cấp THPT</th>
					      <th scope="col" rowspan="3" class="text-center" width="5%">T.Tác</th>
					    </tr>
					     <tr>
					      <th scope="col" colspan="2" class="text-center">Lớp 1</th>
					      <th scope="col" colspan="2" class="text-center">Lớp 2</th>
					      <th scope="col" colspan="2" class="text-center">Lớp 3</th>
					      <th scope="col" colspan="2" class="text-center">Lớp 4</th>
					      <th scope="col" colspan="2" class="text-center">Lớp 5</th>
					      <th scope="col" colspan="2" class="text-center">Lớp 6</th>
					      <th scope="col" colspan="2" class="text-center">Lớp 7</th>
					      <th scope="col" colspan="2" class="text-center">Lớp 8</th>
					      <th scope="col" colspan="2" class="text-center">Lớp 9</th>
					      <th scope="col" colspan="2" class="text-center">Lớp 10</th>
					      <th scope="col" colspan="2" class="text-center">Lớp 11</th>
					      <th scope="col" colspan="2" class="text-center">Lớp 12</th>
					    </tr>
					    <tr>
					    	<th scope="col" class="text-center" width="3%">Lớp</th>
					    	<th scope="col" class="text-center" width="3%">HS</th>
					    	<th scope="col" class="text-center" width="3%">Lớp</th>
					    	<th scope="col" class="text-center" width="3%">HS</th>
					    	<th scope="col" class="text-center" width="3%">Lớp</th>
					    	<th scope="col" class="text-center" width="3%">HS</th>
					    	<th scope="col" class="text-center" width="3%">Lớp</th>
					    	<th scope="col" class="text-center" width="3%">HS</th>
					    	<th scope="col" class="text-center" width="3%">Lớp</th>
					    	<th scope="col" class="text-center" width="3%">HS</th>
					    	<th scope="col" class="text-center" width="3%">Lớp</th>
					    	<th scope="col" class="text-center" width="3%">HS</th>
					    	<th scope="col" class="text-center" width="3%">Lớp</th>
					    	<th scope="col" class="text-center" width="3%">HS</th>
					    	<th scope="col" class="text-center" width="3%">Lớp</th>
					    	<th scope="col" class="text-center" width="3%">HS</th>
					    	<th scope="col" class="text-center" width="3%">Lớp</th>
					    	<th scope="col" class="text-center" width="3%">HS</th>
					    	<th scope="col" class="text-center" width="3%">Lớp</th>
					    	<th scope="col" class="text-center" width="3%">HS</th>
					    	<th scope="col" class="text-center" width="3%">Lớp</th>
					    	<th scope="col" class="text-center" width="3%">HS</th>
					    	<th scope="col" class="text-center" width="3%">Lớp</th>
					    	<th scope="col" class="text-center" width="3%">HS</th>
					    	<th scope="col" class="text-center" width="3%">Lớp</th>
					    	<th scope="col" class="text-center" width="3%">HS</th>
					    	<th scope="col" class="text-center" width="3%">Lớp</th>
					    	<th scope="col" class="text-center" width="3%">HS</th>
					    	<th scope="col" class="text-center" width="3%">Lớp</th>
					    	<th scope="col" class="text-center" width="3%">HS</th>
					    </tr>
					  </thead>
					  <tbody>
					  </tbody>
					</table>
					<p style="padding-top: 15px;"></p>
					<table class="table ExcelTable2007" id="ds-4">
					  <thead>
					    <tr>
						      <th scope="col" rowspan="2" class="text-center" width="2%">TT</th>
						      <th scope="col" rowspan="2" class="text-center" width="6%">ĐƠN VỊ</th>
						      <th scope="col" colspan="5" class="text-center" width="20%">CBQL - GV - NV</th>
						    </tr>
						    <tr>
						    	<th scope="col" class="text-center" width="4%">T.số</th>
						    	<th scope="col" class="text-center" width="4%">CBQL</th>
						    	<th scope="col" class="text-center" width="4%">GV</th>
						    	<th scope="col" class="text-center" width="4%">NV</th>
						    </tr>
					  </thead>
					  <tbody>
					  </tbody>
					</table>
					<p style="padding-top: 15px;"></p>
 					<table class="table ExcelTable2007" id="ds-3">
					  <thead>
					  <tr>
					   	  <th scope="col" rowspan="3" class="text-center" width="2%">TT</th>
					      <th scope="col" rowspan="3" class="text-center" width="5%">ĐƠN VỊ</th>
					      <th scope="col" rowspan="3" class="text-center" width="4%">T.số HS</th>
					      <th scope="col" colspan="8" class="text-center" width="36%">HẠNH KIỂM</th>
					      <th scope="col" colspan="10" class="text-center" width="45%">HỌC LỰC</th>
					    </tr>
					    <tr>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Tốt</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Khá</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Trung bình</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Yếu</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Giỏi</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Khá</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Trung bình</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Yếu</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Kém</th>
					    </tr>
					    <tr>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    </tr>
					  </thead>
					    <tbody>
					  </tbody>
					</table>
					<p style="padding-top: 15px;"></p>
 					<table class="table ExcelTable2007" id="ds-1">
					  <thead>
					   <tr>
					      <th scope="col" rowspan="2" class="text-center" width="15%">ĐƠN VỊ</th>
					      <th scope="col" rowspan="2" class="text-center" width="8%">TỔNG SỐ PHÒNG</th>
					      <th scope="col" colspan="4" class="text-center">PHÒNG HỌC</th>
					      <th scope="col" colspan="5" class="text-center">PHÒNG LÀM VIỆC</th>
					      <th scope="col" colspan="2" class="text-center">PHÒNG THỰC HÀNH</th>
					    </tr>
					    <tr>
					    	<th scope="col" class="text-center" width="5%">Tổng</th>
					    	<th scope="col" class="text-center" width="5%">Kiên cố</th>
					    	<th scope="col" class="text-center" width="5%">Bán kiên cố</th>
					    	<th scope="col" class="text-center" width="5%">Tạm, mượn nhờ</th>
					    	<th scope="col" class="text-center" width="5%">Tổng</th>
					    	<th scope="col" class="text-center" width="5%">Kiên cố</th>
					    	<th scope="col" class="text-center" width="5%">Bán kiên cố</th>
					    	<th scope="col" class="text-center" width="5%">Tạm, mượn nhờ</th>
					    	<th scope="col" class="text-center" width="5%">Nhà công vụ giáo viên</th>
					    	<th scope="col" class="text-center" width="5%">Tin học</th>
					    	<th scope="col" class="text-center" width="5%">Ngoại ngữ</th>
					    </tr>
					  </thead>
					  <tbody>
					  </tbody>
					</table>
 				</div>
 				<div class="box-footer">
 					<div class="jdpage" id="page-ds"></div>
 				</div>
 			</div>
 		</div>
 	</div>
 	
 </section>
 <!-- /.content -->