<!-- Content Header (Page header) -->
<section class="content-header">
     <h1>
		<th:block th:text="${MODEL.title}"></th:block>
		<small></small>
     </h1>
     <ol class="breadcrumb">
         <li>
             <a href=".">
                 <i class="fa fa-home"></i>
                 Trang chủ
             </a>
         </li>
         <li class="active" th:text="${MODEL.title}">Actived page</li>
     </ol>
 </section>
 <!-- Main content -->
 <section class="content">
 	<div class="row">
 		<div class="col-md-12">
 			<div class="box box-primary collapsed-box" id="box-ds">
 			<div class="box-header with-border" id="showBox">
             <button class="btn btn-success btn-flat" type="button" ><i class="fa fa-plus"></i> Nhập mới</button>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="toggle"> <i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
            <div class="box-body" style="display: none;">
			<div class="box-body">
			<input type="hidden" th:value="${#authentication.getPrincipal().getLoaiTruong()}" id="staticLT" ></input>
			<div class="col-md-4">
				<div class="form-group">
					<label>Tháng</label>
					 <select class="form-control" id="cmb-thoi-gian" name="thang">
						<option value="">-- Vui lòng chọn Tháng --</option>
						<option value="1">Tháng 1</option>
						<option value="2">Tháng 2</option>
						<option value="3">Tháng 3</option>
						<option value="4">Tháng 4</option>
						<option value="5">Tháng 5</option>
						<option value="6">Tháng 6</option>
						<option value="7">Tháng 7</option>
						<option value="8">Tháng 8</option>
						<option value="9">Tháng 9</option>
						<option value="10">Tháng 10</option>
						<option value="11">Tháng 11</option>
						<option value="12">Tháng 12</option>
					</select>
			</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label>Năm</label> 
					   <select class="form-control" id="cmb-nam-hoc" name="nam" style="width:100%">
							<option value="">-- Vui lòng chọn Năm --</option>
					   </select>
				</div>
			</div>
			<div class="col-md-4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
			<div class="col-md-12">
				<div class="nav-tabs-custom" th:switch="${#authentication.getPrincipal().getLoaiTruong()}==34 ? ${true} : ${false}">
	            <ul class="nav nav-tabs" th:case="${true}">
	              <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true"><b>THCS</b></a></li>
	              <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false"><b>THPT</b></a></li>
	            </ul>
	            <ul class="nav nav-tabs" th:case="${false}">
	              <li class="active"><a href="#tab_2" data-toggle="tab" aria-expanded="true"><b>THPT</b></a></li>
	            </ul>
	            <div class="tab-content">
	              <div th:class="${#authentication.getPrincipal().getLoaiTruong()}==34 ? 'tab-pane active': 'tab-pane'" id="tab_1">
	              <form method="POST" id="frm-2">
	            	<input type="hidden" name="id" id="id_thcs"></input>
	            	<input type="hidden" name="nam" id="nam_thcs"></input>
	            	<input type="hidden" name="thang" id="thang_thcs"></input>
	            	<input type="hidden" name="guiBcSgd" id="guiBcSgd_thcs" class="form-control"/>
 					<input type="hidden" th:value="${#authentication.getPrincipal().getIdTruong()}" id="idPhongGd_thcs" name="idPhongGd"></input>
	              	<input type="hidden" name="truong" id="truong_thcs" value="1"/>
	              	<label>1. Số liệu trường, lớp, học sinh</label>
	 				<div class="form-group">
	 					<table class="ExcelTable2007" border="1">
						  <thead>
						    <tr>
						      <th scope="col" rowspan="2" class="text-center" width="2%">TT</th>
						      <th scope="col" rowspan="2" class="text-center" width="8%">ĐƠN VỊ</th>
<!-- 						      <th scope="col" rowspan="3" class="text-center" width="6%">TRƯỜNG</th> -->
						      <th scope="col" colspan="5" class="text-center" width="30%">LỚP</th>
						      <th scope="col" colspan="5" class="text-center" width="30%">HỌC SINH</th>
						    </tr>
						    <tr>
						    	<th scope="col" class="text-center" width="6%">T.số</th>
						    	<th scope="col" class="text-center" width="6%">K6</th>
						    	<th scope="col" class="text-center" width="6%">K7</th>
						    	<th scope="col" class="text-center" width="6%">K8</th>
						    	<th scope="col" class="text-center" width="6%">K9</th>
						    	<th scope="col" class="text-center" width="6%">T.số</th>
						    	<th scope="col" class="text-center" width="6%">K6</th>
						    	<th scope="col" class="text-center" width="6%">K7</th>
						    	<th scope="col" class="text-center" width="6%">K8</th>
						    	<th scope="col" class="text-center" width="6%">K9</th>
						    </tr>
						  </thead>
						  <tbody>
						 
						    <tr>
						      <th scope="row" class="text-center">1</th>
						      <td th:text="${#authentication.getPrincipal().getFullname()}"></td>
						      <td><input type="text" name="tsLop" id="tsLop" class="form-control" readonly="true" tabIndex="-1"  /></td>
						      <td><input type="text" name="lopK6" id="lopK6" class="form-control"/></td>
						      <td><input type="text" name="lopK7" id="lopK7" class="form-control"/></td>
						      <td><input type="text" name="lopK8" id="lopK8" class="form-control"/></td>
						      <td><input type="text" name="lopK9" id="lopK9" class="form-control"/></td>
						      <td><input type="text" name="tsHs" id="tsHs" class="form-control" readonly="true" tabIndex="-1"  /></td>
						      <td><input type="text" name="hsK6" id="hsK6" class="form-control"/></td>
						      <td><input type="text" name="hsK7" id="hsK7" class="form-control"/></td>
						      <td><input type="text" name="hsK8" id="hsK8" class="form-control"/></td>
						      <td><input type="text" name="hsK9" id="hsK9" class="form-control"/></td>
						    </tr>
						  </tbody>
						</table>
						</div>
						<label>2. Kết quả xếp loại hạnh kiểm, học lực</label>
						<div class="form-check">
							 <input type="checkbox" class="form-check-input" id="checkc2"></input>
							 <label class="text-primary" for="checkc2"> <strong> Check vào để nhập hạnh kiểm, học lực</strong></label>
				   		</div>
    					
						<div class="kqhtc2">
		 				<div class="form-group">
		 					<table class="ExcelTable2007" border="1">
							  <thead>
							    <tr>
							      <th scope="col" rowspan="3" class="text-center" width="2%">TT</th>
							      <th scope="col" rowspan="3" class="text-center" width="11%">KHỐI</th>
							      <th scope="col" rowspan="3" class="text-center" width="6%">T.số HS</th>
							      <th scope="col" colspan="8" class="text-center" width="36%">HẠNH KIỂM</th>
							      <th scope="col" colspan="10" class="text-center" width="45%">HỌC LỰC</th>
							    </tr>
							    <tr>
							    	<th scope="col" colspan="2" class="text-center" width="9%">Tốt</th>
							    	<th scope="col" colspan="2" class="text-center" width="9%">Khá</th>
							    	<th scope="col" colspan="2" class="text-center" width="9%">Trung bình</th>
							    	<th scope="col" colspan="2" class="text-center" width="9%">Yếu</th>
							    	<th scope="col" colspan="2" class="text-center" width="9%">Giỏi</th>
							    	<th scope="col" colspan="2" class="text-center" width="9%">Khá</th>
							    	<th scope="col" colspan="2" class="text-center" width="9%">Trung bình</th>
							    	<th scope="col" colspan="2" class="text-center" width="9%">Yếu</th>
							    	<th scope="col" colspan="2" class="text-center" width="9%">Kém</th>
							    </tr>
							    <tr>
							    	<th scope="col" class="text-center" width="4.5%">SL</th>
							    	<th scope="col" class="text-center" width="4.5%">%</th>
							    	<th scope="col" class="text-center" width="4.5%">SL</th>
							    	<th scope="col" class="text-center" width="4.5%">%</th>
							    	<th scope="col" class="text-center" width="4.5%">SL</th>
							    	<th scope="col" class="text-center" width="4.5%">%</th>
							    	<th scope="col" class="text-center" width="4.5%">SL</th>
							    	<th scope="col" class="text-center" width="4.5%">%</th>
							    	<th scope="col" class="text-center" width="4.5%">SL</th>
							    	<th scope="col" class="text-center" width="4.5%">%</th>
							    	<th scope="col" class="text-center" width="4.5%">SL</th>
							    	<th scope="col" class="text-center" width="4.5%">%</th>
							    	<th scope="col" class="text-center" width="4.5%">SL</th>
							    	<th scope="col" class="text-center" width="4.5%">%</th>
							    	<th scope="col" class="text-center" width="4.5%">SL</th>
							    	<th scope="col" class="text-center" width="4.5%">%</th>
							    	<th scope="col" class="text-center" width="4.5%">SL</th>
							    	<th scope="col" class="text-center" width="4.5%">%</th>
							    </tr>
							  </thead>
							  <tbody>
							 
							    <tr>
							      <th scope="row" class="text-center">1</th>
							      <td>Khối 6</td>
							      <td><input type="text" name="hsK6_1" id="hsK6_1_thcs" class="form-control" readonly="true" tabIndex="-1" /></td>
							      <td><input type="text" name="hkTotK6" id="hkTotK6" class="form-control"/></td>
							      <td><input type="text" name="tlHkTotK6" id="tlHkTotK6" class="form-control"  readonly="true" tabIndex="-1"  /></td>
							      <td><input type="text" name="hkKhaK6" id="hkKhaK6" class="form-control"/></td>
							      <td><input type="text" name="tlHkKhaK6" id="tlHkKhaK6" class="form-control" readonly="true" tabIndex="-1"  /></td>
							      <td><input type="text" name="hkTbK6" id="hkTbK6" class="form-control"/></td>
							      <td><input type="text" name="tlHkTbK6" id="tlHkTbK6" class="form-control" readonly="true" tabIndex="-1"  /></td>
							      <td><input type="text" name="hkYeuK6" id="hkYeuK6" class="form-control"/></td>
							      <td><input type="text" name="tlHkYeuK6" id="tlHkYeuK6" class="form-control" readonly="true" tabIndex="-1"  /></td>
							      <td><input type="text" name="hlGioiK6" id="hlGioiK6" class="form-control"/></td>
							      <td><input type="text" name="tlHlGioiK6" id="tlHlGioiK6" class="form-control" readonly="true" tabIndex="-1"  /></td>
							      <td><input type="text" name="hlKhaK6" id="hlKhaK6" class="form-control"/></td>
							      <td><input type="text" name="tlHlKhaK6" id="tlHlKhaK6" class="form-control" readonly="true" tabIndex="-1"  /></td>
							      <td><input type="text" name="hlTbK6" id="hlTbK6" class="form-control"/></td>
							      <td><input type="text" name="tlHlTbK6" id="tlHlTbK6" class="form-control" readonly="true" tabIndex="-1"  /></td>
							      <td><input type="text" name="hlYeuK6" id="hlYeuK6" class="form-control" /></td>
							      <td><input type="text" name="tlHlYeuK6" id="tlHlYeuK6" class="form-control"  readonly="true" tabIndex="-1"  /></td>
							      <td><input type="text" name="hlKemK6" id="hlKemK6" class="form-control" /></td>
							      <td><input type="text" name="tlHlKemK6" id="tlHlKemK6" class="form-control"  readonly="true" tabIndex="-1"  /></td>
							    </tr>
							    <tr>
							      <th scope="row" class="text-center">2</th>
							      <td>Khối 7</td>
							      <td><input type="text" name="hsK7_1" id="hsK7_1_thcs" class="form-control" readonly="true" tabIndex="-1" /></td>
							      <td><input type="text" name="hkTotK7" id="hkTotK7" class="form-control"/></td>
							      <td><input type="text" name="tlHkTotK7" id="tlHkTotK7" class="form-control"  readonly="true" tabIndex="-1"  /></td>
							      <td><input type="text" name="hkKhaK7" id="hkKhaK7" class="form-control"/></td>
							      <td><input type="text" name="tlHkKhaK7" id="tlHkKhaK7" class="form-control"  readonly="true" tabIndex="-1"  /></td>
							      <td><input type="text" name="hkTbK7" id="hkTbK7" class="form-control"/></td>
							      <td><input type="text" name="tlHkTbK7" id="tlHkTbK7" class="form-control"  readonly="true" tabIndex="-1"  /></td>
							      <td><input type="text" name="hkYeuK7" id="hkYeuK7" class="form-control"/></td>
							      <td><input type="text" name="tlHkYeuK7" id="tlHkYeuK7" class="form-control"  readonly="true" tabIndex="-1"  /></td>
							      <td><input type="text" name="hlGioiK7" id="hlGioiK7" class="form-control"/></td>
							      <td><input type="text" name="tlHlGioiK7" id="tlHlGioiK7" class="form-control"  readonly="true" tabIndex="-1"  /></td>
							      <td><input type="text" name="hlKhaK7" id="hlKhaK7" class="form-control"/></td>
							      <td><input type="text" name="tlHlKhaK7" id="tlHlKhaK7" class="form-control"  readonly="true" tabIndex="-1"  /></td>
							      <td><input type="text" name="hlTbK7" id="hlTbK7" class="form-control"/></td>
							      <td><input type="text" name="tlHlTbK7" id="tlHlTbK7" class="form-control"  readonly="true" tabIndex="-1"  /></td>
							      <td><input type="text" name="hlYeuK7" id="hlYeuK7" class="form-control" /></td>
							      <td><input type="text" name="tlHlYeuK7" id="tlHlYeuK7" class="form-control"  readonly="true" tabIndex="-1"  /></td>
							      <td><input type="text" name="hlKemK7" id="hlKemK7" class="form-control" /></td>
							      <td><input type="text" name="tlHlKemK7" id="tlHlKemK7" class="form-control"  readonly="true" tabIndex="-1"  /></td>
							    </tr>
							    <tr>
							      <th scope="row" class="text-center">3</th>
							      <td>Khối 8</td>
							      <td><input type="text" name="hsK8_1" id="hsK8_1_thcs" class="form-control" readonly="true" tabIndex="-1" /></td>
							      <td><input type="text" name="hkTotK8" id="hkTotK8" class="form-control"/></td>
							      <td><input type="text" name="tlHkTotK8" id="tlHkTotK8" class="form-control" readonly="true" tabIndex="-1"  /></td>
							      <td><input type="text" name="hkKhaK8" id="hkKhaK8" class="form-control"/></td>
							      <td><input type="text" name="tlHkKhaK8" id="tlHkKhaK8" class="form-control" readonly="true" tabIndex="-1"  /></td>
							      <td><input type="text" name="hkTbK8" id="hkTbK8" class="form-control"/></td>
							      <td><input type="text" name="tlHkTbK8" id="tlHkTbK8" class="form-control" readonly="true" tabIndex="-1"  /></td>
							      <td><input type="text" name="hkYeuK8" id="hkYeuK8" class="form-control"/></td>
							      <td><input type="text" name="tlHkYeuK8" id="tlHkYeuK8" class="form-control" readonly="true" tabIndex="-1"  /></td>
							      <td><input type="text" name="hlGioiK8" id="hlGioiK8" class="form-control"/></td>
							      <td><input type="text" name="tlHlGioiK8" id="tlHlGioiK8" class="form-control" readonly="true" tabIndex="-1"  /></td>
							      <td><input type="text" name="hlKhaK8" id="hlKhaK8" class="form-control"/></td>
							      <td><input type="text" name="tlHlKhaK8" id="tlHlKhaK8" class="form-control" readonly="true" tabIndex="-1"  /></td>
							      <td><input type="text" name="hlTbK8" id="hlTbK8" class="form-control"/></td>
							      <td><input type="text" name="tlHlTbK8" id="tlHlTbK8" class="form-control" readonly="true" tabIndex="-1"  /></td>
							      <td><input type="text" name="hlYeuK8" id="hlYeuK8" class="form-control" /></td>
							      <td><input type="text" name="tlHlYeuK8" id="tlHlYeuK8" class="form-control"  readonly="true" tabIndex="-1"  /></td>
							      <td><input type="text" name="hlKemK8" id="hlKemK8" class="form-control" /></td>
							      <td><input type="text" name="tlHlKemK8" id="tlHlKemK8" class="form-control"  readonly="true" tabIndex="-1"  /></td>
							    </tr>
							    <tr>
							      <th scope="row" class="text-center">4</th>
							      <td>Khối 9</td>
							      <td><input type="text" name="hsK9_1" id="hsK9_1_thcs" class="form-control" readonly="true" tabIndex="-1" /></td>
							      <td><input type="text" name="hkTotK9" id="hkTotK9" class="form-control"/></td>
							      <td><input type="text" name="tlHkTotK9" id="tlHkTotK9" class="form-control" readonly="true" tabIndex="-1"  /></td>
							      <td><input type="text" name="hkKhaK9" id="hkKhaK9" class="form-control"/></td>
							      <td><input type="text" name="tlHkKhaK9" id="tlHkKhaK9" class="form-control" readonly="true" tabIndex="-1"  /></td>
							      <td><input type="text" name="hkTbK9" id="hkTbK9" class="form-control"/></td>
							      <td><input type="text" name="tlHkTbK9" id="tlHkTbK9" class="form-control" readonly="true" tabIndex="-1"  /></td>
							      <td><input type="text" name="hkYeuK9" id="hkYeuK9" class="form-control"/></td>
							      <td><input type="text" name="tlHkYeuK9" id="tlHkYeuK9" class="form-control" readonly="true" tabIndex="-1"  /></td>
							      <td><input type="text" name="hlGioiK9" id="hlGioiK9" class="form-control"/></td>
							      <td><input type="text" name="tlHlGioiK9" id="tlHlGioiK9" class="form-control" readonly="true" tabIndex="-1"  /></td>
							      <td><input type="text" name="hlKhaK9" id="hlKhaK9" class="form-control"/></td>
							      <td><input type="text" name="tlHlKhaK9" id="tlHlKhaK9" class="form-control" readonly="true" tabIndex="-1"  /></td>
							      <td><input type="text" name="hlTbK9" id="hlTbK9" class="form-control"/></td>
							      <td><input type="text" name="tlHlTbK9" id="tlHlTbK9" class="form-control" readonly="true" tabIndex="-1"  /></td>
							      <td><input type="text" name="hlYeuK9" id="hlYeuK9" class="form-control" /></td>
							      <td><input type="text" name="tlHlYeuK9" id="tlHlYeuK9" class="form-control"  readonly="true" tabIndex="-1"  /></td>
							      <td><input type="text" name="hlKemK9" id="hlKemK9" class="form-control" /></td>
							      <td><input type="text" name="tlHlKemK9" id="tlHlKemK9" class="form-control"  readonly="true" tabIndex="-1"  /></td>
							    </tr>
							     <tr>
							      <th scope="row" class="text-center">5</th>
							      <td><b>Tổng cộng</b></td>
							      <td><input type="text" name="tsHs_1" id="tsHs_1_thcs" class="form-control" readonly="true" tabIndex="-1" /></td>
							      <td><input type="text" name="hkTot" id="hkTot_thcs" class="form-control" readonly="true" tabIndex="-1" /></td>
							      <td><input type="text" name="tlHkTot" id="tlHkTot_thcs" class="form-control" readonly="true" tabIndex="-1" /></td>
							      <td><input type="text" name="hkKha" id="hkKha_thcs" class="form-control" readonly="true" tabIndex="-1" /></td>
							      <td><input type="text" name="tlHkKha" id="tlHkKha_thcs" class="form-control" readonly="true" tabIndex="-1" /></td>
							      <td><input type="text" name="hkTb" id="hkTb_thcs" class="form-control" readonly="true" tabIndex="-1" /></td>
							      <td><input type="text" name="tlHkTb" id="tlHkTb_thcs" class="form-control" readonly="true" tabIndex="-1" /></td>
							      <td><input type="text" name="hkYeu" id="hkYeu_thcs" class="form-control" readonly="true" tabIndex="-1" /></td>
							      <td><input type="text" name="tlHkYeu" id="tlHkYeu_thcs" class="form-control" readonly="true" tabIndex="-1" /></td>
							      <td><input type="text" name="hlGioi" id="hlGioi_thcs" class="form-control" readonly="true" tabIndex="-1" /></td>
							      <td><input type="text" name="tlHlGioi" id="tlHlGioi_thcs" class="form-control" readonly="true" tabIndex="-1" /></td>
							      <td><input type="text" name="hlKha" id="hlKha_thcs" class="form-control" readonly="true" tabIndex="-1" /></td>
							      <td><input type="text" name="tlHlKha" id="tlHlKha_thcs" class="form-control" readonly="true" tabIndex="-1" /></td>
							      <td><input type="text" name="hlTb" id="hlTb_thcs" class="form-control" readonly="true" tabIndex="-1" /></td>
							      <td><input type="text" name="tlHlTb" id="tlHlTb_thcs" class="form-control" readonly="true" tabIndex="-1" /></td>
							      <td><input type="text" name="hlYeu" id="hlYeu_thcs" class="form-control" readonly="true" tabIndex="-1" /></td>
							      <td><input type="text" name="tlHlYeu" id="tlHlYeu_thcs" class="form-control" readonly="true" tabIndex="-1" /></td>
							      <td><input type="text" name="hlKem" id="hlKem_thcs" class="form-control" readonly="true" tabIndex="-1" /></td>
							      <td><input type="text" name="tlHlKem" id="tlHlKem_thcs" class="form-control" readonly="true" tabIndex="-1" /></td>
							    </tr>
							  </tbody>
							</table>
							</div>
							</div>
						</form>              
	              </div>
	              
	              <!-- /.tab-pane -->
	              <div th:class="${#authentication.getPrincipal().getLoaiTruong()}==34 ? 'tab-pane' : 'tab-pane active'" id="tab_2">
	              <form method="POST" id="frm-1">
	 				<input type="hidden" name="id" id="id_thpt"></input>
	 				<input type="hidden" name="nam" id="nam_thpt"></input>
	            	<input type="hidden" name="thang" id="thang_thpt"></input>
	 				<input type="hidden" th:value="${#authentication.getPrincipal().getIdTruong()}" id="idPhongGd" name="idTruong"></input>
	                <label>1. Số liệu trường, lớp, học sinh và cán bộ quản lý, giáo viên, nhân viên</label>
	 				<div class="form-group">
	 					<table class="ExcelTable2007" border="1">
						  <thead>
						    <tr>
						      <th scope="col" rowspan="2" class="text-center" width="2%">TT</th>
						      <th scope="col" rowspan="2" class="text-center" width="6%">ĐƠN VỊ</th>
						      <th scope="col" colspan="4" class="text-center" width="36%">LỚP</th>
						      <th scope="col" colspan="4" class="text-center" width="36%">HỌC SINH</th>
						      <th scope="col" colspan="5" class="text-center" width="20%">CBQL - GV - NV</th>
						    </tr>
						   <!--  <tr>
						      <th scope="col" colspan="5" class="text-center" width="20%">THCS</th>
						      <th scope="col" colspan="4" class="text-center" width="16%">THPT</th>
						      <th scope="col" colspan="5" class="text-center" width="20%">THCS</th>
						      <th scope="col" colspan="4" class="text-center" width="16%">THPT</th>
						    </tr> -->
						    <tr>
<!-- 						    	<th scope="col" class="text-center" width="4%">T.số</th>
						    	<th scope="col" class="text-center" width="4%">K6</th>
						    	<th scope="col" class="text-center" width="4%">K7</th>
						    	<th scope="col" class="text-center" width="4%">K8</th>
						    	<th scope="col" class="text-center" width="4%">K9</th> -->
						    	<th scope="col" class="text-center" width="4%">T.số</th>
						    	<th scope="col" class="text-center" width="4%">K10</th>
						    	<th scope="col" class="text-center" width="4%">K11</th>
						    	<th scope="col" class="text-center" width="4%">K12</th>
						    	<!-- <th scope="col" class="text-center" width="4%">T.số</th>
						    	<th scope="col" class="text-center" width="4%">K6</th>
						    	<th scope="col" class="text-center" width="4%">K7</th>
						    	<th scope="col" class="text-center" width="4%">K8</th>
						    	<th scope="col" class="text-center" width="4%">K9</th> -->
						        <th scope="col" class="text-center" width="4%">T.số</th>
						    	<th scope="col" class="text-center" width="4%">K10</th>
						    	<th scope="col" class="text-center" width="4%">K11</th>
						    	<th scope="col" class="text-center" width="4%">K12</th>
						    	<th scope="col" class="text-center" width="4%">T.số</th>
						    	<th scope="col" class="text-center" width="4%">CBQL</th>
						    	<th scope="col" class="text-center" width="4%">GV C2</th>
						    	<th scope="col" class="text-center" width="4%">GV C3</th>
						    	<th scope="col" class="text-center" width="4%">NV</th>
						    </tr>
						  </thead>
						  <tbody>
						 
						    <tr>
						      <th scope="row" class="text-center">1</th>
						      <td th:text="${#authentication.getPrincipal().getFullname()}"></td>
						      <td><input type="text" name="tsLopThpt" id="tsLopThpt" class="form-control" readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="lopK10" id="lopK10" class="form-control"/></td>
						      <td><input type="text" name="lopK11" id="lopK11" class="form-control"/></td>
						      <td><input type="text" name="lopK12" id="lopK12" class="form-control "/></td>
						      <td><input type="text" name="tsHsThpt" id="tsHsThpt" class="form-control" readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hsK10" id="hsK10" class="form-control"/></td>
						      <td><input type="text" name="hsK11" id="hsK11" class="form-control"/></td>
						      <td><input type="text" name="hsK12" id="hsK12" class="form-control"/></td>
						      <td><input type="text" name="tsCbGvNv" id="tsCbGvNv" class="form-control" readonly="true" tabIndex="-1"/></td>
						      <td><input type="text" name="cbql" id="cbql" class="form-control"/></td>
						      <td><input type="text" name="gv2" id="gv2" class="form-control" /></td>
						      <td><input type="text" name="gv3" id="gv3" class="form-control" /></td>
						      <td><input type="text" name="nv" id="nv" class="form-control" /></td>
						    </tr>
						  </tbody>
						</table>
						</div>
					<label>2. Kết quả xếp loại hạnh kiểm, học lực</label>
					<div class="form-check">
						 <input type="checkbox" class="form-check-input" id="checkc3"></input>
						 <label class="text-primary" for="checkc3" ><strong>Check vào để nhập hạnh kiểm, học lực</strong></label>
				   </div>
				   <div class="kqhtc3">
	 				<div class="form-group">
	 					<table class="ExcelTable2007" border="1">
						  <thead>
						    <tr>
						      <th scope="col" rowspan="3" class="text-center" width="2%">TT</th>
						      <th scope="col" rowspan="3" class="text-center" width="11%">KHỐI</th>
						      <th scope="col" rowspan="3" class="text-center" width="6%">T.số HS</th>
						      <th scope="col" colspan="8" class="text-center" width="36%">HẠNH KIỂM</th>
						      <th scope="col" colspan="10" class="text-center" width="45%">HỌC LỰC</th>
						    </tr>
						    <tr>
						    	<th scope="col" colspan="2" class="text-center" width="9%">Tốt</th>
						    	<th scope="col" colspan="2" class="text-center" width="9%">Khá</th>
						    	<th scope="col" colspan="2" class="text-center" width="9%">Trung bình</th>
						    	<th scope="col" colspan="2" class="text-center" width="9%">Yếu</th>
						    	<th scope="col" colspan="2" class="text-center" width="9%">Giỏi</th>
						    	<th scope="col" colspan="2" class="text-center" width="9%">Khá</th>
						    	<th scope="col" colspan="2" class="text-center" width="9%">Trung bình</th>
						    	<th scope="col" colspan="2" class="text-center" width="9%">Yếu</th>
						    	<th scope="col" colspan="2" class="text-center" width="9%">Kém</th>
						    </tr>
						    <tr>
						    	<th scope="col" class="text-center" width="4.5%">SL</th>
						    	<th scope="col" class="text-center" width="4.5%">%</th>
						    	<th scope="col" class="text-center" width="4.5%">SL</th>
						    	<th scope="col" class="text-center" width="4.5%">%</th>
						    	<th scope="col" class="text-center" width="4.5%">SL</th>
						    	<th scope="col" class="text-center" width="4.5%">%</th>
						    	<th scope="col" class="text-center" width="4.5%">SL</th>
						    	<th scope="col" class="text-center" width="4.5%">%</th>
						    	<th scope="col" class="text-center" width="4.5%">SL</th>
						    	<th scope="col" class="text-center" width="4.5%">%</th>
						    	<th scope="col" class="text-center" width="4.5%">SL</th>
						    	<th scope="col" class="text-center" width="4.5%">%</th>
						    	<th scope="col" class="text-center" width="4.5%">SL</th>
						    	<th scope="col" class="text-center" width="4.5%">%</th>
						    	<th scope="col" class="text-center" width="4.5%">SL</th>
						    	<th scope="col" class="text-center" width="4.5%">%</th>
						    	<th scope="col" class="text-center" width="4.5%">SL</th>
						    	<th scope="col" class="text-center" width="4.5%">%</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr>
						      <th scope="row" class="text-center">1</th>
						      <td>Khối 10</td>
						      <td><input type="text" name="hsK10_1" id="hsK10_1" class="form-control" readonly="true" tabIndex="-1"/></td>
						      <td><input type="text" name="hkTotK10" id="hkTotK10" class="form-control"/></td>
						      <td><input type="text" name="tlHkTotK10" id="tlHkTotK10" class="form-control" readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hkKhaK10" id="hkKhaK10" class="form-control"/></td>
						      <td><input type="text" name="tlHkKhaK10" id="tlHkKhaK10" class="form-control" readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hkTbK10" id="hkTbK10" class="form-control "/></td>
						      <td><input type="text" name="tlHkTbK10" id="tlHkTbK10" class="form-control" readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hkYeuK10" id="hkYeuK10" class="form-control "/></td>
						      <td><input type="text" name="tlHkYeuK10" id="tlHkYeuK10" class="form-control" readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hlGioiK10" id="hlGioiK10" class="form-control "/></td>
						      <td><input type="text" name="tlHlGioiK10" id="tlHlGioiK10" class="form-control" readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hlKhaK10" id="hlKhaK10" class="form-control "/></td>
						      <td><input type="text" name="tlHlKhaK10" id="tlHlKhaK10" class="form-control" readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hlTbK10" id="hlTbK10" class="form-control "/></td>
						      <td><input type="text" name="tlHlTbK10" id="tlHlTbK10" class="form-control" readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hlYeuK10" id="hlYeuK10" class="form-control" /></td>
						      <td><input type="text" name="tlHlYeuK10" id="tlHlYeuK10" class="form-control"  readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hlKemK10" id="hlKemK10" class="form-control" /></td>
						      <td><input type="text" name="tlHlKemK10" id="tlHlKemK10" class="form-control"  readonly="true" tabIndex="-1" /></td>
						    </tr>
						    <tr>
						      <th scope="row" class="text-center">2</th>
						      <td>Khối 11</td>
						      <td><input type="text" name="hsK11_1" id="hsK11_1" class="form-control" readonly="true" tabIndex="-1"/></td>
						      <td><input type="text" name="hkTotK11" id="hkTotK11" class="form-control "/></td>
						      <td><input type="text" name="tlHkTotK11" id="tlHkTotK11" class="form-control" readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hkKhaK11" id="hkKhaK11" class="form-control "/></td>
						      <td><input type="text" name="tlHkKhaK11" id="tlHkKhaK11" class="form-control" readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hkTbK11" id="hkTbK11" class="form-control "/></td>
						      <td><input type="text" name="tlHkTbK11" id="tlHkTbK11" class="form-control" readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hkYeuK11" id="hkYeuK11" class="form-control "/></td>
						      <td><input type="text" name="tlHkYeuK11" id="tlHkYeuK11" class="form-control" readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hlGioiK11" id="hlGioiK11" class="form-control "/></td>
						      <td><input type="text" name="tlHlGioiK11" id="tlHlGioiK11" class="form-control" readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hlKhaK11" id="hlKhaK11" class="form-control "/></td>
						      <td><input type="text" name="tlHlKhaK11" id="tlHlKhaK11" class="form-control" readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hlTbK11" id="hlTbK11" class="form-control "/></td>
						      <td><input type="text" name="tlHlTbK11" id="tlHlTbK11" class="form-control" readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hlYeuK11" id="hlYeuK11" class="form-control" /></td>
						      <td><input type="text" name="tlHlYeuK11" id="tlHlYeuK11" class="form-control"  readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hlKemK11" id="hlKemK11" class="form-control" /></td>
						      <td><input type="text" name="tlHlKemK11" id="tlHlKemK11" class="form-control"  readonly="true" tabIndex="-1" /></td>
						    </tr>
						    <tr>
						      <th scope="row" class="text-center">3</th>
						      <td>Khối 12</td>
						      <td><input type="text" name="hsK12_1" id="hsK12_1" class="form-control" readonly="true" tabIndex="-1"/></td>
						      <td><input type="text" name="hkTotK12" id="hkTotK12" class="form-control "/></td>
						      <td><input type="text" name="tlHkTotK12" id="tlHkTotK12" class="form-control" readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hkKhaK12" id="hkKhaK12" class="form-control "/></td>
						      <td><input type="text" name="tlHkKhaK12" id="tlHkKhaK12" class="form-control" readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hkTbK12" id="hkTbK12" class="form-control "/></td>
						      <td><input type="text" name="tlHkTbK12" id="tlHkTbK12" class="form-control" readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hkYeuK12" id="hkYeuK12" class="form-control "/></td>
						      <td><input type="text" name="tlHkYeuK12" id="tlHkYeuK12" class="form-control" readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hlGioiK12" id="hlGioiK12" class="form-control "/></td>
						      <td><input type="text" name="tlHlGioiK12" id="tlHlGioiK12" class="form-control" readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hlKhaK12" id="hlKhaK12" class="form-control "/></td>
						      <td><input type="text" name="tlHlKhaK12" id="tlHlKhaK12" class="form-control" readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hlTbK12" id="hlTbK12" class="form-control "/></td>
						      <td><input type="text" name="tlHlTbK12" id="tlHlTbK12" class="form-control" readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hlYeuK12" id="hlYeuK12" class="form-control" /></td>
						      <td><input type="text" name="tlHlYeuK12" id="tlHlYeuK12" class="form-control"  readonly="true" tabIndex="-1" /></td>
						      <td><input type="text" name="hlKemK12" id="hlKemK12" class="form-control" /></td>
						      <td><input type="text" name="tlHlKemK12" id="tlHlKemK12" class="form-control"  readonly="true" tabIndex="-1" /></td>
						    </tr>
						     <tr>
						      <th scope="row" class="text-center">4</th>
						      <td><b>Tổng cộng</b></td>
						      <td><input type="text" name="tsHs" id="tsHs_1" class="form-control" readonly="true" tabIndex="-1"/></td>
						      <td><input type="text" name="hkTot" id="hkTot" class="form-control" readonly="true" tabIndex="-1"/></td>
						      <td><input type="text" name="tlHkTot" id="tlHkTot" class="form-control" readonly="true" tabIndex="-1"/></td>
						      <td><input type="text" name="hkKha" id="hkKha" class="form-control" readonly="true" tabIndex="-1"/></td>
						      <td><input type="text" name="tlHkKha" id="tlHkKha" class="form-control" readonly="true" tabIndex="-1"/></td>
						      <td><input type="text" name="hkTb" id="hkTb" class="form-control" readonly="true" tabIndex="-1"/></td>
						      <td><input type="text" name="tlHkTb" id="tlHkTb" class="form-control" readonly="true" tabIndex="-1"/></td>
						      <td><input type="text" name="hkYeu" id="hkYeu" class="form-control" readonly="true" tabIndex="-1"/></td>
						      <td><input type="text" name="tlHkYeu" id="tlHkYeu" class="form-control" readonly="true" tabIndex="-1"/></td>
						      <td><input type="text" name="hlGioi" id="hlGioi" class="form-control" readonly="true" tabIndex="-1"/></td>
						      <td><input type="text" name="tlHlGioi" id="tlHlGioi" class="form-control" readonly="true" tabIndex="-1"/></td>
						      <td><input type="text" name="hlKha" id="hlKha" class="form-control" readonly="true" tabIndex="-1"/></td>
						      <td><input type="text" name="tlHlKha" id="tlHlKha" class="form-control" readonly="true" tabIndex="-1"/></td>
						      <td><input type="text" name="hlTb" id="hlTb" class="form-control" readonly="true" tabIndex="-1"/></td>
						      <td><input type="text" name="tlHlTb" id="tlHlTb" class="form-control" readonly="true" tabIndex="-1"/></td>
						      <td><input type="text" name="hlYeu" id="hlYeu" class="form-control" readonly="true" tabIndex="-1"/></td>
						      <td><input type="text" name="tlHlYeu" id="tlHlYeu" class="form-control" readonly="true" tabIndex="-1"/></td>
						      <td><input type="text" name="hlKem" id="hlKem" class="form-control" readonly="true" tabIndex="-1"/></td>
						      <td><input type="text" name="tlHlKem" id="tlHlKem" class="form-control" readonly="true" tabIndex="-1"/></td>
						    </tr>
						  </tbody>
						</table>
						</div>
 						</div>
						<label>3. Cơ sở vật chất.</label>
						<div class="form-group">
		 					<table class="ExcelTable2007" border="1">
							  <thead>
							    <tr>
							      <th scope="col" rowspan="2" class="text-center" width="3%">TT</th>
							      <th scope="col" rowspan="2" class="text-center" width="15%">ĐƠN VỊ</th>
							      <th scope="col" rowspan="2" class="text-center" width="5%">TỔNG SỐ PHÒNG</th>
							      <th scope="col" colspan="4" class="text-center">PHÒNG HỌC</th>
							      <th scope="col" colspan="5" class="text-center">PHÒNG LÀM VIỆC</th>
							      <th scope="col" colspan="5" class="text-center">PHÒNG THỰC HÀNH</th>
							    </tr>
							    <tr>
							    	<th scope="col" class="text-center" width="5%">Tổng</th>
							    	<th scope="col" class="text-center" width="5%">Kiên cố</th>
							    	<th scope="col" class="text-center" width="5%">Bán kiên cố</th>
							    	<th scope="col" class="text-center" width="5%">Tạm, mượn nhờ</th>
							    	<th scope="col" class="text-center" width="5%">Tổng</th>
							    	<th scope="col" class="text-center" width="5%">Kiên cố</th>
							    	<th scope="col" class="text-center" width="5%">Bán kiên cố</th>
							    	<th scope="col" class="text-center" width="5%">Tạm, mượn nhờ</th>
							    	<th scope="col" class="text-center" width="5%">Nhà công vụ giáo viên</th>
							    	<th scope="col" class="text-center" width="5%">Tin học</th>
							    	<th scope="col" class="text-center" width="5%">Ngoại ngữ</th>
							    	<th scope="col" class="text-center" width="5%">Lý</th>
							    	<th scope="col" class="text-center" width="5%">Hoá</th>
							    	<th scope="col" class="text-center" width="5%">Sinh</th>
							    </tr>
							  </thead>
							  <tbody>
							 
							    <tr>
							      <th scope="row" class="text-center">1</th>
							      <td th:text="${#authentication.getPrincipal().getFullname()}"></td>
							      <td><input type="text" name="tsPhong" id="tsPhong" class="form-control" readonly="true" tabIndex="-1" /></td>
							      <td><input type="text" name="tsPhongHoc" id="tsPhongHoc" class="form-control" readonly="true" tabIndex="-1" /></td>
							      <td><input type="text" name="phKienCo" id="phKienCo" class="form-control"/></td>
							      <td><input type="text" name="phBanKienCo" id="phBanKienCo" class="form-control"/></td>
							      <td><input type="text" name="phTam" id="phTam" class="form-control"/></td>
							      <td><input type="text" name="tsPhongLamViec" id="tsPhongLamViec" class="form-control" readonly="true" tabIndex="-1" /></td>
							      <td><input type="text" name="plvKienCo" id="plvKienCo" class="form-control" /></td>
							      <td><input type="text" name="plvBanKienCo" id="plvBanKienCo" class="form-control"/></td>
							      <td><input type="text" name="plvTam" id="plvTam" class="form-control"/></td>
							      <td><input type="text" name="plvNhaCongVu" id="plvNhaCongVu" class="form-control"/></td>
							      <td><input type="text" name="pthTinHoc" id="pthTinHoc" class="form-control"/></td>
							      <td><input type="text" name="pthNgoaiNgu" id="pthNgoaiNgu" class="form-control"/></td>
							      <td><input type="text" name="pthLy" id="pthLy" class="form-control"/></td>
							      <td><input type="text" name="pthHoa" id="pthHoa" class="form-control"/></td>
							      <td><input type="text" name="pthSinh" id="pthSinh" class="form-control"/></td>
							    </tr>
							  </tbody>
							</table>
							</div>
					<input type="hidden" name="guiBcSgd" id="guiBcSgd" class="form-control"/>
 					</form>
	              </div>
	              <!-- /.tab-pane -->
	            </div>
	            <!-- /.tab-content -->
	          </div>
 				
 			</div>
 			</div>	
 				<div class="box-footer text-center">
 					<button class="btn btn-success btn-flat" type="button" id="btn-ok"><i class="fa fa-check-circle"></i> Lưu</button>&nbsp;&nbsp;
 					<button class="btn btn-default btn-flat" type="button" id="btn-cancel"><i class="fa fa-times-circle"></i> Hủy</button>
 				</div>
 				</div>
 			</div>
 		</div>
 		
 	</div>
 	<div class="row">
 		<div class="col-md-12">
 			<div class="box box-primary" id="box-ds">
 				<div class="box-header with-border">
 					<h3 class="box-title">Nhập số liệu trung học phổ thông </h3>
 				</div>
 				<div class="box-body">
 					<div class="row">
 						<div class="col-md-4">
 							<div class="form-group">
 								<select class="form-control" id="cmb-nam-hoc-filter"></select>
 							</div>
 						</div>
 						<div class="col-md-4">
 							<div class="form-group">
							 <select class="form-control" id="cmb-thang-filter">
								<option value="0">-- Vui lòng chọn Tháng --</option>
								<option value="1">Tháng 1</option>
								<option value="2">Tháng 2</option>
								<option value="3">Tháng 3</option>
								<option value="4">Tháng 4</option>
								<option value="5">Tháng 5</option>
								<option value="6">Tháng 6</option>
								<option value="7">Tháng 7</option>
								<option value="8">Tháng 8</option>
								<option value="9">Tháng 9</option>
								<option value="10">Tháng 10</option>
								<option value="11">Tháng 11</option>
								<option value="12">Tháng 12</option>
							</select>
							</div>
 						</div>
 					</div>
 					<label><b>Số liệu THPT</b></label>
 					<table class="table ExcelTable2007" id="ds-1">
					  <thead>
					   <tr>
					   	 <th scope="col" rowspan="2" class="text-center" width="2%">TT</th>
					      <th scope="col" rowspan="2" class="text-center" width="7.5%">ĐƠN VỊ</th>
					      <th scope="col" colspan="4" class="text-center" width="31.5%">LỚP</th>
					      <th scope="col" colspan="4" class="text-center" width="31.5%">HỌC SINH</th>
					      <th scope="col" colspan="5" class="text-center" width="17.5%">CBQL - GV - NV</th>
					      <th scope="col" rowspan="2" class="text-center" width="5%">THÁNG</th>
					      <th scope="col" rowspan="2" class="text-center" width="5%">T.Tác</th>
					    </tr>
					    <tr>
					    	<th scope="col" class="text-center" width="3.5%">T.số</th>
					    	<th scope="col" class="text-center" width="3.5%">K10</th>
					    	<th scope="col" class="text-center" width="3.5%">K11</th>
					    	<th scope="col" class="text-center" width="3.5%">K12</th>
					        <th scope="col" class="text-center" width="3.5%">T.số</th>
					    	<th scope="col" class="text-center" width="3.5%">K10</th>
					    	<th scope="col" class="text-center" width="3.5%">K11</th>
					    	<th scope="col" class="text-center" width="3.5%">K12</th>
					    	<th scope="col" class="text-center" width="3.5%">T.số</th>
					    	<th scope="col" class="text-center" width="3.5%">CBQL</th>
					    	<th scope="col" class="text-center" width="3.5%">GV C2</th>
					    	<th scope="col" class="text-center" width="3.5%">GV C3</th>
					    	<th scope="col" class="text-center" width="3.5%">NV</th>
					    </tr>
					  </thead>
					  <tbody>
					  </tbody>
					</table>

 					<p style="padding-top: 15px;"></p>
 					
 					<table class="table ExcelTable2007" id="ds-2">
					  <thead>
					   <tr>
					   	  <th scope="col" rowspan="3" class="text-center" width="2%">TT</th>
					      <th scope="col" rowspan="3" class="text-center" width="8%">ĐƠN VỊ</th>
					      <th scope="col" rowspan="3" class="text-center" width="6%">T.số HS</th>
					      <th scope="col" colspan="8" class="text-center" width="32%">HẠNH KIỂM</th>
					      <th scope="col" colspan="10" class="text-center" width="40%">HỌC LỰC</th>
					      <th scope="col" rowspan="3" class="text-center" width="6%">THÁNG</th>
					    </tr>
					    <tr>
					    	<th scope="col" colspan="2" class="text-center" width="8%">Tốt</th>
					    	<th scope="col" colspan="2" class="text-center" width="8%">Khá</th>
					    	<th scope="col" colspan="2" class="text-center" width="8%">Trung bình</th>
					    	<th scope="col" colspan="2" class="text-center" width="8%">Yếu</th>
					    	<th scope="col" colspan="2" class="text-center" width="8%">Giỏi</th>
					    	<th scope="col" colspan="2" class="text-center" width="8%">Khá</th>
					    	<th scope="col" colspan="2" class="text-center" width="8%">Trung bình</th>
					    	<th scope="col" colspan="2" class="text-center" width="8%">Yếu</th>
					    	<th scope="col" colspan="2" class="text-center" width="8%">Kém</th>
					    </tr>
					    <tr>
					    	<th scope="col" class="text-center" width="4%">SL</th>
					    	<th scope="col" class="text-center" width="4%">%</th>
					    	<th scope="col" class="text-center" width="4%">SL</th>
					    	<th scope="col" class="text-center" width="4%">%</th>
					    	<th scope="col" class="text-center" width="4%">SL</th>
					    	<th scope="col" class="text-center" width="4%">%</th>
					    	<th scope="col" class="text-center" width="4%">SL</th>
					    	<th scope="col" class="text-center" width="4%">%</th>
					    	<th scope="col" class="text-center" width="4%">SL</th>
					    	<th scope="col" class="text-center" width="4%">%</th>
					    	<th scope="col" class="text-center" width="4%">SL</th>
					    	<th scope="col" class="text-center" width="4%">%</th>
					    	<th scope="col" class="text-center" width="4%">SL</th>
					    	<th scope="col" class="text-center" width="4%">%</th>
					    	<th scope="col" class="text-center" width="4%">SL</th>
					    	<th scope="col" class="text-center" width="4%">%</th>
					    	<th scope="col" class="text-center" width="4%">SL</th>
					    	<th scope="col" class="text-center" width="4%">%</th>
					    </tr>
					  </thead>
					    <tbody>
					  </tbody>
					</table>
					<p style="padding-top: 15px;"></p>
					<div th:style="${#authentication.getPrincipal().getLoaiTruong()}==34 or  ${#authentication.getPrincipal().getLoaiTruong()}==99 ? 'display:true' : 'display:none'">
					<label><b>Số liệu THCS</b></label>
 					<table class="table ExcelTable2007" id="ds-12">
					  <thead>
					   <tr>
					   	 <th scope="col" rowspan="2" class="text-center" width="2%">TT</th>
					      <th scope="col" rowspan="2" class="text-center" width="7.5%">ĐƠN VỊ</th>
					      <th scope="col" colspan="5" class="text-center" width="31.5%">LỚP</th>
					      <th scope="col" colspan="5" class="text-center" width="31.5%">HỌC SINH</th>
					      <th scope="col" rowspan="2" class="text-center" width="5%">THÁNG</th>
					    </tr>
					    <tr>
					    	<th scope="col" class="text-center" width="3.5%">T.số</th>
					    	<th scope="col" class="text-center" width="3.5%">K6</th>
					    	<th scope="col" class="text-center" width="3.5%">K7</th>
					    	<th scope="col" class="text-center" width="3.5%">K8</th>
					    	<th scope="col" class="text-center" width="3.5%">K9</th>
					        <th scope="col" class="text-center" width="3.5%">T.số</th>
					    	<th scope="col" class="text-center" width="3.5%">K6</th>
					    	<th scope="col" class="text-center" width="3.5%">K7</th>
					    	<th scope="col" class="text-center" width="3.5%">K8</th>
					    	<th scope="col" class="text-center" width="3.5%">K9</th>
					    </tr>
					  </thead>
					  <tbody>
					  </tbody>
					</table>

 					<p style="padding-top: 15px;"></p>
 					
 					<table class="table ExcelTable2007" id="ds-13">
					  <thead>
					   <tr>
					   	  <th scope="col" rowspan="3" class="text-center" width="2%">TT</th>
					      <th scope="col" rowspan="3" class="text-center" width="8%">ĐƠN VỊ</th>
					      <th scope="col" rowspan="3" class="text-center" width="6%">T.số HS</th>
					      <th scope="col" colspan="8" class="text-center" width="32%">HẠNH KIỂM</th>
					      <th scope="col" colspan="10" class="text-center" width="40%">HỌC LỰC</th>
					      <th scope="col" rowspan="3" class="text-center" width="6%">THÁNG</th>
					    </tr>
					    <tr>
					    	<th scope="col" colspan="2" class="text-center" width="8%">Tốt</th>
					    	<th scope="col" colspan="2" class="text-center" width="8%">Khá</th>
					    	<th scope="col" colspan="2" class="text-center" width="8%">Trung bình</th>
					    	<th scope="col" colspan="2" class="text-center" width="8%">Yếu</th>
					    	<th scope="col" colspan="2" class="text-center" width="8%">Giỏi</th>
					    	<th scope="col" colspan="2" class="text-center" width="8%">Khá</th>
					    	<th scope="col" colspan="2" class="text-center" width="8%">Trung bình</th>
					    	<th scope="col" colspan="2" class="text-center" width="8%">Yếu</th>
					    	<th scope="col" colspan="2" class="text-center" width="8%">Kém</th>
					    </tr>
					    <tr>
					    	<th scope="col" class="text-center" width="4%">SL</th>
					    	<th scope="col" class="text-center" width="4%">%</th>
					    	<th scope="col" class="text-center" width="4%">SL</th>
					    	<th scope="col" class="text-center" width="4%">%</th>
					    	<th scope="col" class="text-center" width="4%">SL</th>
					    	<th scope="col" class="text-center" width="4%">%</th>
					    	<th scope="col" class="text-center" width="4%">SL</th>
					    	<th scope="col" class="text-center" width="4%">%</th>
					    	<th scope="col" class="text-center" width="4%">SL</th>
					    	<th scope="col" class="text-center" width="4%">%</th>
					    	<th scope="col" class="text-center" width="4%">SL</th>
					    	<th scope="col" class="text-center" width="4%">%</th>
					    	<th scope="col" class="text-center" width="4%">SL</th>
					    	<th scope="col" class="text-center" width="4%">%</th>
					    	<th scope="col" class="text-center" width="4%">SL</th>
					    	<th scope="col" class="text-center" width="4%">%</th>
					    	<th scope="col" class="text-center" width="4%">SL</th>
					    	<th scope="col" class="text-center" width="4%">%</th>
					    </tr>
					  </thead>
					    <tbody>
					  </tbody>
					</table>
					</div>
					<p style="padding-top: 15px;"></p>
 					<table class="table ExcelTable2007" id="ds-7">
					  <thead>
					   <tr>
					   	  <th scope="col" rowspan="2" class="text-center" width="2%">TT</th>
					      <th scope="col" rowspan="2" class="text-center" width="13%">ĐƠN VỊ</th>
					      <th scope="col" rowspan="2" class="text-center" width="5%">TỔNG SỐ PHÒNG</th>
					      <th scope="col" colspan="4" class="text-center">PHÒNG HỌC</th>
					      <th scope="col" colspan="5" class="text-center">PHÒNG LÀM VIỆC</th>
					      <th scope="col" colspan="5" class="text-center">PHÒNG THỰC HÀNH</th>
					      <th scope="col" rowspan="2" class="text-center" width="3%">THÁNG</th>
					    </tr>
					    <tr>
					    	<th scope="col" class="text-center" width="5%">Tổng</th>
					    	<th scope="col" class="text-center" width="5%">Kiên cố</th>
					    	<th scope="col" class="text-center" width="5%">Bán kiên cố</th>
					    	<th scope="col" class="text-center" width="5%">Tạm, mượn nhờ</th>
					    	<th scope="col" class="text-center" width="5%">Tổng</th>
					    	<th scope="col" class="text-center" width="5%">Kiên cố</th>
					    	<th scope="col" class="text-center" width="5%">Bán kiên cố</th>
					    	<th scope="col" class="text-center" width="5%">Tạm, mượn nhờ</th>
					    	<th scope="col" class="text-center" width="5%">Nhà công vụ giáo viên</th>
					    	<th scope="col" class="text-center" width="5%">Tin học</th>
					    	<th scope="col" class="text-center" width="5%">Ngoại ngữ</th>
					    	<th scope="col" class="text-center" width="5%">Lý</th>
					    	<th scope="col" class="text-center" width="5%">Hoá</th>
					    	<th scope="col" class="text-center" width="5%">Sinh</th>
					    </tr>
					  </thead>
					  <tbody>
					  </tbody>
					</table>
 				</div>
 				<div class="box-footer">
 					<div class="jdpage" id="page-ds"></div>
 				</div>
 			</div>
 		</div>
 		</div>
 	<div class="row">
 		<div class="col-md-12">
			<div class="box box-primary collapsed-box" id="box-ct">
 				<div class="box-header with-border" id="showCt">
 					<button class="btn btn-info btn-flat" type="button" ><i class="fa fa-info"></i> Số liệu chi tiết</button>
 					<div class="box-tools pull-right">
		                <button type="button" class="btn btn-box-tool" data-widget="toggle"> <i class="fa fa-plus"></i>
		                </button>
		              </div>
 				</div>
 				
 				<div class="box-body" style="display: none;">
 				<div th:switch="${#authentication.getPrincipal().getLoaiTruong()}==34 or  ${#authentication.getPrincipal().getLoaiTruong()}==99 ? ${true} : ${false}">
		            <div th:case="${true}">
		              	<label>Số liệu khối 6</label>
 					<table class="table ExcelTable2007" id="ds-8">
					  <thead>
					   <tr>
					   	  <th scope="col" rowspan="3" class="text-center" width="2%">TT</th>
					      <th scope="col" rowspan="3" class="text-center" width="5%">ĐƠN VỊ</th>
					      <th scope="col" rowspan="3" class="text-center" width="4%">T.số HS</th>
					      <th scope="col" colspan="8" class="text-center" width="36%">HẠNH KIỂM</th>
					      <th scope="col" colspan="10" class="text-center" width="45%">HỌC LỰC</th>
					      <th scope="col" rowspan="3" class="text-center" width="3%">THÁNG</th>
					    </tr>
					    <tr>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Tốt</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Khá</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Trung bình</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Yếu</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Giỏi</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Khá</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Trung bình</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Yếu</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Kém</th>
					    </tr>
					    <tr>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    </tr>
					  </thead>
					    <tbody>
					  </tbody>
					</table>
					
 					<p style="padding-top: 15px;"></p>
 					<label>Số liệu khối 7</label>
 					<table class="table ExcelTable2007" id="ds-9">
					  <thead>
					   <tr>
					   	  <th scope="col" rowspan="3" class="text-center" width="2%">TT</th>
					      <th scope="col" rowspan="3" class="text-center" width="5%">ĐƠN VỊ</th>
					      <th scope="col" rowspan="3" class="text-center" width="4%">T.số HS</th>
					      <th scope="col" colspan="8" class="text-center" width="36%">HẠNH KIỂM</th>
					      <th scope="col" colspan="10" class="text-center" width="45%">HỌC LỰC</th>
					      <th scope="col" rowspan="3" class="text-center" width="3%">THÁNG</th>
					    </tr>
					    <tr>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Tốt</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Khá</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Trung bình</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Yếu</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Giỏi</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Khá</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Trung bình</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Yếu</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Kém</th>
					    </tr>
					    <tr>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    </tr>
					  </thead>
					    <tbody>
					  </tbody>
					</table>

 					<p style="padding-top: 15px;"></p>
 					<label>Số liệu khối 8</label>
 					<table class="table ExcelTable2007" id="ds-10">
					  <thead>
					   <tr>
					   	  <th scope="col" rowspan="3" class="text-center" width="2%">TT</th>
					      <th scope="col" rowspan="3" class="text-center" width="5%">ĐƠN VỊ</th>
					      <th scope="col" rowspan="3" class="text-center" width="4%">T.số HS</th>
					      <th scope="col" colspan="8" class="text-center" width="36%">HẠNH KIỂM</th>
					      <th scope="col" colspan="10" class="text-center" width="45%">HỌC LỰC</th>
					      <th scope="col" rowspan="3" class="text-center" width="3%">THÁNG</th>
					    </tr>
					    <tr>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Tốt</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Khá</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Trung bình</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Yếu</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Giỏi</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Khá</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Trung bình</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Yếu</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Kém</th>
					    </tr>
					    <tr>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    </tr>
					  </thead>
					    <tbody>
					  </tbody>
					</table>

 					<p style="padding-top: 15px;"></p>
 					<label>Số liệu khối 9</label>
 					<table class="table ExcelTable2007" id="ds-11">
					  <thead>
					  <tr>
					   	  <th scope="col" rowspan="3" class="text-center" width="2%">TT</th>
					      <th scope="col" rowspan="3" class="text-center" width="5%">ĐƠN VỊ</th>
					      <th scope="col" rowspan="3" class="text-center" width="4%">T.số HS</th>
					      <th scope="col" colspan="8" class="text-center" width="36%">HẠNH KIỂM</th>
					      <th scope="col" colspan="10" class="text-center" width="45%">HỌC LỰC</th>
					      <th scope="col" rowspan="3" class="text-center" width="3%">THÁNG</th>
					    </tr>
					    <tr>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Tốt</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Khá</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Trung bình</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Yếu</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Giỏi</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Khá</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Trung bình</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Yếu</th>
					    	<th scope="col" colspan="2" class="text-center" width="9%">Kém</th>
					    </tr>
					    <tr>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    	<th scope="col" class="text-center" width="4.5%">SL</th>
					    	<th scope="col" class="text-center" width="4.5%">%</th>
					    </tr>
					  </thead>
					    <tbody>
					  </tbody>
					</table>
					<p style="padding-top: 15px;"></p>
		            </div>
		            <div th:case="${false}">
		             
		            </div>
	            </div>
 					
 					<label>Số liệu khối 10</label>
 					<table class="table ExcelTable2007" id="ds-3">
					  <thead>
					   <tr>
					   	  <th scope="col" rowspan="3" class="text-center" width="2%">TT</th>
					      <th scope="col" rowspan="3" class="text-center" width="8%">ĐƠN VỊ</th>
					      <th scope="col" rowspan="3" class="text-center" width="6%">T.số HS</th>
					      <th scope="col" colspan="8" class="text-center" width="32%">HẠNH KIỂM</th>
					      <th scope="col" colspan="10" class="text-center" width="40%">HỌC LỰC</th>
					      <th scope="col" rowspan="3" class="text-center" width="6%">THÁNG</th>
					    </tr>
					    <tr>
					    	<th scope="col" colspan="2" class="text-center" width="8%">Tốt</th>
					    	<th scope="col" colspan="2" class="text-center" width="8%">Khá</th>
					    	<th scope="col" colspan="2" class="text-center" width="8%">Trung bình</th>
					    	<th scope="col" colspan="2" class="text-center" width="8%">Yếu</th>
					    	<th scope="col" colspan="2" class="text-center" width="8%">Giỏi</th>
					    	<th scope="col" colspan="2" class="text-center" width="8%">Khá</th>
					    	<th scope="col" colspan="2" class="text-center" width="8%">Trung bình</th>
					    	<th scope="col" colspan="2" class="text-center" width="8%">Yếu</th>
					    	<th scope="col" colspan="2" class="text-center" width="8%">Kém</th>
					    </tr>
					    <tr>
					    	<th scope="col" class="text-center" width="4%">SL</th>
					    	<th scope="col" class="text-center" width="4%">%</th>
					    	<th scope="col" class="text-center" width="4%">SL</th>
					    	<th scope="col" class="text-center" width="4%">%</th>
					    	<th scope="col" class="text-center" width="4%">SL</th>
					    	<th scope="col" class="text-center" width="4%">%</th>
					    	<th scope="col" class="text-center" width="4%">SL</th>
					    	<th scope="col" class="text-center" width="4%">%</th>
					    	<th scope="col" class="text-center" width="4%">SL</th>
					    	<th scope="col" class="text-center" width="4%">%</th>
					    	<th scope="col" class="text-center" width="4%">SL</th>
					    	<th scope="col" class="text-center" width="4%">%</th>
					    	<th scope="col" class="text-center" width="4%">SL</th>
					    	<th scope="col" class="text-center" width="4%">%</th>
					    	<th scope="col" class="text-center" width="4%">SL</th>
					    	<th scope="col" class="text-center" width="4%">%</th>
					    	<th scope="col" class="text-center" width="4%">SL</th>
					    	<th scope="col" class="text-center" width="4%">%</th>
					    </tr>
					  </thead>
					    <tbody>
					  </tbody>
					</table>
 
 					<p style="padding-top: 15px;"></p>
 					<label>Số liệu khối 11</label>
 					<table class="table ExcelTable2007" id="ds-4">
					  <thead>
					    <tr>
					   	  <th scope="col" rowspan="3" class="text-center" width="2%">TT</th>
					      <th scope="col" rowspan="3" class="text-center" width="8%">ĐƠN VỊ</th>
					      <th scope="col" rowspan="3" class="text-center" width="6%">T.số HS</th>
					      <th scope="col" colspan="8" class="text-center" width="32%">HẠNH KIỂM</th>
					      <th scope="col" colspan="10" class="text-center" width="40%">HỌC LỰC</th>
					      <th scope="col" rowspan="3" class="text-center" width="6%">THÁNG</th>
					    </tr>
					    <tr>
					    	<th scope="col" colspan="2" class="text-center" width="8%">Tốt</th>
					    	<th scope="col" colspan="2" class="text-center" width="8%">Khá</th>
					    	<th scope="col" colspan="2" class="text-center" width="8%">Trung bình</th>
					    	<th scope="col" colspan="2" class="text-center" width="8%">Yếu</th>
					    	<th scope="col" colspan="2" class="text-center" width="8%">Giỏi</th>
					    	<th scope="col" colspan="2" class="text-center" width="8%">Khá</th>
					    	<th scope="col" colspan="2" class="text-center" width="8%">Trung bình</th>
					    	<th scope="col" colspan="2" class="text-center" width="8%">Yếu</th>
					    	<th scope="col" colspan="2" class="text-center" width="8%">Kém</th>
					    </tr>
					    <tr>
					    	<th scope="col" class="text-center" width="4%">SL</th>
					    	<th scope="col" class="text-center" width="4%">%</th>
					    	<th scope="col" class="text-center" width="4%">SL</th>
					    	<th scope="col" class="text-center" width="4%">%</th>
					    	<th scope="col" class="text-center" width="4%">SL</th>
					    	<th scope="col" class="text-center" width="4%">%</th>
					    	<th scope="col" class="text-center" width="4%">SL</th>
					    	<th scope="col" class="text-center" width="4%">%</th>
					    	<th scope="col" class="text-center" width="4%">SL</th>
					    	<th scope="col" class="text-center" width="4%">%</th>
					    	<th scope="col" class="text-center" width="4%">SL</th>
					    	<th scope="col" class="text-center" width="4%">%</th>
					    	<th scope="col" class="text-center" width="4%">SL</th>
					    	<th scope="col" class="text-center" width="4%">%</th>
					    	<th scope="col" class="text-center" width="4%">SL</th>
					    	<th scope="col" class="text-center" width="4%">%</th>
					    	<th scope="col" class="text-center" width="4%">SL</th>
					    	<th scope="col" class="text-center" width="4%">%</th>
					    </tr>
					  </thead>
					    <tbody>
					  </tbody>
					</table>

 					<p style="padding-top: 15px;"></p>
 					<label>Số liệu khối 12</label>
 					<table class="table ExcelTable2007" id="ds-5">
					  <thead>
					    <tr>
					   	  <th scope="col" rowspan="3" class="text-center" width="2%">TT</th>
					      <th scope="col" rowspan="3" class="text-center" width="8%">ĐƠN VỊ</th>
					      <th scope="col" rowspan="3" class="text-center" width="6%">T.số HS</th>
					      <th scope="col" colspan="8" class="text-center" width="32%">HẠNH KIỂM</th>
					      <th scope="col" colspan="10" class="text-center" width="40%">HỌC LỰC</th>
					      <th scope="col" rowspan="3" class="text-center" width="6%">THÁNG</th>
					    </tr>
					    <tr>
					    	<th scope="col" colspan="2" class="text-center" width="8%">Tốt</th>
					    	<th scope="col" colspan="2" class="text-center" width="8%">Khá</th>
					    	<th scope="col" colspan="2" class="text-center" width="8%">Trung bình</th>
					    	<th scope="col" colspan="2" class="text-center" width="8%">Yếu</th>
					    	<th scope="col" colspan="2" class="text-center" width="8%">Giỏi</th>
					    	<th scope="col" colspan="2" class="text-center" width="8%">Khá</th>
					    	<th scope="col" colspan="2" class="text-center" width="8%">Trung bình</th>
					    	<th scope="col" colspan="2" class="text-center" width="8%">Yếu</th>
					    	<th scope="col" colspan="2" class="text-center" width="8%">Kém</th>
					    </tr>
					    <tr>
					    	<th scope="col" class="text-center" width="4%">SL</th>
					    	<th scope="col" class="text-center" width="4%">%</th>
					    	<th scope="col" class="text-center" width="4%">SL</th>
					    	<th scope="col" class="text-center" width="4%">%</th>
					    	<th scope="col" class="text-center" width="4%">SL</th>
					    	<th scope="col" class="text-center" width="4%">%</th>
					    	<th scope="col" class="text-center" width="4%">SL</th>
					    	<th scope="col" class="text-center" width="4%">%</th>
					    	<th scope="col" class="text-center" width="4%">SL</th>
					    	<th scope="col" class="text-center" width="4%">%</th>
					    	<th scope="col" class="text-center" width="4%">SL</th>
					    	<th scope="col" class="text-center" width="4%">%</th>
					    	<th scope="col" class="text-center" width="4%">SL</th>
					    	<th scope="col" class="text-center" width="4%">%</th>
					    	<th scope="col" class="text-center" width="4%">SL</th>
					    	<th scope="col" class="text-center" width="4%">%</th>
					    	<th scope="col" class="text-center" width="4%">SL</th>
					    	<th scope="col" class="text-center" width="4%">%</th>
					    </tr>
					  </thead>
					    <tbody>
					  </tbody>
					</table>

 				</div>
 				<div class="box-footer">
 					<div class="jdpage" id="page-ds"></div>
 				</div>
 			</div>
 		</div>
 	</div>
 	
 </section>
 <!-- /.content -->