<!-- Content Header (Page header) -->
<section class="content-header">
     <h1>
		<th:block th:text="${MODEL.title}"></th:block>
		<small></small>
     </h1>
     <ol class="breadcrumb">
         <li>
             <a href=".">
                 <i class="fa fa-home"></i>
                 Trang chủ
             </a>
         </li>
         <li class="active" th:text="${MODEL.title}">Actived page</li>
     </ol>
 </section>
 <!-- Main content -->
 <section class="content">
 	<div class="row">
 		<div class="col-md-12">
 			<div class="box box-primary" id="box-ds">
 				<div class="box-header with-border">
 					<h3 class="box-title">Thiết lập tổng hợp chung</h3>
 				</div>
 				<div class="box-body">
 					<form id="frm-1">
	 					<div class="row">
	 						<div class="col-md-3">
	 							<div class="form-group">
	 								<label>Năm học</label>
	 								<input type="text" name="nam" id="txt-nam" class="form-control" placeholder="Năm học" readonly="readonly"/>
	 								<input type="hidden" name="id" id="txt-id"/>
	 							</div>
	 						</div>
	 						<div class="col-md-3">
	 							<div class="form-group">
			 							<label>Tháng đầu năm</label>
										 <select class="form-control" id="cmb-thang-dau-nam" name="thangDauNam">
											<option value="">-- Vui lòng chọn Tháng --</option>
											<option value="1">Tháng 1</option>
											<option value="2">Tháng 2</option>
											<option value="3">Tháng 3</option>
											<option value="4">Tháng 4</option>
											<option value="5">Tháng 5</option>
											<option value="6">Tháng 6</option>
											<option value="7">Tháng 7</option>
											<option value="8">Tháng 8</option>
											<option value="9">Tháng 9</option>
											<option value="10">Tháng 10</option>
											<option value="11">Tháng 11</option>
											<option value="12">Tháng 12</option>
										</select>
			 					</div>
	 						</div>
	 						<div class="col-md-3">
	 							<div class="form-group">
			 							<label>Tháng cuối năm</label>
										 <select class="form-control" id="cmb-thang-cuoi-nam" name="thangCuoiNam">
											<option value="">-- Vui lòng chọn Tháng --</option>
											<option value="1">Tháng 1</option>
											<option value="2">Tháng 2</option>
											<option value="3">Tháng 3</option>
											<option value="4">Tháng 4</option>
											<option value="5">Tháng 5</option>
											<option value="6">Tháng 6</option>
											<option value="7">Tháng 7</option>
											<option value="8">Tháng 8</option>
											<option value="9">Tháng 9</option>
											<option value="10">Tháng 10</option>
											<option value="11">Tháng 11</option>
											<option value="12">Tháng 12</option>
										</select>
			 					</div>
	 						</div>
	 						<div class="col-md-3">
	 							<div class="form-group">
	 							<label>&nbsp;&nbsp;</label>
			 						<div class="input-group">
			 							<span class="input-group-btn">
			 								<button class="btn btn-default btn-flat" type="button" id="btn-ok"><i class="fa fa-check-circle"></i></button>
			 								<button class="btn btn-default btn-flat" type="button" id="btn-cancel"><i class="fa fa-times-circle"></i></button>
			 							</span>
			 						</div>
			 					</div>
	 						</div>
	 					</div>
	 					
 					</form>
 					<div class="jdgrid" id="grid-ds"></div>
 				</div>
 				<div class="box-footer">
 					<div class="jdpage" id="page-ds"></div>
 				</div>
 			</div>
 		</div>
 	</div>
 </section>
 <!-- /.content -->