<!-- Content Header (Page header) -->
<section class="content-header">
     <h1>
		<th:block th:text="${MODEL.title}"></th:block>
		<small></small>
     </h1>
     <ol class="breadcrumb">
         <li>
             <a href=".">
                 <i class="fa fa-home"></i>
                 Trang chủ
             </a>
         </li>
         <li class="active" th:text="${MODEL.title}">Actived page</li>
     </ol>
 </section>
 <!-- Main content -->
 <section class="content">
 	<div class="row">
 		<div class="col-md-6">
 			<div class="box box-primary" id="box-ds">
 				<div class="box-header with-border">
 					<h3 class="box-title">Vai trò</h3>
 				</div>
 				<div class="box-body">
 					<div class="jdgrid" id="grid-ds"></div>
 				</div>
 				<div class="box-footer">
 					<div class="jdpage" id="page-ds"></div>
 				</div>
 			</div>
 		</div>
 		<div class="col-md-6">
 			<div class="box box-success" id="box-frm">
 				<div class="box-header with-border">
 					<h3 class="box-title">Thông tin menu</h3>
 				</div>
 				<div class="box-body">
 					<form id="frm-1" class="form-horizontal">
 						<div class="form-group">
	 						<div class="col-sm-12">
		 						<label>Tên vai trò</label>
		 						<input type="text" name="tenVaiTro" id="txt-tenvaitro" class="form-control"/>
	 						</div>
	 					</div>
	 					<div class="form-group">
	 						<div class="col-sm-12">
		 						<label>Danh sách menu</label>
		 						<div class="form-control" style="height: 426px;">
									<a href="#" id="chk-all" style="text-decoration:none"><i class="fa fa-check-square-o"></i> Chọn tất cả</a> | 
									<a href="#" id="chk-none" style="text-decoration:none"><i class="fa fa-square-o"></i> Bỏ chọn tất cả</a> |
									<a href="#" id="moRongTatCa" style="text-decoration:none"><i class="fa fa-angle-double-down"></i> Mở rộng tất cả</a> | 
									<a href="#" id="thuGonTatCa" style="text-decoration:none"><i class="fa fa-angle-double-up"></i> Thu gọn tất cả</a>
									<div id="tree" style="overflow-y: scroll; height: 391px;"></div>
				                </div>
	 						</div>
	 					</div>
	 					<input type="hidden" name="idVaiTro" id="txt-idvaitro"/>
 					</form>
 				</div>
 				<div class="box-footer text-center">
 					<button class="btn btn-success btn-flat" type="button" id="btn-ok"><i class="fa fa-check-circle"></i> Lưu</button>&nbsp;&nbsp;
					<button class="btn btn-default btn-flat" type="button" id="btn-cancel"><i class="fa fa-times-circle"></i> Hủy</button>
 				</div>
 			</div>
 		</div>
 	</div>
 </section>
 <!-- /.content -->
 
<div class="modal" tabindex="-1" role="dialog" id="modIntro">
	<div class="modal-dialog modal-lg" role="document" style="height: 90%;">
		<div class="modal-content" style="height: 100%;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title">Hướng dẫn sử dụng</h4>
			</div>
			<div class="modal-body" style="height: 90%;">
				<embed style="width: 100%; height: 100%;" src="help/khach_hang.pdf" type="application/pdf" />
			</div>
		</div>
	</div>
</div>