<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		<th:block th:text="${MODEL.title}"></th:block>
		<small></small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="."> <i class="fa fa-home"></i> Trang chủ
		</a></li>
		<li class="active" th:text="${MODEL.title}">Actived page</li>
		<input type="hidden"
			th:value="${#authentication.getPrincipal().getIdDonVi()}"
			id="idDonVi"></input>
		<input type="hidden"
			th:value="${#authentication.getPrincipal().getIdTruong()}"
			id="idTruong"></input>
		<input type="hidden"
			th:value="${#authentication.getPrincipal().getLoaiTruong()}"
			id="loaiTruong"></input>
	</ol>
</section>
<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box box-primary" id="box-ds">
				<div class="box-header with-border">
					<h3 class="box-title">Xuất báo cáo</h3>
				</div>
				<div class="box-body">
					<form id="frm-1">
						<div class="form-group">
							<div class="col-sm-4" style="margin-bottom: 10px;">
								<label>Chọn mẫu báo cáo </label> <select id="cmb-maubc"
									class="form-control">
									<option value="4">Tổng hợp chung</option>
									<option value="0">Mầm non</option>
									<option value="1">Tiểu học</option>
									<option value="2">Trung học cơ sở</option>
									<option value="6">Trung học cơ sở</option>
									<option value="7">Trung học cơ sở (Dân tộc)</option>
									<option value="8">Trung học cơ sở (Dân tộc)</option>
									<option value="3">Trung học phổ thông</option>
									<option value="5">Trung tâm Hỗ trợ Phát triển Giáo dục
										Hòa nhập</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-2" style="margin-bottom: 10px;">
								<label>Tháng</label> <select class="form-control" id="cmb-thang"
									name="thang">
									<option value="1">Tháng 1</option>
									<option value="2">Tháng 2</option>
									<option value="3">Tháng 3</option>
									<option value="4">Tháng 4</option>
									<option value="5">Tháng 5</option>
									<option value="6">Tháng 6</option>
									<option value="7">Tháng 7</option>
									<option value="8">Tháng 8</option>
									<option value="9">Tháng 9</option>
									<option value="10">Tháng 10</option>
									<option value="11">Tháng 11</option>
									<option value="12">Tháng 12</option>

								</select>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-2" style="margin-bottom: 10px;">

								<label>Năm</label> <select class="form-control" id="cmb-nam"
									name="namHoc">
								</select>
							</div>
						</div>
						<div id="div-thang">
						<div class="form-group">
							<div class="col-sm-2" style="margin-bottom: 10px;">
								<label>Tháng</label> <select class="form-control"
									id="cmb-thang_2" name="thang">
									<option value="1">Tháng 1</option>
									<option value="2">Tháng 2</option>
									<option value="3">Tháng 3</option>
									<option value="4">Tháng 4</option>
									<option value="5">Tháng 5</option>
									<option value="6">Tháng 6</option>
									<option value="7">Tháng 7</option>
									<option value="8">Tháng 8</option>
									<option value="9">Tháng 9</option>
									<option value="10">Tháng 10</option>
									<option value="11">Tháng 11</option>
									<option value="12">Tháng 12</option>

								</select>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-2" style="margin-bottom: 10px;">

								<label>Năm</label> <select class="form-control" id="cmb-nam_2"
									name="namHoc">
								</select>
							</div>
						</div>

						</div>
						<div class="form-group" align="center" style="clear: both;">
							<div class="input-group">
								<button class="btn btn-success btn-flat" type="button" id="view">Xem
									báo cáo</button>
								&nbsp;&nbsp;
								<button class="btn btn-success btn-flat" type="button" id="xls">Xuất
									file XLS</button>
								&nbsp;&nbsp;
								<button class="btn btn-success btn-flat" type="button" id="xlsx">Xuất
									file XLSX</button>
								&nbsp;&nbsp;
							</div>
						</div>
					</form>
					<div id="pdfRenderer" style="width: 100%; height: 866px;"></div>
				</div>
			</div>
		</div>
	</div>
</section>