<!-- Content Header (Page header) -->
<section class="content-header">
     <h1>
		<th:block th:text="${MODEL.title}"></th:block>
		<small></small>
     </h1>
     <ol class="breadcrumb">
         <li>
             <a href=".">
                 <i class="fa fa-home"></i>
                 Trang chủ
             </a>
         </li>
         <li class="active" th:text="${MODEL.title}">Actived page</li>
         <input type="hidden" th:value="${#authentication.getPrincipal().getIdDonVi()}" id="idDonVi"></input>
     </ol>
 </section>
 <!-- Main content -->
 <section class="content">
 	<div class="row">
 		<div class="col-md-12">
 			<div class="box box-primary" id="box-ds">
 				<div class="box-header with-border">
 					<h3 class="box-title">Xuất báo cáo </h3>
 				</div>
 				<div class="box-body">
 					<form id="frm-1">
 					  <div class="form-group"> 
	 						<div class="col-sm-2"></div>
	 						<div class="col-sm-4" style="margin-bottom: 10px;">
	 							<label>Chọn mẫu báo cáo </label>
	 							<select id="cmb-maubc" class="form-control">
	 								<option value="4">Tổng hợp chung</option>
	 								<option value="0">Mầm non</option>
	 								<option value="1">Tiểu học</option>
	 								<option value="2">THCS</option>
	 								<option value="3">THPT</option>
	 							</select>
	 						</div>
	 						<div class="col-sm-3"></div>
	 					</div>
 						<div class="form-group">
 						<div class="col-sm-2"></div>
 							<div class="col-sm-2" style="margin-bottom: 10px;" id="div-thang">
	 							<div class="form-group">
				 					<label>Tháng</label>
				 								<select class="form-control" id="cmb-thang" name="thang">
				 								<option value="1">Tháng 1</option>
			 									<option value="2">Tháng 2</option>
			 									<option value="3">Tháng 3</option>
			 									<option value="4">Tháng 4</option>
			 									<option value="5">Tháng 5</option>
			 									<option value="6">Tháng 6</option>
			 									<option value="7">Tháng 7</option>
			 									<option value="8">Tháng 8</option>
			 									<option value="9">Tháng 9</option>
			 									<option value="10">Tháng 10</option>
			 									<option value="11">Tháng 11</option>
			 									<option value="12">Tháng 12</option>
				 								</select>
				 							</div>
	 						</div>
	 						<div class="col-sm-2" style="margin-bottom: 10px;">
	 							<div class="form-group">
				 					<label>Năm</label>
				 								<select class="form-control" id="cmb-nam" name="namHoc">
				 								</select>
				 							</div>
	 						</div>
	 						
	 						<div class="col-sm-4"></div>
	 						</div>
	 					<div class="form-group" align="center" style="clear: both;">
	 						<div class="input-group">
	 							<button class="btn btn-success btn-flat" type="button" id="view">Xem báo cáo</button>&nbsp;&nbsp;
	 							<button class="btn btn-success btn-flat" type="button" id="xls">Xuất file XLS</button>&nbsp;&nbsp;
	 							<button class="btn btn-success btn-flat" type="button" id="xlsx">Xuất file XLSX</button>&nbsp;&nbsp;
	 						</div>
	 					</div>
 					</form>
 					<div id="pdfRenderer" style="width: 100%; height: 866px;"></div>
 				</div>
 			</div>
 		</div>
 	</div>
 </section>