<!-- Content Header (Page header) -->
<section class="content-header">
     <h1>
		<th:block th:text="${MODEL.title}"></th:block>
		<a data-toggle="modal" data-target="#modIntro" href="#" title="Hướng dẫn sử dụng"><i class="fa fa-question-circle"></i></a>
		<small></small>
     </h1>
     <ol class="breadcrumb">
         <li>
             <a href=".">
                 <i class="fa fa-home"></i>
                 Trang chủ
             </a>
         </li>
         <li class="active" th:text="${MODEL.title}">Actived page</li>
     </ol>
 </section>
 <!-- Main content -->
 <section class="content">
 	<div class="row">
 		<div class="col-md-6">
 			<div class="box box-primary" id="box-frm">
 				<div class="box-header with-border">
 					<h3 class="box-title">Chuyển dữ liệu chỉ số nước</h3>
 				</div>
 				<div class="box-body">
 					<div class="row">
 						<div class="col-md-12">
 							<div class="form-group">
 								<label>Tổng số khách hàng</label>
 								<input type="text" name="tongSo" id="txt-tongso" class="form-control text-right" readonly="readonly" />
 							</div>
 							<div class="form-group">
 								<label>Tổng số khách hàng đã chuyển</label>
 								<input type="text" name="daChuyen" id="txt-dachuyen" class="form-control text-right" readonly="readonly" />
 							</div>
 							<div class="form-group">
 								<label>Tổng số khách hàng chưa chuyển</label>
 								<input type="text" name="chuaChuyen" id="txt-chuachuyen" class="form-control text-right" readonly="readonly" />
 							</div>
 						</div>
 					</div>
 				</div>
 				<div class="box-footer text-center">
 					<button class="btn btn-success btn-flat" type="button" id="btn-ok-1"><i class="fa fa-check-circle"></i> Chuyển tất cả khách hàng</button>&nbsp;&nbsp;
 					<button class="btn btn-success btn-flat" type="button" id="btn-ok-2"><i class="fa fa-check-circle"></i> Chuyển khách hàng chưa chuyển</button>
 				</div>
 			</div>
 		</div>
 		<div class="col-md-6">
			
 		</div>
 	</div>
 </section>
 <!-- /.content -->