<!-- Content Header (Page header) -->
<section class="content-header">
     <h1>
		<th:block th:text="${MODEL.title}"></th:block>
		<a data-toggle="modal" data-target="#modIntro" href="#" title="Hướng dẫn sử dụng"><i class="fa fa-question-circle"></i></a>
		<small></small>
     </h1>
     <ol class="breadcrumb">
         <li>
             <a href=".">
                 <i class="fa fa-home"></i>
                 Trang chủ
             </a>
         </li>
         <li class="active" th:text="${MODEL.title}">Actived page</li>
     </ol>
 </section>
 <!-- Main content -->
 <section class="content">
 	<div class="row">
 		<div class="col-md-8">
 			<div class="box box-primary" id="box-ds">
 				<div class="box-header with-border">
 					<h3 class="box-title">Đối tượng</h3>
 				</div>
 				<div class="box-body">
 					<div class="jdgrid" id="grid-ds"></div>
 				</div>
 				<div class="box-footer">
 					<div class="jdpage" id="page-ds"></div>
 				</div>
 			</div>
 		</div>
 		<div class="col-md-4">
 			<div class="box box-success" id="box-frm">
 				<div class="box-header with-border">
 					<h3 class="box-title">Thông tin đối tượng</h3>
 				</div>
 				<div class="box-body">
 					<form id="frm-1">
 						<div class="form-group">
	 						<label>Mã đối tượng</label>
	 						<input type="text" name="maDoiTuong" id="txt-maDoiTuong" class="form-control" maxlength="10"/>
	 					</div>
	 					<div class="form-group">
	 						<label>Tên đối tượng</label>
	 						<input type="text" name="tenDoiTuong" id="txt-tenDoiTuong" class="form-control"/>
	 					</div>
	 					<div class="form-group">
	 						<label>Mức sử dụng</label>
	 						<input type="text" name="mucSuDung" id="txt-mucSuDung" class="form-control number"/>
	 					</div>
	 					<input type="hidden" name="idDoiTuong" id="txt-idDoiTuong"/>
 					</form>
 				</div>
 				<div class="box-footer text-center">
 					<button class="btn btn-success btn-flat" type="button" id="btn-ok"><i class="fa fa-check-circle"></i> Lưu</button>&nbsp;&nbsp;
					<button class="btn btn-default btn-flat" type="button" id="btn-cancel"><i class="fa fa-times-circle"></i> Hủy</button>
 				</div>
 			</div>
 		</div>
 	</div>
 </section>
 <!-- /.content -->