<!-- Content Header (Page header) -->
<section class="content-header">
     <h1>
		<th:block th:text="${MODEL.title}"></th:block>
		<a data-toggle="modal" data-target="#modIntro" href="#" title="Hướng dẫn sử dụng"><i class="fa fa-question-circle"></i></a>
		<small></small>
     </h1>
     <ol class="breadcrumb">
         <li>
             <a href=".">
                 <i class="fa fa-home"></i>
                 Trang chủ
             </a>
         </li>
         <li class="active" th:text="${MODEL.title}">Actived page</li>
     </ol>
 </section>
 
 <div class="jdgrid" id="popover-content" style="display: none;"></div>
 <style type="text/css">
 .popover {
 	width: 400px;
 }
 </style>

<div class="modal" tabindex="-1" role="dialog" id="modForm">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title">Cập nhật chỉ số nước</h4>
			</div>
			<div class="modal-body">
				<div class="box box-solid" id="box-frm" style="margin-bottom: 0;">
					<form id="frm-1" class="form-horizontal">
	 					<div class="form-group">
	 						<div class="col-sm-4">
		 						<label>Chỉ số cũ</label>
		 						<div class="input-group">
	 								<input type="number" name="chiSoCu" id="txt-chisocu" class="form-control number" />
	 								<span class="input-group-btn"><button type="button" class="btn btn-default btn-flat" id="luuChiSoCu" title="Lưu chỉ số cũ"><i class="fa fa-check-circle"></i></button></span>
	 							</div>
	 						</div>
	 						<div class="col-sm-4">
		 						<label>Chỉ số mới</label>
		 						<div class="input-group">
	 								<input type="number" name="chiSoMoi" id="txt-chisomoi" class="form-control number" />
	 								<span class="input-group-btn"><button type="button" class="btn btn-default btn-flat" id="luuChiSoMoi" title="Lưu chỉ số mới"><i class="fa fa-check-circle"></i></button></span>
	 							</div>
	 						</div>
	 						<div class="col-sm-4">
		 						<label>Tiêu thụ</label>
		 						<div class="input-group">
	 								<input type="number" name="tieuThu" id="txt-tieuthu" class="form-control number" />
	 								<span class="input-group-btn"><button type="button" class="btn btn-default btn-flat" id="khoanTieuThu" title="Khoán tiêu thụ"><i class="fa fa-check-circle"></i></button></span>
	 							</div>
	 						</div>
	 					</div>
	 					<div class="form-group">
	 						<div class="col-sm-12">
		 						<label>Ghi chú</label>
		 						<input type="text" name="ghiChu" id="txt-ghichu" class="form-control" readonly="readonly" />
	 						</div>
	 					</div>
	 					<div class="form-group">
	 						<div class="col-sm-6">
		 						<label>Tiền nước</label>
		 						<div class="input-group">
	 								<input type="text" name="tienNuoc" id="txt-tiennuoc" class="form-control" readonly="readonly" />
	 								<span class="input-group-btn"><button type="button" class="btn btn-default btn-flat" id="chiTietTienNuoc" data-toggle="popover"><i class="fa fa-info"></i></button></span>
	 							</div>
	 						</div>
	 						<div class="col-sm-6">
	 							<label>Thuế GTGT</label>
	 							<input type="text" name="thue" id="txt-thue" class="form-control" readonly="readonly" />
	 						</div>
	 					</div>
	 					<div class="form-group">
	 						<div class="col-sm-6">
		 						<label>Phí BVMT</label>
		 						<input type="text" name="phiBvmt" id="txt-phibvmt" class="form-control" readonly="readonly" />
	 						</div>
	 						<div class="col-sm-6">
	 							<label>Tổng tiền</label>
	 							<input type="text" name="tongTien" id="txt-tongTien" class="form-control" readonly="readonly" />
	 						</div>
	 					</div>
	 					<div class="form-group">
	 						<div class="col-sm-6">
		 						<label>Trạng thái chỉ số</label>
		 						<input type="text" name="tenTrangThaiChiSo" id="txt-tentrangthaichiso" class="form-control" readonly="readonly" />
	 						</div>
	 						<div class="col-sm-6">
	 							<label>Trạng thái hóa đơn</label>
	 							<input type="text" name="tenTrangThaiHoaDon" id="txt-tentrangthaihoadon" class="form-control" readonly="readonly" />
	 						</div>
	 					</div>
	 					<div class="form-group">
	 						<div class="col-sm-6">
		 						<label>Mã khách hàng</label>
		 						<input type="text" name="maKhachHang" id="txt-makhachhang" class="form-control" readonly="readonly" />
	 						</div>
	 						<div class="col-sm-6">
	 							<label>Thứ tự</label>
	 							<input type="text" name="thuTu" id="txt-thutu" class="form-control number" readonly="readonly" />
	 						</div>
	 					</div>
	 					<div class="form-group">
	 						<div class="col-sm-6">
	 							<label>Tên khách hàng</label>
	 							<input type="text" readonly="readonly" name="tenKhachHang" id="txt-tenkhachhang" class="form-control" />
	 						</div>
	 						<div class="col-sm-6">
	 							<label>Địa chỉ sử dụng</label>
	 							<input type="text" readonly="readonly" name="diaChiSuDung" id="txt-diachisudung" class="form-control" />
	 						</div>
	 					</div>
	 					<div class="form-group">
	 						<div class="col-sm-6">
		 						<label>Đối tượng</label>
		 						<input type="text" name="tenDoiTuong" id="txt-tendoituong" class="form-control" readonly="readonly" />
	 						</div>
	 						<div class="col-sm-6">
	 							<div class="checkbox">
			 						<label>
			 							<input type="checkbox" id="chk-thupbvmt" disabled="disabled" name="thuPbvmt" value="1"/> Thu phí BVMT
			 						</label>
			 					</div>
	 						</div>
	 					</div>
	 					<div class="form-group" id="div-lydo" style="display: none;">
	 						<div class="col-sm-12">
		 						<label>Lý do cúp nước</label>
		 						<div class="input-group">
	 								<input type="text" name="lyDo" id="txt-lydo" class="form-control" />
	 								<span class="input-group-btn">
											<button type="button" class="btn btn-default btn-flat" id="cupNuoc"><i class="fa fa-check-circle"></i></button>
											<button type="button" class="btn btn-default btn-flat" id="huyCupNuoc"><i class="fa fa-times-circle"></i></button>
										</span>
	 							</div>
	 						</div>
	 					</div>
	 					<input type="hidden" name="idHoaDon" id="txt-idhoadon"/>
	 					<input type="hidden" name="mucSuDung" id="txt-mucsudung"/>
					</form>
					<div class="box-footer text-center">
	 					<button class="btn btn-default btn-flat" type="button" id="btn-prev" title="Khách hàng trước"><i class="fa fa-step-backward"></i></button>&nbsp;&nbsp;
	 					<button class="btn btn-success btn-flat" type="button" id="btn-ok"><i class="fa fa-check-circle"></i> Phát hành</button>&nbsp;&nbsp;
	 					<button class="btn btn-default btn-flat" type="button" id="btn-khongxai"><i class="fa fa-ban"></i> Không xài</button>&nbsp;&nbsp;
	 					<button class="btn btn-default btn-flat" type="button" id="btn-chuaghi"><i class="fa fa-ban"></i> Chưa ghi</button>&nbsp;&nbsp;
	 					<button class="btn btn-default btn-flat" type="button" id="btn-cupnuoc"><i class="fa fa-ban"></i> Cúp nước</button>&nbsp;&nbsp;
						<button class="btn btn-default btn-flat" type="button" id="btn-cancel" data-dismiss="modal"><i class="fa fa-times-circle"></i> Đóng</button>&nbsp;&nbsp;
						<button class="btn btn-default btn-flat" type="button" id="btn-next" title="Khách hàng sau"><i class="fa fa-step-forward"></i></button>
	 				</div>
	 			</div>
			</div>
		</div>
	</div>
</div>
 
 <!-- Main content -->
 <section class="content">
 	<div class="row">
 		<div class="col-md-12">
 			<div class="box box-primary" id="box-ds">
 				<div class="box-header with-border">
 					<h3 class="box-title">Danh sách chỉ số nước</h3>
 				</div>
 				<div class="box-body">
 					<div class="row">
 						<div class="col-md-2">
 							<div class="form-group">
 								<select class="form-control" id="cmb-phuong-filter">
 									<option value="0">-- Tất cả các phường --</option>
 								</select>
 							</div>
 						</div>
 						<div class="col-md-2">
 							<div class="form-group">
 								<select class="form-control" id="cmb-to-filter">
 									<option value="0">-- Tất cả các tổ --</option>
 								</select>
 							</div>
 						</div>
 						<div class="col-md-2">
 							<div class="form-group">
 								<select class="form-control" id="cmb-ttchiso-filter">
 									<option value="0">-- Tất cả trạng thái chỉ số --</option>
 								</select>
 							</div>
 						</div>
 						<div class="col-md-3">
 							<div class="form-group">
 								<select class="form-control" id="cmb-tthoadon-filter">
 									<option value="0">-- Tất cả trạng thái hóa đơn --</option>
 								</select>
 							</div>
 						</div>
 						<div class="col-md-3">
 							<div class="form-group">
 								<div class="input-group">
 									<input type="text" id="txt-keyword" class="form-control" placeholder="Thông tin tìm kiếm"/>
 									<span class="input-group-btn">
 										<button type="button" class="btn btn-default btn-flat" id="btn-search"><i class="fa fa-search"></i></button>
 										<button type="button" class="btn btn-default btn-flat" id="btn-clear-search"><i class="fa fa-times-circle"></i></button>
 									</span>
 								</div>
 							</div>
 						</div>
 					</div>
 					<div class="jdgrid" id="grid-ds"></div>
 				</div>
 				<div class="box-footer">
 					<div class="jdpage" id="page-ds"></div>
 				</div>
 			</div>
 		</div>
 	</div>
 </section>
 <!-- /.content -->