<!-- Content Header (Page header) -->
<section class="content-header">
     <h1>
		<th:block th:text="${MODEL.title}"></th:block>
		<a data-toggle="modal" data-target="#modIntro" href="#" title="Hướng dẫn sử dụng"><i class="fa fa-question-circle"></i></a>
		<small></small>
     </h1>
     <ol class="breadcrumb">
         <li>
             <a href=".">
                 <i class="fa fa-home"></i>
                 Trang chủ
             </a>
         </li>
         <li class="active" th:text="${MODEL.title}">Actived page</li>
     </ol>
 </section>
 <!-- Main content -->
 <section class="content">
 	<div class="row">
 		<div class="col-md-7">
 			<div class="box box-primary" id="box-ds">
 				<div class="box-header with-border">
 					<h3 class="box-title">Khách hàng</h3>
 				</div>
 				<div class="box-body">
 					<div class="row">
 						<div class="col-md-4">
 							<div class="form-group">
 								<select class="form-control" id="cmb-phuong-filter">
 									<option value="0">-- Tất cả các phường --</option>
 								</select>
 							</div>
 						</div>
 						<div class="col-md-4">
 							<div class="form-group">
 								<select class="form-control" id="cmb-to-filter">
 									<option value="0">-- Tất cả các tổ --</option>
 								</select>
 							</div>
 						</div>
 						<div class="col-md-4">
 							<div class="form-group">
 								<div class="input-group">
 									<input type="text" id="txt-keyword" class="form-control" placeholder="Thông tin tìm kiếm"/>
 									<span class="input-group-btn">
 										<button type="button" class="btn btn-default btn-flat" id="btn-search"><i class="fa fa-search"></i></button>
 										<button type="button" class="btn btn-default btn-flat" id="btn-clear-search"><i class="fa fa-times-circle"></i></button>
 									</span>
 								</div>
 							</div>
 						</div>
 					</div>
 					<div class="jdgrid" id="grid-ds"></div>
 				</div>
 				<div class="box-footer">
 					<div class="jdpage" id="page-ds"></div>
 				</div>
 			</div>
 		</div>
 		<div class="col-md-5">
 			<div class="box box-success" id="box-frm">
 				<div class="box-header with-border">
 					<h3 class="box-title">Thông tin khách hàng</h3>
 				</div>
 				<div class="box-body">
 					<form id="frm-1" class="form-horizontal">
	 					<div class="form-group">
	 						<div class="col-sm-6">
		 						<label>Mã khách hàng</label>
		 						<input type="text" name="maKhachHang" id="txt-makhachhang" class="form-control" />
	 						</div>
	 						<div class="col-sm-6">
	 							<label>Thứ tự</label>
	 							<input type="text" name="thuTu" id="txt-thutu" class="form-control number" value="0" />
	 						</div>
	 					</div>
	 					<div class="form-group">
	 						<div class="col-sm-3">
		 						<label>Họ</label>
		 						<input type="text" name="ho" id="txt-ho" class="form-control" />
	 						</div>
	 						<div class="col-sm-3">
	 							<label>Tên</label>
	 							<input type="text" name="ten" id="txt-ten" class="form-control" />
	 						</div>
	 						<div class="col-sm-6">
	 							<label>Tên khách hàng</label>
	 							<input type="text" readonly="readonly" name="tenKhachHang" id="txt-tenkhachhang" class="form-control" />
	 						</div>
	 					</div>
	 					<div class="form-group">
	 						<div class="col-sm-6">
		 						<label>Địa chỉ sử dụng</label>
		 						<div class="input-group">
	 								<input type="text" name="diaChiSuDung" id="txt-diachisudung" class="form-control" />
	 								<span id="saoChep" title="Sao chép địa chỉ sử dụng" class="input-group-addon"><i class="fa fa-clipboard"></i></span>
	 							</div>
	 						</div>
	 						<div class="col-sm-6">
	 							<label>Địa chỉ thanh toán</label>
	 							<input type="text" name="diaChiThanhToan" id="txt-diachithanhtoan" class="form-control" />
	 						</div>
	 					</div>
	 					<div class="form-group">
	 						<div class="col-sm-6">
		 						<label>Số điện thoại</label>
		 						<input type="text" name="soDienThoai" id="txt-sodienthoai" class="form-control" />
	 						</div>
	 						<div class="col-sm-6">
	 							<label>Số CMND</label>
	 							<input type="text" name="soCmnd" id="txt-socmnd" class="form-control" />
	 						</div>
	 					</div>
	 					<div class="form-group">
	 						<div class="col-sm-6">
		 						<label>Mã số thuế</label>
		 						<input type="text" name="maSoThue" id="txt-masothue" class="form-control" />
	 						</div>
	 						<div class="col-sm-6">
	 							<label>Số tài khoản</label>
	 							<input type="text" name="soTaiKhoan" id="txt-sotaikhoan" class="form-control" />
	 						</div>
	 					</div>
	 					<div class="form-group">
	 						<div class="col-sm-6">
		 						<label>Tên tài khoản</label>
		 						<input type="text" name="tenTaiKhoan" id="txt-tentaikhoan" class="form-control" />
	 						</div>
	 						<div class="col-sm-6">
	 							<label>Ngân hàng</label>
	 							<select name="idNganHang" id="cmb-nganhang" class="form-control">
	 								<option value="">Không có tài khoản ngân hàng</option>
	 							</select>
	 						</div>
	 					</div>
	 					<div class="form-group">
	 						<div class="col-sm-6">
		 						<label>Phường</label>
		 						<select name="idDuong" id="cmb-phuong" class="form-control"></select>
	 						</div>
	 						<div class="col-sm-6">
	 							<label>Tổ</label>
	 							<select name="idSoGhi" id="cmb-to" class="form-control"></select>
	 						</div>
	 					</div>
	 					<div class="form-group">
	 						<div class="col-sm-6">
	 							<label>Số hợp đồng</label>
	 							<input type="text" name="soHopDong" id="txt-sohopdong" class="form-control"/>
	 						</div>
	 						<div class="col-sm-6">
	 							<label>Ngày lập hợp đồng</label>
	 							<div class="input-group">
	 								<input type="text" name="ngayLapHopDong" id="txt-ngaylaphopdong" class="form-control chon-ngay input-mask" data-inputmask="'alias': 'dd/mm/yyyy'"/>
	 								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
	 							</div>
	 						</div>
	 					</div>
	 					<div class="form-group">
	 						<div class="col-sm-6">
	 							<label>Ngày đăng ký</label>
	 							<div class="input-group">
	 								<input type="text" name="ngayDangKy" id="txt-ngaydangky" class="form-control chon-ngay input-mask" data-inputmask="'alias': 'dd/mm/yyyy'"/>
	 								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
	 							</div>
	 						</div>
	 						<div class="col-sm-6">
	 							<label>Ngày lắp đặt</label>
	 							<div class="input-group">
	 								<input type="text" name="ngayLapDat" id="txt-ngaylapdat" class="form-control chon-ngay input-mask" data-inputmask="'alias': 'dd/mm/yyyy'"/>
	 								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
	 							</div>
	 						</div>
	 					</div>
	 					<div class="form-group">
	 						<div class="col-sm-6">
		 						<label>Đối tượng</label>
		 						<select name="idDoiTuong" id="cmb-doituong" class="form-control"></select>
	 						</div>
	 						<div class="col-sm-6">
	 							<div class="checkbox">
			 						<label>
			 							<input type="checkbox" id="chk-thupbvmt" checked="checked" name="thuPbvmt" value="1"/> Thu phí BVMT
			 						</label>
			 					</div>
	 						</div>
	 					</div>
	 					<input type="hidden" name="idThongTinKhachHang" id="txt-idthongtinkhachhang"/>
 					</form>
 				</div>
 				<div class="box-footer text-center">
 					<button class="btn btn-success btn-flat" type="button" id="btn-ok"><i class="fa fa-check-circle"></i> Lưu</button>&nbsp;&nbsp;
					<button class="btn btn-default btn-flat" type="button" id="btn-cancel"><i class="fa fa-times-circle"></i> Hủy</button>
 				</div>
 			</div>
 		</div>
 	</div>
 </section>
 <!-- /.content -->

<div class="modal" tabindex="-1" role="dialog" id="modPrint">
	<div class="modal-dialog modal-lg" role="document" style="height: 90%;">
		<div class="modal-content" style="height: 100%;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title">In hóa đơn nước</h4>
			</div>
			<div class="modal-body" style="height: 90%;">
				<div class="box box-solid" id="box-modPrint" style="margin-bottom: 0;">
					<div id="pdfRenderer" style="width: 100%; height: 500px;"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="modForm">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title">Quản lý đồng hồ nước</h4>
			</div>
			<div class="modal-body">
				<div class="box box-solid" id="box-frm-2" style="margin-bottom: 0;">
					<form id="frm-2" class="form-horizontal">
	 					<div class="form-group">
	 						<div class="col-sm-4">
	 							<label>Mã đồng hồ</label>
	 							<div class="input-group">
	 								<input type="text" name="maDongHo" id="txt-madongho" class="form-control"/>
	 								<span class="input-group-btn"><button type="button" class="btn btn-default btn-flat" id="kiemTra" title="Kiểm tra"><i class="fa fa-check-circle"></i></button></span>
	 							</div>
	 						</div>
	 						<div class="col-sm-4">
	 							<label>Chủng loại</label>
	 							<input type="text" name="chungLoai" id="txt-chungloai" class="form-control"/>
	 						</div>
	 						<div class="col-sm-4">
	 							<label>Số seri</label>
	 							<input type="text" name="soSeri" id="txt-soseri" class="form-control"/>
	 						</div>
	 					</div>
	 					<div class="form-group">
	 						<div class="col-sm-4">
	 							<label>Kích cỡ</label>
	 							<input type="text" name="kichCo" id="txt-kichco" class="form-control"/>
	 						</div>
	 						<div class="col-sm-4">
	 							<label>Hệ số nhân</label>
	 							<input type="text" name="heSoNhan" id="txt-hesonhan" class="form-control number"/>
	 						</div>
	 						<div class="col-sm-4">
	 							<label>Chỉ số cực đại</label>
	 							<input type="text" name="chiSoCucDai" id="txt-chisocucdai" class="form-control number"/>
	 						</div>
	 					</div>
	 					<div class="form-group">
	 						<div class="col-sm-4">
	 							<label>Nhà sản xuất</label>
	 							<input type="text" name="nhaSanXuat" id="txt-nhasanxuat" class="form-control"/>
	 						</div>
	 						<div class="col-sm-4">
	 							<label>Ngày sản xuất</label>
	 							<div class="input-group">
	 								<input type="text" name="ngaySanXuat" id="txt-ngaysanxuat" class="form-control chon-ngay input-mask" data-inputmask="'alias': 'dd/mm/yyyy'"/>
	 								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
	 							</div>
	 						</div>
	 						<div class="col-sm-4">
	 							<label>Ngày đưa vào sử dụng</label>
	 							<div class="input-group">
	 								<input type="text" name="ngayDuaVaoSuDung" id="txt-ngayduavaosudung" class="form-control chon-ngay input-mask" data-inputmask="'alias': 'dd/mm/yyyy'"/>
	 								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
	 							</div>
	 						</div>
	 					</div>
	 					<div class="form-group">
	 						<div class="col-sm-4">
	 							<label>Ngày hết hạn bảo hành</label>
	 							<div class="input-group">
	 								<input type="text" name="ngayHetHanBaoHanh" id="txt-ngayhethanbaohanh" class="form-control chon-ngay input-mask" data-inputmask="'alias': 'dd/mm/yyyy'"/>
	 								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
	 							</div>
	 						</div>
	 						<div class="col-sm-4">
	 							<label>Ngày kiểm định</label>
	 							<div class="input-group">
	 								<input type="text" name="ngayKiemDinh" id="txt-ngaykiemdinh" class="form-control chon-ngay input-mask" data-inputmask="'alias': 'dd/mm/yyyy'"/>
	 								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
	 							</div>
	 						</div>
	 						<div class="col-sm-4">
	 							<label>Ngày sửa chữa lần cuối</label>
	 							<div class="input-group">
	 								<input type="text" name="ngaySuaChuaLanCuoi" id="txt-ngaysuachualancuoi" class="form-control chon-ngay input-mask" data-inputmask="'alias': 'dd/mm/yyyy'"/>
	 								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
	 							</div>
	 						</div>
	 					</div>
	 					<div class="form-group">
	 						<div class="col-sm-8">
	 							<label>Ghi chú sửa chữa lần cuối</label>
	 							<input type="text" name="ghiChuSuaChuaLanCuoi" id="txt-ghichusuachualancuoi" class="form-control"/>
	 						</div>
	 						<div class="col-sm-4">
	 							<label>Trạng thái đồng hồ</label>
	 							<select name="idTrangThaiDongHo" id="cmb-trangthaidongho" class="form-control"></select>
	 						</div>
	 					</div>
	 					<input type="hidden" name="idDongHo" id="txt-iddongho"/>
	 					<input type="hidden" name="idKhachHang" id="txt-idkhachhang-dh"/>
	 					<div class="box-footer text-center">
		 					<button class="btn btn-success btn-flat" type="button" id="btn-ok-2"><i class="fa fa-check-circle"></i> Lưu</button>&nbsp;&nbsp;
							<button class="btn btn-danger btn-flat" type="button" id="btn-cancel-2"><i class="fa fa-trash-o"></i> Xóa</button>&nbsp;&nbsp;
							<button class="btn btn-default btn-flat" type="button" id="btn-cancel-3" data-dismiss="modal"><i class="fa fa-times-circle"></i> Đóng</button>
		 				</div>
 					</form>
 					<!--
 					<div class="jdgrid" id="grid-detail"></div>
 					<div class="box-footer">
	 					<div class="jdpage" id="page-detail"></div>
	 				</div>
	 				-->
	 			</div>
			</div>
		</div>
	</div>
</div>
