<!-- Content Header (Page header) -->
<section class="content-header">
     <h1>
		<th:block th:text="${MODEL.title}"></th:block>
		<a data-toggle="modal" data-target="#modIntro" href="#" title="Hướng dẫn sử dụng"><i class="fa fa-question-circle"></i></a>
		<small></small>
     </h1>
     <ol class="breadcrumb">
         <li>
             <a href=".">
                 <i class="fa fa-home"></i>
                 Trang chủ
             </a>
         </li>
         <li class="active" th:text="${MODEL.title}">Actived page</li>
     </ol>
 </section>
 <!-- Main content -->
 <section class="content">
 	<div class="row">
 		<div class="col-md-12">
 			<div class="box box-primary" id="box-ds">
 				<div class="box-header with-border">
 					<h3 class="box-title">Ngân hàng</h3>
 				</div>
 				<div class="box-body">
 					<form id="frm-1">
	 					<div class="form-group">
	 						<div class="input-group">
	 							<input type="hidden" name="idNganHang" id="txt-idNganHang"/>
	 							<input type="text" name="tenNganHang" id="txt-tenNganHang" class="form-control" placeholder="Tên ngân hàng"/>
	 							<span class="input-group-btn">
	 								<button class="btn btn-default btn-flat" type="button" id="btn-ok"><i class="fa fa-check-circle"></i></button>
	 								<button class="btn btn-default btn-flat" type="button" id="btn-cancel"><i class="fa fa-times-circle"></i></button>
	 							</span>
	 						</div>
	 					</div>
 					</form>
 					<div class="jdgrid" id="grid-ds"></div>
 				</div>
 				<div class="box-footer">
 					<div class="jdpage" id="page-ds"></div>
 				</div>
 			</div>
 		</div>
 	</div>
 </section>
 <!-- /.content -->