<!-- Content Header (Page header) -->
<section class="content-header">
     <h1>
		<th:block th:text="${MODEL.title}"></th:block>
		<a data-toggle="modal" data-target="#modIntro" href="#" title="Hướng dẫn sử dụng"><i class="fa fa-question-circle"></i></a>
		<small></small>
     </h1>
     <ol class="breadcrumb">
         <li>
             <a href=".">
                 <i class="fa fa-home"></i>
                 Trang chủ
             </a>
         </li>
         <li class="active" th:text="${MODEL.title}">Actived page</li>
     </ol>
 </section>
 <!-- Main content -->
 <section class="content">
 	<div class="row">
 		<div class="col-md-6">
 			<div class="box box-primary" id="box-frm">
 				<div class="box-header with-border">
 					<h3 class="box-title">Thanh toán chuyển khoản</h3>
 				</div>
 				<div class="box-body">
 					<div class="row">
 						<div class="col-md-12">
 							<div class="form-group">
 								<label>Tổng số hóa đơn</label>
 								<input type="text" name="tongSo" id="txt-tongso" class="form-control text-right" readonly="readonly" />
 							</div>
 							<div class="form-group">
 								<label>Tổng số hóa đơn đã thanh toán</label>
 								<input type="text" name="daThanhToan" id="txt-dathanhtoan" class="form-control text-right" readonly="readonly" />
 							</div>
 							<div class="form-group">
 								<label>Tổng số hóa đơn chưa thanh toán</label>
 								<input type="text" name="chuaThanhToan" id="txt-chuathanhtoan" class="form-control text-right" readonly="readonly" />
 							</div>
 						</div>
 					</div>
 				</div>
 				<div class="box-footer text-center">
 					<button class="btn btn-success btn-flat" type="button" id="btn-ok-1"><i class="fa fa-check-circle"></i> Thanh toán chuyển khoản</button>&nbsp;&nbsp;
 					<button class="btn btn-default btn-flat" type="button" id="btn-more-thanhtoan" data-toggle="modal" data-target="#modThanhToan"><i class="fa fa-bars"></i> Danh sách thanh toán</button>
 				</div>
 			</div>
 		</div>
 		<div class="col-md-6">
			
 		</div>
 	</div>
 </section>
 <!-- /.content -->
 
<div class="modal" tabindex="-1" role="dialog" id="modThanhToan">
	<div class="modal-dialog modal-lg" role="document" style="height: 90%; width: 90%;">
		<div class="modal-content" style="height: 100%;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title">Danh sách thanh toán</h4>
			</div>
			<div class="modal-body" style="height: 90%;">
				<div class="box box-solid" id="list-thanhtoan" style="margin-bottom: 0;">
					<div class="box-body">
	 					<div class="row">
	 						<div class="col-md-4"></div>
	 						<div class="col-md-4"></div>
	 						<div class="col-md-4">
	 							<div class="form-group">
	 								<div class="input-group">
	 									<input type="text" id="txt-keyword-thanhtoan" class="form-control" placeholder="Thông tin tìm kiếm"/>
	 									<span class="input-group-btn">
	 										<button type="button" class="btn btn-default btn-flat" id="btn-search-thanhtoan"><i class="fa fa-search"></i></button>
	 										<button type="button" class="btn btn-default btn-flat" id="btn-clear-search-thanhtoan"><i class="fa fa-times-circle"></i></button>
	 									</span>
	 								</div>
	 							</div>
	 						</div>
	 					</div>
	 					<div class="jdgrid" id="grid-ds-thanhtoan"></div>
	 				</div>
	 				<div class="box-footer">
	 					<div class="jdpage" id="page-ds-thanhtoan"></div>
	 				</div>
	 			</div>
			</div>
		</div>
	</div>
</div>