<!-- Content Header (Page header) -->
<section class="content-header">
     <h1>
		<th:block th:text="${MODEL.title}"></th:block>
		<a data-toggle="modal" data-target="#modIntro" href="#" title="Hướng dẫn sử dụng"><i class="fa fa-question-circle"></i></a>
		<small></small>
     </h1>
     <ol class="breadcrumb">
         <li>
             <a href=".">
                 <i class="fa fa-home"></i>
                 Trang chủ
             </a>
         </li>
         <li class="active" th:text="${MODEL.title}">Actived page</li>
     </ol>
 </section>
 <!-- Main content -->
 <section class="content">
 	<div class="row">
 		<div class="col-md-6">
 			<div class="box box-primary" id="box-ds">
 				<div class="box-header with-border">
 					<h3 class="box-title">Thông tin thanh toán</h3>
 				</div>
 				<div class="box-body">
 					<div class="row">
 						<div class="col-md-6">
 							<div class="form-group">
 								<div class="input-group">
 									<input type="text" id="txt-makhachhang-filter" class="form-control" placeholder="Thông tin tìm kiếm"/>
 									<span class="input-group-btn">
 										<button type="button" class="btn btn-default btn-flat" id="btn-search-makh" title="Tìm khách hàng"><i class="fa fa-search"></i></button>
 										<button type="button" class="btn btn-default btn-flat" id="btn-more-search" data-toggle="modal" data-target="#modInfo" title="Danh sách khách hàng"><i class="fa fa-bars"></i></button>
 									</span>
 								</div>
 							</div>
 						</div>
 						<div class="col-md-6">
 							<div class="form-group">
 								<div class="input-group">
	 								<input type="text" id="txt-tongtienthanhtoan" class="form-control" readonly="readonly"/>
	 								<span class="input-group-btn">
	 									<button type="button" class="btn btn-default btn-flat" id="btnThanhToan" title="Thanh toán"><i class="fa fa-check-circle"></i></button>
	 									<button type="button" class="btn btn-default btn-flat" id="btn-more-thanhtoan" data-toggle="modal" data-target="#modThanhToan" title="Danh sách thanh toán"><i class="fa fa-bars"></i></button>
	 								</span>
	 							</div>
 							</div>
 						</div>
 					</div>
 					<div class="jdgrid" id="grid-hoadon"></div>
 				</div>
 			</div>
 		</div>
 		<div class="col-md-6">
 			<div class="box box-success" id="box-frm">
 				<div class="box-header with-border">
 					<h3 class="box-title">Thông tin khách hàng</h3>
 				</div>
 				<div class="box-body">
 					<form id="frm-1" class="form-horizontal">
	 					<div class="form-group">
	 						<div class="col-sm-6">
	 							<label>Thứ tự</label>
	 							<input type="text" name="thuTu" id="txt-thutu" class="form-control" readonly="readonly"/>
	 						</div>
	 						<div class="col-sm-6">
	 							<label>Mã khách hàng</label>
	 							<input type="text" name="maKhachHang" id="txt-makhachhang" class="form-control" readonly="readonly"/>
	 						</div>
	 					</div>
	 					<div class="form-group">
	 						<div class="col-sm-6">
		 						<label>Mã đồng hồ</label>
		 						<input type="text" name="maDongHo" id="txt-madongho" class="form-control" readonly="readonly"/>
	 						</div>
	 						<div class="col-sm-6">
		 						<label>Tên khách hàng</label>
		 						<input type="text" name="tenKhachHang" id="txt-tenkhachhang" class="form-control" readonly="readonly"/>
	 						</div>
	 					</div>
	 					<div class="form-group">
	 						<div class="col-sm-6">
	 							<label>Đối tượng</label>
	 							<input type="text" name="tenDoiTuong" id="txt-tendoituong" class="form-control" readonly="readonly"/>
	 						</div>
	 						<div class="col-sm-6">
		 						<label>Địa chỉ</label>
		 						<input type="text" name="diaChiThanhToan" id="txt-diachithanhtoan" class="form-control" readonly="readonly"/>
	 						</div>
	 					</div>
	 					<div class="form-group">
	 						<div class="col-sm-12">
		 						<div class="checkbox">
			 						<label>
			 							<input disabled="disabled" type="checkbox" id="chk-thupbvmt" name="ThuPbvmt" value="1"/> Thu phí BVMT
			 						</label>
			 					</div>
	 						</div>
	 					</div>
 					</form>
 					<hr/>
 					<div class="jdgrid" id="grid-thanhtoan"></div>
 				</div>
 				<div class="box-footer">
 					<div class="jdpage" id="page-thanhtoan"></div>
 				</div>
 			</div>
 		</div>
 	</div>
 </section>
 <!-- /.content -->

<div class="modal" tabindex="-1" role="dialog" id="modInfo">
	<div class="modal-dialog modal-lg" role="document" style="height: 90%; width: 90%;">
		<div class="modal-content" style="height: 100%;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title">Danh sách khách hàng</h4>
			</div>
			<div class="modal-body" style="height: 90%;">
				<div class="box box-solid" id="list-khachhang" style="margin-bottom: 0;">
					<div class="box-body">
	 					<div class="row">
	 						<div class="col-md-4">
	 							<div class="form-group">
	 								<select class="form-control" id="cmb-phuong-filter">
	 									<option value="0">-- Tất cả các phường --</option>
	 								</select>
	 							</div>
	 						</div>
	 						<div class="col-md-4">
	 							<div class="form-group">
	 								<select class="form-control" id="cmb-to-filter">
	 									<option value="0">-- Tất cả các tổ --</option>
	 								</select>
	 							</div>
	 						</div>
	 						<div class="col-md-4">
	 							<div class="form-group">
	 								<div class="input-group">
	 									<input type="text" id="txt-keyword" class="form-control" placeholder="Thông tin tìm kiếm"/>
	 									<span class="input-group-btn">
	 										<button type="button" class="btn btn-default btn-flat" id="btn-search"><i class="fa fa-search"></i></button>
	 										<button type="button" class="btn btn-default btn-flat" id="btn-clear-search"><i class="fa fa-times-circle"></i></button>
	 									</span>
	 								</div>
	 							</div>
	 						</div>
	 					</div>
	 					<div class="jdgrid" id="grid-ds"></div>
	 				</div>
	 				<div class="box-footer">
	 					<div class="jdpage" id="page-ds"></div>
	 				</div>
	 			</div>
			</div>
		</div>
	</div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="modThanhToan">
	<div class="modal-dialog modal-lg" role="document" style="height: 90%; width: 90%;">
		<div class="modal-content" style="height: 100%;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title">Danh sách thanh toán</h4>
			</div>
			<div class="modal-body" style="height: 90%;">
				<div class="box box-solid" id="list-thanhtoan" style="margin-bottom: 0;">
					<div class="box-body">
	 					<div class="row">
	 						<div class="col-md-4"></div>
	 						<div class="col-md-4"></div>
	 						<div class="col-md-4">
	 							<div class="form-group">
	 								<div class="input-group">
	 									<input type="text" id="txt-keyword-thanhtoan" class="form-control" placeholder="Thông tin tìm kiếm"/>
	 									<span class="input-group-btn">
	 										<button type="button" class="btn btn-default btn-flat" id="btn-search-thanhtoan"><i class="fa fa-search"></i></button>
	 										<button type="button" class="btn btn-default btn-flat" id="btn-clear-search-thanhtoan"><i class="fa fa-times-circle"></i></button>
	 									</span>
	 								</div>
	 							</div>
	 						</div>
	 					</div>
	 					<div class="jdgrid" id="grid-ds-thanhtoan"></div>
	 				</div>
	 				<div class="box-footer">
	 					<div class="jdpage" id="page-ds-thanhtoan"></div>
	 				</div>
	 			</div>
			</div>
		</div>
	</div>
</div>