<!-- Content Header (Page header) -->
<section class="content-header">
     <h1>
		<th:block th:text="${MODEL.title}"></th:block>
		<a data-toggle="modal" data-target="#modIntro" href="#" title="Hướng dẫn sử dụng"><i class="fa fa-question-circle"></i></a>
		<small></small>
     </h1>
     <ol class="breadcrumb">
         <li>
             <a href=".">
                 <i class="fa fa-home"></i>
                 Trang chủ
             </a>
         </li>
         <li class="active" th:text="${MODEL.title}">Actived page</li>
     </ol>
 </section>
 <!-- Main content -->
 <section class="content">
 	<div class="row">
 		<div class="col-md-6">
 			<div class="box box-primary" id="box-frm">
 				<div class="box-header with-border">
 					<h3 class="box-title">Thiết lập tham số làm việc</h3>
 				</div>
 				<div class="box-body">
 					<div class="row">
 						<div class="col-md-12">
 							<div class="form-group">
 								<label>Đơn vị làm việc</label>
 								<select class="form-control" id="cmb-donvi"></select>
 							</div>
 							<div class="form-group">
 								<label>Khu vực làm việc</label>
 								<select class="form-control" id="cmb-khuvuc"></select>
 							</div>
 							<div class="form-group">
 								<label>Tháng làm việc</label>
 								<select class="form-control" id="cmb-thang"></select>
 							</div>
 						</div>
 					</div>
 				</div>
 				<div class="box-footer text-center">
 					<button class="btn btn-success btn-flat" type="button" id="btn-ok"><i class="fa fa-check-circle"></i> Thiết lập</button>
 				</div>
 			</div>
 		</div>
 		<div class="col-md-6">
			
 		</div>
 	</div>
 </section>
 <!-- /.content -->
 
<div class="modal" tabindex="-1" role="dialog" id="modIntro">
	<div class="modal-dialog modal-lg" role="document" style="height: 90%;">
		<div class="modal-content" style="height: 100%;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title">Hướng dẫn sử dụng</h4>
			</div>
			<div class="modal-body" style="height: 90%;">
				<embed style="width: 100%; height: 100%;" src="help/khach_hang.pdf" type="application/pdf" />
			</div>
		</div>
	</div>
</div>