<!-- Content Header (Page header) -->
<section class="content-header">
     <h1>
		<th:block th:text="${MODEL.title}"></th:block>
		<small></small>
     </h1>
     <ol class="breadcrumb">
         <li>
             <a href=".">
                 <i class="fa fa-home"></i>
                 Trang chủ
             </a>
         </li>
         <li class="active" th:text="${MODEL.title}">Actived page</li>
     </ol>
 </section>
 <!-- Main content -->
 <section class="content">
 	<div class="row">
 		<div class="col-md-6">
 			<div class="box box-primary" id="box-ds"> 				
 				<div class="box-body">
 					<div class="box-header with-border">
				 		<h3 class="box-title">Cập nhật thông tin cá nhân</h3>
				 	</div>
					<div class="box-body">
				 		<form id="frm-nguoi-dung" onsubmit="return false">
					 		<div class="form-group">
						 		<input type="hidden" name="idNguoiDung" id="inputidNguoiDung" />
							 	<label>Tên đăng nhập</label>
							 	<input type="text" class="form-control required" name="tenNguoiDung" id="inputtenNguoiDung" />
							</div>		
							<div class="form-group">		
						 		<label>Họ tên</label>
						 		<input type="text" class="form-control required" name="hoTen" id="inputhoTen"/>
						 	</div>		 				
						</form>
				 	</div>
				 	<div class="box-footer text-center">
				 		<button class="btn btn-success btn-flat" type="button" id="btn-submit"><i class="fa fa-check-circle"></i> Cập nhật</button>
				 	</div>
 				</div>
 			</div>
 		</div>
 		<div class="col-md-6">
 			<div class="box box-success" id="box-frm"> 				
 				<div class="box-body">
					<div class="box-header with-border">
			 			<h3 class="box-title">Đổi mật khẩu</h3>
			 		</div>
					<div class="box-body">
			 			<form id="frm-mat-khau" onsubmit="return false">
				 			<div class="form-group">
						 		<label>Mật khẩu cũ</label>
						 		<input type="password" class="form-control required2" name="oldPass" id="inputoldPass" />
						 	</div>		
						 	<div class="form-group">		
					 			<label>Mật khẩu mới</label>
					 			<input type="password" class="form-control required2" name="newPass" id="inputnewPass" />
					 		</div>	
					 		<div class="form-group">
					 			<label>Nhập lại mật khẩu mới</label>	
					 			<input type="password" class="form-control required2" name="reNewPass" id="inputreNewPass" />
					 		</div>			 				
						</form>
			 		</div>
			 		<div class="box-footer text-center">
			 			<button class="btn btn-default btn-flat" type="button" id="btnHuy"><i class="fa fa-times-circle"></i> Hủy</button>&nbsp;&nbsp;
						<button class="btn btn-success btn-flat" type="button" id="btnCapNhat"><i class="fa fa-check-circle"></i> Cập nhật</button>
			 		</div>
 				</div>
 			</div>
 		</div>
 	</div>
 </section>
 <!-- /.content -->